.container {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 150px;
}

.title {
  font-family: "colfax regular";
  color: #D1D0D6;
  font-size: 18px;
}

.sub-title {
  font-family: "colfax medium";
  color: #55546D;
  font-size: 40px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
  grid-gap: 15px;
  margin-top: 20px;
}
.grid-item {
  border-left: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: 2px solid #E1E1E1;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
  background-color: white;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 9px;
}

.card-title {
  font-family: "colfax regular";
}
.ct-icon1 {
  background-color: rgb(220, 207, 254);
  border-radius: 999px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 13px;
  padding-bottom: 9px;
  width: 28px;
}

.ct-icon2 {
  background-color: #C5C5D8;
  border-radius: 999px;
  padding: 5px;
  padding-right: 6px;
  padding-left: 7px;
  padding-top: 13px;
  padding-bottom: 9px;
  width: 28px;
}


.ct-icon3 {
  background-color: #A9F8CD;
  border-radius: 999px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 13px;
  padding-bottom: 9px;
  width: 28px;
}

.ct-icon4 {
  background-color: #FFE0BC;
  border-radius: 999px;
  padding: 5px;
  padding-right: 6px;
  padding-left: 7px;
  padding-top: 13px;
  padding-bottom: 9px;
  width: 28px;
}



.cti-in {
  background-color: rgb(152, 112, 251);
  border-radius: 999px;
  padding-right: 9px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: center;
  font-family: "colfax regular";
  color: white;
}


.ct-text {
  font-family: "colfax Medium";
  margin-top: 15px;
  font-size: 19px;
}

.card-info {
  margin-top: 10px;
}

.ci-text {
  color: #808080;
  font-family: "colfax Regular";
  font-size: 16px;
  line-height: 1.5;
}

.ci-view {
  font-family: "colfax Regular";
  color:  white;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 13px;
  padding-top: 15px;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
  cursor: pointer;
}

.cti2 {
  background-color: #50506D;
}

.cti3 {
  background-color: #36E686;
}

.cti4 {
  background-color: #FFA33A;
}


.post {
  font-family: "Colfax regular";
  padding: 7px;
  padding-top: 9px;
  text-align: center;
  background-color: #00CB81;
  border: 1px solid #01A067;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 20px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

.backgroundShader {
  position:fixed;
  left:0;
  top:0;
  z-index:10;
  background-color:rgba(0,0,0,0.5);
  height:100%;
  width:100%;
}

.popupBox {
  position:fixed;
  z-index:11;
  left:600px;
  top:200px;
  text-align:center;
  align-items:center;
  justify-content:center;
  color: black;

  width: 500px;
  height: 400px;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #D8D8D8;
  background-color: white;
  font-size: 40px;
  font-family: "Colfax Regular";
}

.ct-title {
  font-family: "colfax Medium";
  margin-top: 15px;
  font-size: 32px;
  float: left;
}
.ct-post {
  float: right;
  font-family: "colfax Regular";
  color:  white;
  max-width: 25%;
  margin: 0 auto;
  text-align: center;
  padding: 13px;
  padding-top: 15px;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
  cursor: pointer;
}



.progress {
  font-family: "Colfax regular";
  border-radius: 999px;
  float: right;
  margin-top: -50px;
}

.pct {
  font-size: 12px;
  position: absolute;
  margin-top: -34px;
  margin-left: 14px;
}
