<!--<div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">-->
<!--  <app-dashboard-nav *ngIf="this.currentUserService.currentUser.isIntern" class="nav" [fixed]="true"></app-dashboard-nav>-->
<!--  <app-company-dashboard-nav *ngIf="!this.currentUserService.currentUser.isIntern" class="nav"></app-company-dashboard-nav>-->
<!--</div>-->

<!--<div class="container">-->
<div class="title">Thoughtspace</div>
<div class="sub-title">ENGAGE</div>

<div class="ct-title" style="color: #FFA33A;">Webinars</div>
<div class="ct-post" style="background-color: #FFA33A;">Host a Webinar</div>

<br><br><br><br>

<div class="grid-container">
  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Our Culture Webinar </div>
    </div>
    <div class="card-info">
      <div class="ci-text">Learn more about our company culture and values.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[65, 35]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">65%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Project launch webinar</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Understand our launching strategy and learn how to implement it.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[85, 15]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">85%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Welcome Onboard Orientation</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Welcome! Learn about more about our company, and how to get started.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[30, 70]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">30%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Webinar 4</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[45, 55]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">45%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Webinar 5</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[70, 30]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">70%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Webinar 6</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[90, 10]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">90%</div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
