.head {
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

.head h1 {
    color: black;
    font-size: 40px;
    font-family: "Colfax Medium";
}

.steps {
    max-width: 118px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.step {
    float: left;
    font-family: "Colfax Regular";
}

.s1 {
    margin-right: 25px;
    border-bottom: 3px solid black;
}