<div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
  <h3>Upload documents</h3>

  <span>Drop here or choose a file…</span><br>
  <div class="file">
    <input class="file-input" type="file" (change)="startUpload($event.target.files)">
  </div>
  <p id="chosen">No file chosen.</p>
</div>     