.dropzone { 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 200px;
    width: 100%;
    border: 2px dashed gray;
    border-radius: 5px;
    background-color: white;
    margin: 10px 0;
    font-size: 20px;
    color: black;
    font-family: "Colfax Regular";
    padding-top: 20px;
    padding-bottom: 20px;
}

.hovering {
    border: 2px solid #289c1e;
    color: #6a7486 !important;
}

.file {
    text-align: center;
    color: transparent;
}

.file-input {
    max-width: 120px;
    margin:0 auto;
    margin-left: 37px;

}

#chosen {
    font-size: 14px;
}