<!--<div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">-->
<!--  <app-dashboard-nav *ngIf="this.currentUserService.currentUser.isIntern" class="nav" [fixed]="true"></app-dashboard-nav>-->
<!--  <app-company-dashboard-nav *ngIf="!this.currentUserService.currentUser.isIntern" class="nav"></app-company-dashboard-nav>-->
<!--</div>-->

<!--<div class="container">-->
<div class="title">Thoughtspace</div>
<div class="sub-title">ENGAGE</div>

<div class="ct-title" style="color: #2EDF86;">Courses</div>
<div class="ct-post" style="background-color: #2EDF86;">Recommend a Course</div>

<br><br><br><br>


<div class="grid-container">
  <a href="http://www.mythoughtspace.com/rlp"> 
  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Rising Leaders Program</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Where good leaders become great leaders.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[65, 35]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">65%</div>
      </div>
    </div>
    </div>
  </a>
  </div>

