.card {
  font-family: "Colfax Regular";
  margin-bottom: 40px;
  max-width:100%;
}

p {
  color: black;
  font-size: 16px;
}

.title {
  font-weight: 900;
  font-size: 20px;
}

.groupsList {
  width: 450px;
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

.skillsList {
  width: 100%;
  display: block;
  background: rgb(245, 245, 245);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.skill {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;

  background-color: gainsboro;
  margin: 10px;
  cursor: pointer;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  width: 90%;
}

.minmax {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-family: "Colfax Regular";
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.skill:last-child {
  border: none;
}

.skillsList:last-child {
  border: none;
}

.skillsList.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.groupsList.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}