<div class="card">
  <div cdkDropList class="groupsList" [cdkDropListData]="groups" (cdkDropListDropped)="dropGroup($event)">
    <div cdkDropListGroup *ngFor="let group of groups" class="group" cdkDrag [cdkDragData]="group">
      <div cdkDropList class="skillsList" id={{group.category}} [cdkDropListData]="group.skills" (cdkDropListDropped)="dropSkill($event)" [cdkDropListConnectedTo]="getConnectedList()"  (click)="clickGroup($event, group.category)">
        <span class="title">⋮<span style="margin-left: -3px;margin-right: 10px;">⋮</span>{{group.category}}<span class="minmax" style="float: right;" id = "{{group.category + '_b'}}">+</span></span>
        <div [hidden]="group.hidden">
          <div class="skill" *ngFor = "let skill of group.skills" cdkDrag [cdkDragData]="skill">{{skill}}</div>
        </div>
      </div>
    </div>
  </div>
</div>