.container {
    padding-top: 90px;
}

.intro {
    text-align: center;
    margin-bottom: 46px;
}

.intro-title {
    font-family: "colfax medium";
    font-size: 25px;
}

.card {
    background-color:white;
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    max-width: 20%;
    margin: 0 auto;
}

.profile-pic {
    margin: 0 auto;
    max-width: 60px;
    padding-top: 18px;
    padding-bottom: 15px;
    border-radius: 20px;
    margin-top: -47px;
    background-size:cover;
} 

.info {
    text-align: center;
}

.pfp0 {
    background-color: #DBDBDB;
    color: black;
    font-family: "Colfax regular";
    text-align: center;
    font-size: 18px;
    
    /* background-image:url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}

h2 {
    margin-top: 20px;
    font-size: 17px;
    font-family: "Colfax Regular";
}

.txt-t {
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Colfax Regular";
    border-left: 2px solid #0087FF;
    padding-top: 3px;
    padding-left: 14px;
}


.r8-obj {
    font-family: "colfax medium";
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.grid-item {
  text-align: center;
  font-family: "Colfax regular";
  padding-top: 13px;
  padding-bottom: 10px;
  margin-bottom: 11px;
  border-bottom: 1px solid #D2D2D2;
}

.ss {
    text-align: left;
    padding-top: 23px;
}



p {
    font-size: 18px;
    color: black;
    font-family: "Colfax regular";
    margin: 0;
}

h3 {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Colfax Medium";
    margin-top: -6px;
}

.hard-skills {
    font-size: 14px;
    max-width: 70%;
    margin: 0 auto;
    font-family: "Colfax regular";
    line-height: 2;
}

.hard-skills span {
    color: black;
    background-color: #E1E1E1;
    border-radius: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-top: 5px;
}

.soft-skills {
    font-family: "Colfax regular";
    border-radius: 999px;
    margin-bottom: 20px;
}

.buttons {
    max-width: 78%;
    margin: 0 auto;
    margin-bottom: 7px;
}

.invite {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    float: left;
    cursor: pointer;
}

#comments {
    border: 1px solid #C8C8C8;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.radio {
    float: right;
    margin-left: 58px;
}

.hl {
    float: right;
    margin-left: 20px;
    font-size: 12px;
}

.hl1 {
    margin-left: 34px;
}

.hl3 {
    margin-right: -3px;
}

.hl4 {
    margin-right: -5px;
}

.hs-labels {
    margin-top: 40px;
}

.refresh {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 40%;
    padding: 10px;
    float: left;
    cursor: pointer;
    text-align: center;
}

.pct {
    font-size: 25px;
}

.tsk {
    font-size: 12px;
}

.tag {
    display: inline-block;
    border:2px solid #2E1C89;
    color: #2E1C89;
    font-weight: 200;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    padding-top: 10px;
    border-radius: 0px;
    font-family: "Colfax medium";
  } 
  
  mat-slider {
    width: 300px;
  }
  
  .tagValue {
    display: inline-block;
    width: 150px;
    text-align: center;
  }
  
  .hSlider {
    float: right;
  }

  .evaluate {
    margin-left: 50px;
  }

  .btns-c {
    max-width: 100%;
    margin: 0 auto;
    height: 120px;
    margin-top: 60px;
}

.refreshx {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
}

.refreshc {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    float: left;
    cursor: pointer;
    text-align: center;
}

.explainer {
    text-align: left;
    font-family: "Colfax regular";
}

.value-form {
    border: none;
    font-family: "Colfax regular";
    font-size: 16px;
}

.radio2 {
    float: right;
    margin-left: 58px;
}

.hl2 {
    float: right;
    margin-left: 20px;
    font-size: 12px;
}

.hl12 {
    margin-left: 34px;
}

.hl32 {
    margin-right: 24px;
}