<div class="main-container">
    <div id="head" class="head">
      <h1>Login to ThoughtSpace</h1>
      <h3>Join a team of your brightest peers to complete a project over the course of a semester for big names in industry.</h3>
    </div>
  
    <div class="onboarding-container">
      <div class="card">
        <h2>Password Reset</h2>
  
        <form (keydown.enter)="$event.preventDefault();reset()">    
          <input id="email" placeholder="Email" type="email" (input)="onChange($event.target)">
        </form>
          
        <button class="next-step" (click)="reset()">Reset your password →</button>
        <button id="login" class="skip-step" (click)="this.router.navigate(['/login'], {fragment: 'account'})" >Login →</button>
        <button id="account" style="display:none" class="skip-step" (click)="this.router.navigate(['/dashboard'], {fragment: 'account'})" >Back to account →</button>
        <br>

        <p id="sending" style="display:none;padding-top:10px; color:goldenrod">Sending reset email...</p>
        <p id="sent" style="display:none;padding-top:10px; color:green">Password reset email sent.</p>
        <p id = "error" style="display:none;padding-top:10px; color:red">We couldn't find an account with that email.</p>

      </div>
    </div>
  </div>