.main {
  width: 100%;
  height: 9000px;
  background-color: white;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    height: 150px;
    padding-top: 140px;

}

.section-top {
  width: 100%;
  height: 180px;

  border-bottom: 1px solid #E5E5E5;
}

.st-left {
  width: 50%;
  height: 100%;
  float: left;
}



.st-title {
  font-family: "colfax regular";
  font-size: 45px;
  color: #262E34;
  margin-bottom: 15px;
}

.st-subtitle {
  font-family: "colfax regular";
  font-size: 25px;
  color: #262E34;
  margin-bottom: 15px;
}

.st-microtitle {
  font-family: "colfax regular";
  font-size: 17px;
  color: #262E34;
  margin-bottom: 15px;
}

.st-num {
  color: #0087FF;
}

.st-right {
  width: 50%;
  height: 100%;
  float: right;
  padding-top: 50px;

}

.view-btn{
  border: 1px solid #D3D3D3;
  background-color: white;
  color: black;
  font-family: "Colfax Regular";
  font-size: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-top: 9px;
  border-radius: 4px;
  float: right;
  margin-right: 9px;
  cursor: pointer;

}

.engage-btn {
  border: 1px solid #006DCE;
  background-color: #0087FF;
  color: white;
  font-family: "Colfax Regular";
  font-size: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-top: 9px;
  border-radius: 4px;
  float: right;
  cursor: pointer;
}

.dd-arrow {
  font-family: "Colfax medium";
  margin-left: 10px;
}

.section-left {
  width: 45%;
  height: 150px;
  float: left;
  padding-top: 50px;

}

.sl-title {
  height: 55px;
}

.sl-ticon {
  float: left;
}

.sl-ticon img {
  width: 40px;
}

.sl-ttxt {
  float: left;
  font-family: "colfax regular";
  font-size: 32px;
  margin-left: 10px;
  margin-top: 6px;
}

.sl-subtitle {
  font-family: "colfax regular";
  margin-left: 5px;
  color: #787878;
  margin-bottom: 20px;
}

.sl-card {
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  max-width: 25%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.slc-num {
  font-family: "colfax regular";
  font-size: 34px;
  color: black;
}

.slc-title {
  font-family: "colfax regular";
  color: #0087FF;
}

.sl-mt {
  font-family: "colfax regular";
  margin-top: 40px;
  margin-bottom: 20px;
}


/* Progrss bar */
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #F4F4F4;
  border-radius: 5px;
}

.bg-red {
  float: left;
  height: 100%;
  background-color: #3a1f5d;
  border-right: 3px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bg-blue {
  float: left;
  height: 100%;
  background-color: #c83660;
  border-right: 3px solid white;
}

.bg-yellow {
  float: left;
  height: 100%;
  background-color: #e15249;
}

.bg-green {
  float: left;
  height: 100%;
  background-color: #f6d365;
  border-left: 3px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ei-1 {
  border-bottom: 2px solid #E5E5E5;
  padding-top: 50px;
  padding-bottom: 80px;
  cursor: pointer;
}

.ei1-clr {
  float: left;
  width: 17px;
  height: 17px;
  border-radius: 999px;
  background-color: #3a1f5d;
  margin-right: 25px;
  margin-top: 7px;
}

.ei2-clr {
  float: left;
  width: 17px;
  height: 17px;
  border-radius: 999px;
  background-color: #c83660;
  margin-right: 25px;
  margin-top: 7px;
}

.ei3-clr {
  float: left;
  width: 17px;
  height: 17px;
  border-radius: 999px;
  background-color: #e15249;
  margin-right: 25px;
  margin-top: 7px;
}

.ei4-clr {
  float: left;
  width: 17px;
  height: 17px;
  border-radius: 999px;
  background-color: #f6d365;
  margin-right: 25px;
  margin-top: 7px;
}

.ei-pct {
  float: left;
  font-size: 35px;
  font-family: "colfax regular";

}

.ei1-title {
  float: left;
  font-size: 16px;
  font-family: "colfax medium";
  margin-top: 10px;
  margin-left: 50px;
}

.ei2-title {
  float: left;
  font-size: 16px;
  font-family: "colfax medium";
  margin-top: 10px;
  margin-left: 59px;
}

.ei3-title {
  float: left;
  font-size: 16px;
  font-family: "colfax medium";
  margin-top: 10px;
  margin-left: 50px;
}

.ei4-title {
  float: left;
  font-size: 16px;
  font-family: "colfax medium";
  margin-top: 10px;
  margin-left: 59px;
}

.ei-cta1 {
  float: right;
  font-size: 30px;
  font-family: "colfax regular";
  margin-top: -7px;
  margin-left: 50px;
  color: #3a1f5d;
  border: 2px solid #3a1f5d;
  border-radius: 999px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.ei-cta2 {
  float: right;
  font-size: 30px;
  font-family: "colfax regular";
  margin-top: -7px;
  margin-left: 50px;
  color: #c83660;
  border: 2px solid #c83660;
  border-radius: 999px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.ei-cta3 {
  float: right;
  font-size: 30px;
  font-family: "colfax regular";
  margin-top: -7px;
  margin-left: 50px;
  color: #e15249;
  border: 2px solid #e15249;
  border-radius: 999px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.ei-cta4 {
  float: right;
  font-size: 30px;
  font-family: "colfax regular";
  margin-top: -7px;
  margin-left: 50px;
  color: #f6d365;
  border: 2px solid #f6d365;
  border-radius: 999px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.section-right {
  width: 45%;
  height: 150px;
  float: right;

}


.sr-title {
  height: 55px;
}

.sr-ticon {
  float: left;
}

.sr-ticon img {
  width: 40px;
}

.sr-ttxt {
  float: left;
  font-family: "colfax regular";
  font-size: 32px;
  margin-left: 10px;
  margin-top: 6px;
}

.sr-subtitle {
  font-family: "colfax regular";
  margin-left: 0px;
  color: #787878;
  margin-bottom: 20px;
}

.sr-card {
  text-align: center;
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.src-num {
  font-family: "colfax regular";
  font-size: 34px;
  color: black;
}

.src-title {
  font-family: "colfax regular";
  color: #0087FF;
}

/*

.containerView {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 150px;
}

.title {
    font-family: "colfax regular";
    color: #D1D0D6;
    font-size: 18px;
    margin-left: 20px;
}

.sub-title {
    font-family: "colfax medium";
    color: #55546D;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-bottom: 100px;
}
.grid-item {
    margin: 20px;
    border-left: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    background-color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 9px;
}

.card-title {
    font-family: "colfax regular";
}
.ct-icon1 {
    background-color: rgb(220, 207, 254);
    border-radius: 999px;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 13px;
    padding-bottom: 9px;
    width: 28px;
}

.ct-icon2 {
    background-color: #C5C5D8;
    border-radius: 999px;
    padding: 5px;
    padding-right: 6px;
    padding-left: 7px;
    padding-top: 13px;
    padding-bottom: 9px;
    width: 28px;
}


.ct-icon3 {
    background-color: #A9F8CD;
    border-radius: 999px;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 13px;
    padding-bottom: 9px;
    width: 28px;
}

.ct-icon4 {
    background-color: #FFE0BC;
    border-radius: 999px;
    padding: 5px;
    padding-right: 6px;
    padding-left: 7px;
    padding-top: 13px;
    padding-bottom: 9px;
    width: 28px;
}



.cti-in {
    background-color: rgb(152, 112, 251);
    border-radius: 999px;
    padding-right: 9px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
    text-align: center;
    font-family: "colfax regular";
    color: white;
}


.ct-text {
    font-family: "colfax Medium";
    margin-top: 15px;
    font-size: 19px;
}

.card-info {
    margin-top: 10px;
}

.ci-text {
    color: #808080;
    font-family: "colfax Regular";
    font-size: 16px;
    line-height: 1.5;
}

.ci-view {
    font-family: "colfax Regular";
    color:  white;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 13px;
    padding-top: 15px;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.15);
    cursor: pointer;
}

.cti2 {
    background-color: #50506D;
}

.cti3 {
    background-color: #36E686;
}

.cti4 {
    background-color: #FFA33A;
}


.post {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: #00CB81;
    border: 1px solid #01A067;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.backgroundShader {
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
}

.popupBox {
    position:fixed;
    z-index:11;
    left:600px;
    top:200px;
    text-align:center;
    align-items:center;
    justify-content:center;
    color: black;

    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #D8D8D8;
    background-color: white;
    font-size: 40px;
    font-family: "Colfax Regular";
}




.menu {
  float: left;
  width: 16%;
  position: fixed;
  margin-top: 20px;
}

.search {
  margin-bottom: 22px;
}

.search input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
  border: none;
  background-color: #EFEFEF;
  font-family: "colfax regular";
  width: 100%;
  color: black;
  padding-top: 13px;
}

.search input:focus {
  outline: none;
}

.dvdr {
  height: 20px;
}



.titleMenu {
  font-weight: 400;
  font-size: 13px;
  color: black;
  font-family: "colfax medium";
}
 */




.p-card {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  width: 27%;
  float: left;
  background-color:white;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-top: 4px solid #00AEFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.top-left {
  float: left;
  width: 70%;
}

.top-right {
  float: right;
  width: 20%;
}

.pc-title {
  font-family: "colfax medium";
  font-size: 11px;
  text-align: left;
  margin-bottom: 3px;
}

.pc-name {
  font-family: "colfax regular";
  font-size: 15px;
  text-align: left;
  height: 30px;
}

.pc-pct {
  font-family: "colfax regular";
  font-size: 15px;
  text-align: center;
}

.post {
  font-family: "Colfax regular";
  padding: 7px;
  padding-top: 9px;
  text-align: center;
  background-color: rgb(152, 112, 251);
  color: white;
  font-size: 15px;
  border-radius: 3px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

.backgroundShader {
  position:fixed;
  left:0;
  top:0;
  z-index:10;
  background-color:rgba(0,0,0,0.5);
  height:100%;
  width:100%;
}

.popupBox {
  position:fixed;
  z-index:11;
  top:200px;
  text-align:center;
  align-items:center;
  justify-content:center;
  color: black;

  width: 500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #D8D8D8;
  background-color: white;
  font-size: 40px;
  font-family: "Colfax Regular";
}


.pop-title {
  font-family: "colfax medium";
  font-size: 30px;
  text-align: left;
  margin-bottom: 3px;
  text-align: center;
}

.pop-name {
  font-family: "colfax regular";
  font-size: 20px;
  text-align: center;
}

.pc-uni {
  font-family: "colfax regular";
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
  height: 30px;
}
.pc-hs {
  font-family: "colfax regular";
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}

.hard-skills {
  font-size: 14px;
  max-width: 80%;
  margin: 0 auto;
  font-family: "Colfax regular";
  line-height: 2;
  margin-top: 10px;
}

.hard-skills span {
  color: #0091ED;
  background-color: #EAF4FA;
  border-radius: 2px;
  margin: 2px;
  padding: 3px;
  padding-top: 5px;

}
