
<div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">
    <app-dashboard-nav *ngIf="this.currentUserService.currentUser.isIntern" class="nav" [fixed]="true"></app-dashboard-nav>
    <app-company-dashboard-nav *ngIf="!this.currentUserService.currentUser.isIntern" class="nav"></app-company-dashboard-nav>
</div>


<div class="main">
  <div class="container">
    <div class="view">
      <div class="containerView">
        <app-company-engage-challenge [hidden]="this.view != 'challenges'"></app-company-engage-challenge>
        <app-company-engage-course [hidden]="this.view != 'courses'"></app-company-engage-course>
        <app-company-engage-survey [hidden]="this.view != 'surveys'"></app-company-engage-survey>
        <app-company-engage-webinar [hidden]="this.view != 'webinars'"></app-company-engage-webinar>
        <div [hidden]="this.view != ''">
          <div class="section-top">
            <div class="st-left">
              <div class="st-title">Engage</div>
              <div class="st-subtitle">12 Total Engagement Posts</div>
              <div class="st-microtitle">You have published <span class="st-num">6</span> surveys, hosted <span class="st-num">2</span> webinars, and published <span class="st-num">4</span> challenges.</div>
            </div>

            <div class="st-right">
              <div class="engage-btn">Engage With Talent <span class="dd-arrow">+</span></div>
              <div class="view-btn">View Talent</div>
            </div>
          </div>
          <div class="section-left">
            <div class="sl-title">
              <div class="sl-ticon"><img src="https://image.flaticon.com/icons/svg/179/179997.svg"></div>
              <div class="sl-ttxt">Reach Overview</div>
            </div>
            <div class="sl-subtitle">Total talent engaged within the past 30 days.</div>
            <div class="sl-card">
              <div class="slc-num">98</div>
              <div class="slc-title">Engagements</div>
            </div>
            <div class="sl-mt">Where they engage the most:</div>

            <div class="progress-bar">
              <span style="width: 35%" class="bg-red"></span>
              <span style="width: 15%" class="bg-blue"></span>
              <span style="width: 38%" class="bg-yellow"></span>
              <span style="width: 10%" class="bg-green"></span>
            </div>

            <div class="engage-items">

              <div class="ei-1" (click)="this.router.navigate(['engage/challenges'])">
                <div class="ei1-clr"></div>
                <div class="ei-pct">35%</div>
                <div class="ei1-title">Challenges</div>
                <div class="ei-cta1">→</div>
              </div>

              <div class="ei-1" (click)="this.router.navigate(['engage/surveys'])">
                <div class="ei2-clr"></div>
                <div class="ei-pct">15%</div>
                <div class="ei2-title">Surveys</div>
                <div class="ei-cta2">→</div>
              </div>

              <div class="ei-1" (click)="this.router.navigate(['engage/courses'])">
                <div class="ei3-clr"></div>
                <div class="ei-pct">45%</div>
                <div class="ei3-title">Courses</div>
                <div class="ei-cta3">→</div>
              </div>

              <div class="ei-1" (click)="this.router.navigate(['engage/webinars'])">
                <div class="ei4-clr"></div>
                <div class="ei-pct">10%</div>
                <div class="ei4-title">Webinar</div>
                <div class="ei-cta4">→</div>
              </div>

            </div>

          </div>
          <div class="section-right" *ngIf="this.allUsers">
            <div class="sr-title">
              <div class="sr-ticon"><img src="https://image.flaticon.com/icons/svg/179/179964.svg"></div>
              <div class="sr-ttxt">Talent Overview</div>
            </div>
            <div class="sr-subtitle">View and manage your talent.</div>
            <div class="sr-card">
              <div class="src-num">{{this.allUsers.length}}</div>
              <div class="src-title">Engagements</div>
            </div>

            <br><br><br>
            <div *ngFor="let user of this.allUsers">
              <div class="p-card" (click)="this.viewing = user">
                <div class="top-left">
                  <div class="pc-title">{{user.mainInfo['firstname'] + ' ' + user.mainInfo['lastname']}}</div>
                  <div class="pc-name">{{user.mainInfo['major']}}</div>
                  <br>
                  <div class="pc-uni">{{user.university}}</div>
                  <br>
                  <div class="pc-name" style="color: #0091ED">{{user.mainInfo['hardSkills'].length + ' relevant skill' + (user.mainInfo['hardSkills'].length === 1 ? '' : 's')}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.viewing !== null">
  <div class="backgroundShader" (click)="this.viewing=null"></div>
  <div class="popupBox">
    <div class="pop-title">{{this.viewing.mainInfo['firstname'] + ' ' + this.viewing.mainInfo['lastname']}}</div>
    <div class="pop-name">{{this.viewing.mainInfo['major']}}</div>
    <br>
    <div class="pop-name">{{this.viewing.university}}</div>
    <br>
    <div class="hard-skills"><span *ngFor="let skill of this.viewing.mainInfo['hardSkills']">{{skill}}</span></div>
  </div>
</div>


<!--
<div class="view">
  <div class="containerView">
    <app-company-engage-challenge [hidden]="this.view != 'challenges'"></app-company-engage-challenge>
    <app-company-engage-course [hidden]="this.view != 'courses'"></app-company-engage-course>
    <app-company-engage-survey [hidden]="this.view != 'surveys'"></app-company-engage-survey>
    <app-company-engage-webinar [hidden]="this.view != 'webinars'"></app-company-engage-webinar>
    <div [hidden]="this.view != ''">
      <div class="title">Thoughtspace</div>
      <div class="sub-title">ENGAGE</div>
      <div class="grid-container">
        <div class="grid-item">
          <div class="card-title">
            <div class="ct-icon1"><span class="cti-in">C</span></div>
            <div class="ct-text" style="color: rgb(152, 112, 251);">Post a Challenge</div>
          </div>
          <div class="card-info">
            <div class="ci-text">Create and post skills challenges for your talent pipeline.</div>
            <div class="ci-view" style="background-color: rgb(152, 112, 251);" (click)="this.router.navigate(['engage/challenges'])">Post Challenge</div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card-title">
            <div class="ct-icon2"><span class="cti-in cti2">S</span></div>
            <div class="ct-text" style="color:#50506D;">Send a Survey</div>
          </div>
          <div class="card-info">
            <div class="ci-text">Learn more about the upcoming workforce by asking them!</div>
            <div class="ci-view" style="background-color: #50506D;" (click)="this.router.navigate(['engage/surveys'])">Send a Survey</div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card-title">
            <div class="ct-icon3"><span class="cti-in cti3">R</span></div>
            <div class="ct-text" style="color:#2EDF86;">Recommend a Course</div>
          </div>
          <div class="card-info">
            <div class="ci-text">Recommend a course and follow a students journey.</div>
            <div class="ci-view" style="background-color: #2EDF86;" (click)="this.router.navigate(['engage/courses'])">Recommend a Course</div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card-title">
            <div class="ct-icon4"><span class="cti-in cti4">H</span></div>
            <div class="ct-text" style="color:#FFA33A;">Host a Webinar</div>
          </div>
          <div class="card-info">
            <div class="ci-text">Host webinars and meet your talent pipeline.</div>
            <div class="ci-view" style="background-color:#FFA33A;" (click)="this.router.navigate(['engage/webinars'])">Host a Webinar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
