.container {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    margin: 15px;
    cursor: pointer;
}

.thumbnail {
    text-align: center;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    font-size: 30px;
    border: 1px solid #E7E7E7;
}

.title {
    text-align: center;
    font-family: "roboto";
    margin-top: 13px;
    font-weight: 400;
    font-size: 14px;
    color: #3E4046;
}