<div class="container">
  <div class="grid-container">
    <div class="grid-item">
      <div class="thumbnail" style="background-color: white;">
        ⏱
      </div>
      <div class="title">Time Tracker</div>
    </div>
    <div class="grid-item">
      <div class="thumbnail" style="background-color: white;">
        🏹
      </div>
      <div class="title">Task List</div>
    </div>
    <div class="grid-item">
      <div class="thumbnail" style="background-color: white;">
        💰
      </div>
      <div class="title">Billing</div>
    </div>
    <div class="grid-item">
      <div class="thumbnail" style="background-color: white;">
        🗳
      </div>
      <div class="title">File Submission</div>
    </div>
    <div class="grid-item">
      <div class="thumbnail" style="background-color: white;">
        🗓
      </div>
      <div class="title">Scheduling</div>
    </div>
  </div>
</div>