<div id="nav" class="nav" *ngIf="this.currentUserService.currentUser"> 
  <!--Top nav-->
  <div class="top-nav">
    <ul>
      <div class="logo-container" (click)="this.router.navigate(['home'])">
        <div class="logo-icon"></div>
        <div class="logo">thoughtspace</div>
      </div> 
 
      <div class="choices">
        <ul> 
          <li [class.current-choice]="this.getCurrentView() === 'dashboard'" (click)="this.router.navigate(['dashboard'])">Dashboard</li>
          <li [class.current-choice]="this.getCurrentView() === 'engage'" class="mid-choice" (click)="this.router.navigate(['engage'])">Engage</li>
          
        </ul>
      </div>

      <div id="pf-picture" (click)="toggleMenu()" class="tn-pf-picture" [style.backgroundImage]="'url(' + this.currentUserService.currentUser.pfpPath + ')'"></div>
      <div id="profile-menu" class="profile-menu">
        <ul>
          <li class="menu-name">{{this.currentUserService.currentUser.mainInfo['firstname']}} {{this.currentUserService.currentUser.mainInfo['lastname']}}</li>
          <li class="menu-item" (click)="hideMenu();this.router.navigate(['dashboard'])">Dashboard</li>
          <li class="menu-item" (click)="account()">Account</li>
          <li class="menu-item" (click)="hideMenu();this.router.navigate(['dashboard'], {fragment: 'notifications'})">Notification preferences</li>
          <li class="menu-item" (click)="hideMenu();this.router.navigate(['tasks'])">Tasks</li>
          <li class="menu-item">Upgrade</li>
          <li class="menu-item">Tell a friend</li>
          <li class="menu-item" (click)="logout()">Log out</li>
        </ul>
      </div>
    </ul>
  </div>

</div>

