.container {
    padding-top: 8vh;
    padding-bottom: 20vh;
}

.container h1 {
    font-family: "Colfax Regular";
    font-size: 43px;
    width: 100%;
    text-align: center;
}

.btn {
    max-width: 110px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #2E1C89;
    border: 1px solid #2E1C89;
    padding: 15px;
    font-family: "Colfax light";
}

.vid {
    font-size: 10px;
    border: 1px solid white;
    text-align: center;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top:5px;
    border-radius: 999px;
    margin-left: 10px;
}