.container {
    height: 500px;
    background-color: white;
    border-radius: 3px;
}

.options {
    width: 30%;
    float: left;
    background-color: #EFEFEF;
    border-radius: 4px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.titles {
    height: 40px;
    border-bottom: 4px solid #0677FF;
    background-color: #081C35;
    padding-top: 0px;
}

.options button {
    display: block;
    width: 100%;
    background-color: white;
    color:black;
    font-family: "colfax regular";
    font-size: 14px;
    padding: 10px; 
    padding-top: 12px;
    margin-bottom: 9px;
    border: none;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
}

.icon {
    background: #0677FF;
    margin-right: 9px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.f-t {
    padding-top: 5px;
}

.i1 {
    padding-left: 7px;
    padding-top: 0px;
    background-color: #2994FF;
}

.i2 {
    padding-left: 8px;
    padding-right: 7px;
    background-color: #FEA05A;
}

.i3 {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #D868FF;
}

.features {
    padding-top: 10px;
    padding-bottom: 10px;
}

.survey-view {
    width: 60%;
    float: right;

}

.survey-view p{
    font-family: "colfax regular";
    text-align: left;
}

.survey-view .qst1 {
    width: 100%;
    font-family: "colfax regular";
    border: none;
    font-size: 25px;
}


mat-radio-group {
    width: 100%;
}

.mc1 {
    width: 400px;
    border: none;
    font-family: "colfax regular";
    font-size: 17px;
}

.del {
    margin-top: 20px;
    font-family: "colfax regular";
    margin-bottom: 50px;
    cursor: pointer;
    background: #FF4747;
    font-size: 15px;
    border: 1px solid #BE0303;
    width: 80px;
    color: white;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 7px;
    text-align: center;
    float: left;
} 

.submit {
    margin-top: 20px;
    font-family: "colfax regular";
    margin-bottom: 50px;
    cursor: pointer;
    background: rgb(6, 164, 24);
    width: 80px;
    color: white;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    float: left;
}

.submit-survey {
    width: 100%;
    text-align: center;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
}

.question {
    display: inline-block;
    width: 100%;
}

.txtar {
    width: 100%;
    float: left;
    border: none;
    font-family: "colfax regular";
    font-size: 17px;
    height: 30px;
    padding-bottom: 40px;
    background-color: none;
}

mat-slider {
    width: 100%;
}


h2 {
    font-weight: 900;
    margin-top: 20px;
    font-size: 24px;
    font-family: "Colfax Regular";
}