<div class="container" *ngIf="this.viewing">

  <h2>{{this.viewing.name}} Survey</h2>

  <div class="options">
  
    <div class="features">
      <button (click)="addMC()"><div class="icon i1" style="float: left;">⦿</div> <div class="f-t">Multiple choice</div></button>
      <button (click)="addFR()"><div class="icon i2" style="float: left;">≡</div> <div class="f-t">Free response</div></button>
      <button (click)="addSC()"><div class="icon i3" style="float: left;">⊶</div> <div class="f-t">Scale</div></button>
    </div>
    <div *ngIf="this.questions.length > 0">
        <button class="submit-survey" (click)="send()">Send survey</button>
    </div>  
  </div>


  <div class="survey-view">
    <div class="question" *ngFor = "let question of this.questions">
      
      <p>Question {{this.questions.indexOf(question) + 1}}</p>
      <input class="qst1" type="text" id="{{'question_' + this.questions.indexOf(question)}}" placeholder="Enter Question here...">
      
      <div class="mc" *ngIf = "question.type == 0">
        <br>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1"><input class="mc1 {{'mc_q'+this.questions.indexOf(question)}}" type="text" placeholder="Option 1"></mat-radio-button><br><br>
          <mat-radio-button value="2"><input class="mc1 {{'mc_q'+this.questions.indexOf(question)}}" type="text" placeholder="Option 2"></mat-radio-button><br><br>
          <mat-radio-button value="3"><input class="mc1 {{'mc_q'+this.questions.indexOf(question)}}" type="text" placeholder="Option 3"></mat-radio-button><br><br>
          <mat-radio-button value="4"><input class="mc1 {{'mc_q'+this.questions.indexOf(question)}}" type="text" placeholder="Option 4"></mat-radio-button>
        </mat-radio-group>
      </div>
    
      <div *ngIf = "question.type == 1">
        <br><br>
        <textarea class="txtar" placeholder="Free response area"></textarea>
      </div> 

      <div *ngIf = "question.type == 2">
        <br>
        <mat-slider min="0" max="5" step="1" value="2" thumbLabel></mat-slider>
      </div>

      <button class="del" (click)="delete(question)">delete</button>

    </div><br>

  </div>
</div>