.card {
    background-color: white;
    border: 1px solid #EBEDF1;
    border-radius: 7px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: "roboto";
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.04);
}

.card h2 {
    color: #203150;
    margin-bottom: 20px;
}

p {
  color: #6B7587;
  font-size: 18px;
  font-weight: 400;
}

.errorMsg {
  color: red;
  font-size: 14px;
  display: none;
}

.invalid {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: inset 0px 0px 5px 0px red;
}

.next-step {
  cursor: pointer;
  width: 100%;
  padding: 18px;
  margin-top: 30px;
  font-size: 14px;
  color: white;
  background-color: #146ffb;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  outline: none;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  border-bottom: 3px solid #2260CC;
}

.next-step:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  border-bottom: 1px solid #2260CC;
  border-top: 1px solid white;
}

.tag {
  display: inline-block;
  background-color: #146ffb;
  color: white;
  font-weight: 200;
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-family: "roboto";
  border-bottom: 3px solid #2260CC;
} 

.skip-step {
  float: right;
  margin-top: 12px;
  color: #146ffb;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
}

a {
  color: #203150;
}
