<div class="card">
  <h2>University Information</h2>
  <p id="universityName"></p>
  <!-- <form *ngIf="intForm" (keydown.enter)="$event.preventDefault();finish()" [formGroup]="intForm">

    <div id="majorCont">
      <mat-form-field style="width:100%">
        <input id="major" placeholder="Enter your major:" type="text" matInput formControlName="majorControl" [matAutocomplete]="auto" (click)="focus($event)">
      </mat-form-field>
      
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let major of filteredMajors | async" [value]="major">
          {{major}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div id="yearCont">
        <mat-form-field style="width:100%">
          <input id="year" placeholder="Enter your class year:" type="text" matInput formControlName="yearControl" [matAutocomplete]="autoY" (click)="focusY($event)">
        </mat-form-field>
        
        <mat-autocomplete #autoY="matAutocomplete">
          <mat-option *ngFor="let year of filteredYears | async" [value]="year">
            {{year}}
          </mat-option>
        </mat-autocomplete>
      </div>

  </form> -->

  <mat-form-field>
    <mat-label>Major</mat-label>
    <mat-select (selectionChange)="selected($event, true)">
      <mat-option *ngFor="let major of majors" [value]="major">
        {{major}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  
  <mat-form-field>
    <mat-label>Class Year</mat-label>
    <mat-select (selectionChange)="selected($event, false)">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p id="major" style="display:none"></p>
  <p id="year" style="display:none"></p>

  <button class="next-step" (click)="next()">Username & Password →</button>
</div>