<div class="calendar">
  <div class="month">      
    <ul>
      <li>
        <span style="cursor: pointer;float:left" (click)="prevMonth()">&#10094;</span>{{this.months[this.month]}}<span style="cursor: pointer;float:right" (click)="nextMonth()">&#10095;</span><br>
        <span style="font-size:18px">{{this.year}}</span>
      </li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  
  <ul class="days">  
    <li *ngFor="let item of [].constructor(this.daysInMonth()); let i = index" class="day" (click)="this.day = i+1">
        <span [class.active]="this.day === i+1">{{i+1}}</span>
    </li>
  </ul>
</div>