.container {
    padding: 30px;
    background-color: #F6F6F6;
    border-radius: 8px;
    font-family: "roboto";
    margin-top: 80px;
}

.title {
    font-size: 22px;
    color: #203150;
    font-weight: 500;
}

.text {
    font-size: 16px;
    color: #203150;
    margin-top: 13px;
}

.btns {
    margin-top: 25px;
}

.complete-profile {
    display: inline-block;
    padding: 10px;
    background-color: #146ffb;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    font-weight: 400;
}

.dismiss {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #146ffb;
    margin-left: 10px;
    cursor: pointer;
}