<div id="container" class="container">
  <div class="title">Complete your profile</div>
  <div class="text">Hey {{this.data.mainInfo['firstname']}}! To access all ThoughtSpace features, please complete your profile.</div>

  <div class="btns">
    <div class="complete-profile">Complete profile</div>
    <div class="dismiss" (click)="hide()">Dismiss</div>
  </div>
</div>