<div class="container">

  <div class="header">
    <div class="header-info">
      <div class="header-title">Projects<span style="color: #00437E">.</span></div>
      <div class="header-subtitle">View and edit all your projects.</div>
    </div>
    <div class="header-configure">
        <div class="h-add-project" (click)="this.router.navigate(['dashboard/create'])"><span class="pnp">+</span> New project</div>
      <div class="h-help-project"><span class="pnp">?</span> Help</div>
    </div>
  </div> 
 
  <div class="nav">
    <div class="nav-item" [class.it-current] = "this.view === 'all'" (click)="this.view = 'all'">
      <div class="it-i"><img src="https://image.flaticon.com/icons/svg/179/179979.svg"></div>
      <div class="it-t">View all</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.view === 'created'" (click)="this.view = 'created'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/179/179996.svg"></div>
        <div class="it-t">Created</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.view === 'starred'" (click)="this.view = 'starred'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/179/179972.svg"></div>
        <div class="it-t">Starred</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.view === 'team'" (click)="this.view = 'team'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/180/180002.svg"></div>
        <div class="it-t">Team</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.view === 'manage'" (click)="this.view = 'manage'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/180/180012.svg"></div>
        <div class="it-t">Manage</div>
    </div>
  </div>
  <br>
  <div *ngIf="this.view === 'all'">
    <div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">
          <div *ngFor="let entry of this.currentUserService.currentUser.company.projects | keyvalue">
            <div class="p-card" (click)="this.router.navigate(['dashboard/project/' + entry.value.name])">
              <div class="top-left">
                <div class="pc-title">Project name</div>
                <div class="pc-name">{{entry.value.name}}</div>
                <br>
                
              </div>

              <div class="top-right">
                  <div class="pc-title">Progress</div>
                  <div class="pc-pct">56%</div>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div *ngIf="this.view === 'created'">
    <br><p>Created</p>
  </div>

  <div *ngIf="this.view === 'starred'">
    <br><p>Starred</p>
  </div>

  <div *ngIf="this.view === 'team'">
    <br><p>Team</p>
  </div>

  <div *ngIf="this.view === 'manage'">
    <br><p>Manage</p>
  </div>

  <br><br><br><br>
  <br><br><br><br>

</div>