.container {
    width: 100%;
    padding-top: 90px;
}

.header {
    text-align: left;
}

.header-info {
    float: left;
}

.header-title {
    font-family: "colfax medium";
    font-size: 25px;
}

.header-subtitle {
    font-family: "colfax regular";
    font-size: 14px;
    margin-top: 8px;
}

.header-configure {
    float: right;
}

.h-add-project {
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.h-help-project {
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    margin-right: 9px;
}

.nav {
    margin-top: 100px;
    border-bottom: 1px solid #E5E5E5;
    height: 30px;
}



.nav-item {
    float: left;
    margin-right: 30px;
    font-family: "colfax regular";
    font-size: 14px;
    color: black;
    cursor: pointer;
}

p {
    font-family: "colfax regular";
    font-size: 14px;
    color: black;
}

.it-current {
    font-family: "colfax medium";
}

.it-i img {
    width: 18px;
    margin-right: 8px;
    
}

.it-i {
    float: left;
    margin-top: -2px;
}

.it-t {
    float: right;
}

.p-card {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 27%;
    float: left;
    background-color:white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-top: 4px solid #00AEFF;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.top-left {
    float: left;
    width: 70%;
}

.top-right {
    float: right;
    width: 20%;
}

.pc-title {
    font-family: "colfax medium";
    font-size: 11px;
    text-align: left;
    margin-bottom: 3px;
}

.pc-name {
    font-family: "colfax regular";
    font-size: 15px;
    text-align: left;
}

.pc-pct {
    font-family: "colfax regular";
    font-size: 15px;
    text-align: center;
}

