.card {
    padding-top: 0px;
    padding-bottom: 50px;
    font-family: "roboto";
    max-width: 550px;
    margin: 0 auto;
}

.card h2 {
    color: #203150;
    margin-bottom: 20px;
}

form p {
    color: #6B7587;
    font-size: 14px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  display: none;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: -10px;
  background-repeat: no-repeat;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  margin-top: 5px;
  margin-bottom: 13px;
  color: #203150;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
}

.invalid {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: inset 0px 0px 5px 0px red;
}

.next-step {
  cursor: pointer;
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  background-color: #146ffb;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  outline: none;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
}

.next-step:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);

}




.skip-step {
  float: right;
  margin-top: 12px;
  color: #146ffb;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
}

a {
  color: #203150;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.option {
    border: 1px solid #E1E2E3;
    padding: 16px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.06);  
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.06);
    color: #6B7587;
    font-size: 14px;
    background-color: white;
    margin: 16px;
    border-radius: 6px;
}

.option ul {
  padding: 0;
}

.option ul li {
  list-style: none;
  line-height: 1.7;
}

.selected {
    background-color: whitesmoke;
    border: none;
    -webkit-box-shadow: inset 0px 0px 20px 0px aqua;
    -moz-box-shadow: inset 0px 0px 20px 0px aqua;
    box-shadow: inset 0px 0px 20px 0px aqua;
}

.title {
  font-weight: 600; 
  color: #203150;
  font-size: 15px;
}