<div class="card">
  <div class="grid-container">
    <div id="Software Development" (click)="select($event)" class = "option">
      <div class="title">Software development</div>
      <ul>
        <li>Front-end development</li>
        <li>Back-end development</li>
        <li>Web/mobile development</li>
        <li>Data science</li>
      </ul>
      <button class="next-step" (click)="finish()">Select skill set</button>
    </div>
    
    <div id="Business Development" (click)="select($event)" class = "option">
      <div class="title">Business development</div>
      <ul>
          <li>Sales</li>
          <li>Research and Development</li>
          <li>Startegic Managment</li>
          <li>Finance</li>
      </ul>
      <button class="next-step" (click)="finish()">Select skill set</button>
    </div>
    <div id="Marketing" (click)="select($event)" class = "option">
      <div class="title">Marketing</div>
      <ul>
          <li>Soicla media marketing</li>
          <li>Searching engine optomization</li>
          <li>Customer orientation</li>
          <li>Product orientation</li>
      </ul>
      <button class="next-step" (click)="finish()">Select skill set</button>
    </div>
    <div id="Design" (click)="select($event)" class = "option">
      <div class="title">Design</div>
      <ul>
          <li>UI/UX</li>
          <li>Wireframing</li>
          <li>Protoyping</li>
          <li>information architecture</li>
      </ul>
      <button class="next-step" (click)="finish()">Select skill set</button>
    </div>
  </div>
</div> 