<div class="card">
  <form *ngIf="intForm && ready" (keydown.enter)="$event.preventDefault();finish()" [formGroup]="intForm">
    <mat-form-field style="width:100%">
      <input class="hfield" placeholder="Enter relevant tags..." type="text" matInput formControlName="intControl" [matAutocomplete]="auto">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="displayNull">
        <mat-optgroup *ngFor="let group of filteredGroups | async" [label]="group.category">
            <mat-option *ngFor="let skill of group.filteredSkills | async" [value]="skill">
              {{skill}}
            </mat-option>
          </mat-optgroup>
    </mat-autocomplete>

    <!-- DO NOT CHANGE: class names, element order, element ids -->

    <div cdkDropList class="hList" (cdkDropListDropped)="dropSkill($event)" [cdkDropListData]="this.hardSkills" id="{{'hardskill_'+this.id}}">

      <div *ngFor="let skill of this.hardSkills" id="{{'parent_hardskill_'+this.id+'_'+this.replace(skill[0], ' ', '_')}}">
        <div cdkDrag id="{{'hardskill_'+this.id+'_'+this.replace(skill[0], ' ', '_')}}">
              <div cdkDragHandle class="tag" (click)="remove(skill[0])"><span class="hs-txt">{{skill[0]}}</span> &nbsp; <div class="warning" *ngIf="skill[0] === 'Microsoft Excel'">!<div class="warningPopup">Note: Make sure to also add specific skills like pivot tables!</div></div></div>
          </div>
      </div>
      <div ng-show="this.hardSkills.length==0">&nbsp;</div>
    </div>

  </form>
</div>
