.card {
  font-family: "Colfax Regular";
  width: 100%;
}

.card h2 {
  color: #203150;
}

.tag {
  float: left;
  display: inline-block;
  background-color: #E5EBEF;
  color: #64696C;
  margin: 5px;
  cursor: pointer;
  padding: 8px;
  padding-top: 10px;
  border-radius: 3px;
  font-family: "Colfax regular";
  font-size: 15px;
  padding-right: 11px;
  padding-left: 11px;
} 

.tag-opt {
  float: right;
}

mat-slider {
  width: 300px;
}

.tagValue {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.hSlider {
  float: right;
  margin-right: 200px;
}

.warning {
  font-size: 12px;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: "colfax regular";
  margin-top: -10px;
  display: inline-block;
  background-color: orange;
  font-weight: 900;
  color: white;
}

.warning:hover .warningPopup {
  display: block;
}

.warningPopup {
  position: absolute;
  margin-top: -150px;
  margin-left: -50px;
  background-color: #E5EBEF;
  color: #64696C;
  font-size: 12px;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: "colfax regular";
  background-color: gainsboro;
  font-weight: 900;
  color: black;
  width: 100px;
  height: 100px;
  display: none;
}

.hs-txt {
  padding-top: 20px;
}