
.profile-pic {
    max-width: 70px;
    margin: 0 auto;
    height: 70px;
    border-radius: 20px;
    margin-top: -47px;
    background-size:cover;
    
}

.entry1 {
    margin-top: 60px;
    float: left;
}

.pfp0 {
    background-color: black;
    color: white;
    font-family: "Colfax Medium";
    text-align: center;
    
    /* background-image:url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}

h1 {
    margin-top: 34px;
    font-size: 24px;
    font-family: "Colfax Medium";
}

h2 {
    margin-top: 20px;
    font-size: 17px;
    font-family: "Colfax medium";
    float: left;
}



h3 {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Colfax Medium";
    margin-top: -6px;
}

.hard-skills {
    font-size: 14px;
    max-width: 70%;
    margin: 0 auto;
    font-family: "Colfax regular";
    line-height: 2;
}

.hard-skills span {
    color: black;
    background-color: #E1E1E1;
    border-radius: 2px;
    margin-right: 2px;
    padding: 3px;
    padding-top: 5px;
}

.soft-skills {
    font-family: "Colfax regular";
    border-radius: 999px;
    margin-bottom: 20px;
}

.buttons {
    max-width: 78%;
    margin: 0 auto;
    margin-bottom: 7px;
}

.invite {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    float: left;
    cursor: pointer;
}

input {
    border: 1px solid #C8C8C8;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.refresh {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 40%;
    padding: 10px;
    float: left;
    cursor: pointer;
    text-align: center;
}

.pct {
    font-size: 25px;
}

.tsk {
    font-size: 12px;
}

.tag {
    display: inline-block;
    border:2px solid #2E1C89;
    color: #2E1C89;
    font-weight: 200;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    padding-top: 10px;
    border-radius: 0px;
    font-family: "Colfax medium";
    float: left;
  } 
  
  mat-slider {
    width: 300px;
  }
  
  .tagValue {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-family: "Colfax regular";
    margin-top: 10px;
  }
  
  .hSlider {
    float: right;
    margin-right: 200px;
  }

  .evaluate {
    margin-left: 50px;
  }

  .ccx {
      margin-top: -50px;
  }

  .ccxx {
    margin-top: -47px;
}

.ff {
    text-align: center;
}

.btns-c {
    max-width: 100%;
    margin: 0 auto;
    height: 120px;
}

.refreshx {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
}

.refreshc {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    float: left;
    cursor: pointer;
    text-align: center;
}