<div *ngIf="this.viewing">
    <h1>{{this.viewing.name}} Evaluation</h1>
  
    <br><br>
    <h2 class="ff">Culture</h2>
    <div class="entry1">
      <div class = "entry">
        <p class="tagValue">Culture Fit: <span id="{{skill}}">5</span></p>
        <mat-slider class="hSlider" min="0" max="10" step="0.1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider>
      </div>
      <div class = "entry">
        <p class="tagValue">Culture Stuff: <span id="{{skill}}">5</span></p>
        <mat-slider class="hSlider ccx" min="0" max="10" step="0.1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider>
      </div>
    </div>  
   
    <br><br>
    
    <h2 class="ff">Technical</h2>
    <div class="entry1">
      <div class = "entry">
        <p class="tagValue">Hard Skills Fit: <span id="{{skill}}">5</span></p>
        <mat-slider class="hSlider" min="0" max="10" step="0.1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider>
      </div>
      <div class = "entry">
        <p class="tagValue cc">Mentoring: <span id="{{skill}}">5</span></p>
        <mat-slider class="hSlider ccxx" min="0" max="10" step="0.1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider>
      </div>
    </div>
  
  
    <br><br>
    <h2>Comments</h2>
    <input type="text" id = "comments" placeholder = "Comments" />
    <br><br>
    <div class="btns-c">
        <div class="refreshc" (click)="cancel()">Cancel evaluation</div> 
      <div class="refreshx"(click) = "submit()">Submit feedback</div>
    </div>
    <br><br><br>
  </div>