.whole {
    background-color: #FBFBFB;
    width: 100%;
    height: 3000px;
    z-index: 1;
}

.wholething {
    max-width: 90%;
    margin: 0 auto;
    z-index: 1;
}

.containerView {
    max-width: 80%;
    margin: 0 auto;
    
}

.view {
    float: right;
    width: 75%;
    margin-top: 100px;
    text-align: center;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

h2 {
    
    font-size: 40px;
}

p {
    
    font-size: 20px;
}


.container {
    
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-top: 80px;
}


.menu {
    float: left;
    width: 16%;
    position: fixed;
    margin-top: 20px;
}

.search {
    margin-bottom: 22px;
}

.search input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
    border: none;
    background-color: #EFEFEF;
    font-family: "colfax regular";
    width: 100%;
    color: black;
    padding-top: 13px;
}

.search input:focus {
    outline: none;
}

.dvdr {
    height: 20px;
}

.container ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.title {
    font-weight: 400;
    font-size: 13px;
    color: black;
    font-family: "colfax medium";
}

.container ul li {
    font-weight: 400;
    font-size: 14px;
    color: #081835;
    line-height: 2.3;
    letter-spacing: 0.6px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    
}

.container ul li:hover {
    background-color: #EFEFEF;
    border-radius: 5px;
}

.icon {
    font-family: "colfax regular";
    color: black;
}

.icon img {
    width: 13px;
    margin-right: 7px;
    -webkit-filter: grayscale(200%); /* Safari 6.0 - 9.0 */
    filter: grayscale(200%);
}

.help-icon img {
    width: 13px;
    margin-right: 11px;
}

.create-ws {
    opacity: 0.5;
    font-size: 12px;
    font-family: "colfax regular";
}

.notify {
    background-color: #FF3A00;
    color: white;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 6px;
    font-size: 12px;
}

.p-name {
    font-family: "colfax regular";
}

.wicon {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    background-color: #F2F2F2;
    border: 1px solid #DADADA;
    float: left;
    margin-right: 9px;
    margin-top: 2px;
    color: black;
}

.trash {
    color: red;
    float: right;
}

.welcome {
    font-family: "colfax regular";
    margin-left: -50px;
}

.nav {
    z-index: 999;
}