<app-company-dashboard-nav class="nav"></app-company-dashboard-nav>

<div class="whole">
<div class="wholething" *ngIf="this.currentUserService.currentUser">
    <div class="menu">
        <div class="container">
    
            <div class="search">
                <input type="text" (keydown)="keydown($event)" (keyup)="keyup($event)" placeholder="Search companies or users">
            </div>
            
            <div class="overview title">PROJECTS</div>
            <ul> 
                <!-- <li (click)="this.router.navigate(['dashboard'], {fragment: 'project'})">Demo Internship <span class="notify">2</span></li> -->
                <li class="p-name" *ngFor="let entry of this.currentUserService.currentUser.company.projects | keyvalue" (click)="viewProj(entry.value)"><div class="wicon">{{entry.value.name.charAt(0)}}</div> {{entry.value.name}} <span class="trash" (click)="delete(entry.value)"><img style="padding-top:7px;width: 65%" src="./assets/images/delete.png"></span></li>
                <li class="create-ws" (click)="create()">+ Create a project</li>
            </ul>
            
            <div class="dvdr"></div>
            
            <div class="resources title">LEARNING &amp; RESOURCES</div>
            <ul>
                <li class="guide-icon icon"><img src="https://i.imgur.com/QVKtDJl.png"> Guide to Thoughtspace</li>
                <li class="video-icon icon"><img src="https://i.imgur.com/6yiyVlh.png"> Video tutorials</li>
                <li class="help-icon icon"><img src="https://i.imgur.com/WFy0GjS.png">Help center</li>
                <li class="news-icon icon"><img src="https://i.imgur.com/nTIxoAp.png"> What's new</li>
            </ul>
                
        </div>
    </div> 
            
            
    <div class="view">
        <div class="containerView">
            <app-company-dashboard-overview [hidden]="this.view != ''"></app-company-dashboard-overview>
            <app-company-createproject [hidden]="hideEditProject()" #createProject></app-company-createproject>
            <app-feedback [hidden]="this.view != 'evaluate'" #feedbackComponent></app-feedback>
            <app-company-viewproject [hidden]="hideViewProject()" #viewProject [feedbackComponent]="feedbackComponent"></app-company-viewproject>
            <app-survey [hidden]="this.view != 'survey'"></app-survey>
            <app-company-projects [hidden]="this.view != 'projects'"></app-company-projects>
            <app-company-analytics [hidden]="this.view != 'analytics'"></app-company-analytics>
            <app-company-feedback [hidden]="this.view != 'talent'"></app-company-feedback>
            <app-student-evaluate [hidden]="this.view != 'student'"></app-student-evaluate>
        </div>
    </div>
            
</div>
</div>