<div class="container">
  
  <div class="grid-container">
    <div class="grid-item">Reports</div>
    <div class="grid-item">Messages</div>
    <div class="grid-item">Review</div>  
    <div class="grid-item">Help</div>
  </div>

</div>