.container {
    width: 100%;
    color: white;
    text-align: center;
    background-color: #E0E0E0;
    margin-top: -2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 30%;
    margin: 0 auto;
}
.grid-item {
    text-align: center;
    font-family: "Colfax Regular";
    font-size: 14px;
    padding: 15px;
    padding-top: 19px;
}