

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    margin: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 18px;
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid #D6D6D6;
}

.hours-card {
    border-top: 3px solid #FFBD00;
}

.tasks-card {
    border-top: 3px solid #00B9FF;
}

.money-card {
    border-top: 3px solid #4ECD0A;
}


.footer {
    margin-top: 15px;
}

.viewb {
    float: right;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
    color: white;
    font-family: "Colfax regular";

}

.viewh-btn {
    background-color: #FFBD00;
}

.viewt-btn {
    background-color: #00B9FF;
}

.viewm-btn {
    background-color: #4ECD0A;
}


.title {
    color: black;
    font-size: 25px;
    font-family: "Colfax Regular";
}

.digit {
    float: left;
    font-size: 25px;
    color: black;
    font-family: "Colfax Medium";
}


