<div class="container">
  <div class="grid-container">

    <div class="card hours-card">
      <div class="title">Total hours </div>
      <div class="footer">
        <div class="digit">149</div>
        <div class="viewb viewh-btn">View →</div>
      </div>
    </div> 

    <div class="card tasks-card"> 
      <div class="title">Done tasks</div>
      <div class="footer">
        <div class="digit">34</div>
        <div class="viewb viewt-btn">View →</div>
      </div>
    </div>

    <div class="card money-card"> 
      <div class="title">Money made</div>
      <div class="footer">
        <div class="digit">$2,329.00</div>
        <div class="viewb viewm-btn">View →</div>
      </div>
    </div>

  </div>
</div>