.container {
    position: absolute;
    position: fixed;
    bottom:30px;
    right:30px;
}

.bot-icon {
    float: right;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 999px;
    background-size: 60px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
    background-image: url('https://scontent-dfw5-1.cdninstagram.com/vp/b858e1c7d0345fe1ed272531cf1539a9/5DE08C12/t51.2885-19/s150x150/66715910_491671371568458_408497565042999296_n.jpg?_nc_ht=scontent-dfw5-1.cdninstagram.com');
}

.content {
    width: 300px;
    height: 500px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
}

.header {
    background-color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header h1 {
    font-family: "colfax regular";
    color: white;
}

.header h3 {
    font-family: "colfax regular";
    color: white;
}

