<div class="container">
  <div class="title">Notification settings</div>

  <div class="grid-container">
    <div class="grid-item">
      <div class="item-title">News letter emails</div>
      <div class="item-desc">News letter emails</div>
    </div>
    <div class="grid-item">
      <div class="toggle">
          <div class="circle"></div>
      </div>
    </div>

    <div class="grid-item">
      <div class="item-title">News letter emails</div>
      <div class="item-desc">News letter emails</div>
    </div>
    <div class="grid-item">
      <div class="toggle toggle-clicked">
        <div class="circle circle-clicked"></div>
      </div>
    </div>

    <div class="grid-item">
      <div class="item-title">News letter emails</div>
      <div class="item-desc">News letter emails</div>
    </div>
    <div class="grid-item">
      <div class="toggle">
          <div class="circle"></div>
      </div>
    </div>

    <div class="grid-item">
      <div class="item-title">News letter emails</div>
      <div class="item-desc">News letter emails</div>
    </div>
    <div class="grid-item">
      <div class="toggle">
          <div class="circle"></div>
      </div>
    </div>
  </div>

</div>

