.container {
    margin-top: 80px;
}

.title {
    font-size: 30px;
    font-family: "roboto";
    font-weight: 400;
    color: #203150;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}

.item-title {
    text-align: left;
    font-size: 19px;
    font-weight: 400;
    color: #203150;
}

.item-desc {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #84898D;
    margin-top: 5px;
}

.toggle {
    text-align: right;
    background-color: #84898D;
    width: 33px;
    height: 10px;
    border-radius: 999px;
    padding: 3px;
}

.circle {
    background-color: white;
    border-radius: 999px;
    width: 10px;
    height: 10px;
}

.toggle-clicked {
    background-color: #35DABC;
}

.circle-clicked {
    float: right;
}

.grid-item {
    font-family: "roboto";
    margin-top: 30px;
}