.main {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 10%;
}

.news {
  float: left;
  width: 45%;
  height: 500px;
  margin-right: 5%;
}

.news-content {
  float: right;
  width: 100%;
  height: 100px;
}
 
.news-content {
  font-family: "colfax regular";
  color: black;
}

.main-container {
    width: 45%;
    float: left;
    margin-left: 5%;
}

.or {
  text-align: center;
  font-family: "colfax regular";
  margin-top: 20px;
  color: #6C6C6C;
}

.new-container {
  margin-top: 30px;
  border: 1px solid #EAEAEA;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 8px;
  border-left: 3px solid #FF0070;
}

.new-container h3 {
  font-family: "colfax regular";
  font-size: 19px;
}

.new-container h4 {
  font-family: "colfax Medium";
  font-size: 16px;
  margin-top: -6px;
}
.new-container p {
  font-family: "colfax regular";
  font-size: 13px;
  margin-top: -10px;
  color: #B2B2B2;
}

 
.onboarding-container {
  max-width: 100%;
  margin: 0 auto;
}


.head {
  font-family: "Colfax Regular";
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}


.head h3 {
  color: black;
  font-weight: 300;
  line-height: 1.4;
  font-size: 35px;
  font-family: "Colfax Medium";
  text-align: center;
}


form p {
    color: black;
    font-size: 14px;
    font-family: "Colfax Regular";
}

.errorMsg {
  color: red;
  font-size: 14px;
  display: none;
  font-family: "Colfax Regular";
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: -10px;
  background-repeat: no-repeat;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  margin-top: 1px;
  margin-bottom: 13px;
  color: black;
  font-family: "Colfax regular";
  padding-top: 17px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
}

.invalid {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: inset 0px 0px 5px 0px red;
}

.next-step {
  cursor: pointer;
  width: 100%;
  padding: 18px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  outline: none;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
}

.skip-step {
  float: right;
  margin-top: 12px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-family: "Colfax regular";
}

a {
  color: #2E1C89;
}

.loginWithGoogle {
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-image: url("https://www.freepnglogos.com/uploads/new-google-logo-transparent--14.png");
  background-size: 50px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  font-size: 16px;
  font-family: "Colfax Regular";
  border: 1px solid #ABABAB;  
  color: #5D5D5D;
  padding: 9px;
  background-color: white;
}