<div class="main">
  <div class="news">
    <div class="news-content">
      <h1>Sign in to your account</h1>
      <div class="new-container">
        <h3>What's new</h3>
        <h4>We are launching our first beta soon</h4>
        <p>Introducing all the features for students &amp; comapnies.</p>
      </div>
    </div>
  </div>
  <div class="main-container"> 

    <div class="onboarding-container">
      <div class="card">
        <button class="loginWithGoogle" (click)="loginWithGoogle()">Sign in with Google</button>
        <div class="or">or</div>
        <form (keydown.enter)="$event.preventDefault();login()"> 
          <p>Email address:</p>   
          <input id="email" placeholder="you@example.com" type="email" (input)="onChange($event.target)">
          <p>Password:</p>    
          <input id="password" placeholder="Enter 6 characters or more" type="password" (input)="onChange($event.target)">
          <span id = "error" class = "errorMsg">Error!</span>
        </form>
          
        <button class="next-step" (click)="login()">Login →</button>
        <button class="skip-step" (click)="this.router.navigate(['/signup'])" >No account? Sign up here!</button>
        <button class="skip-step" style="float:left;" (click)="this.router.navigate(['/passwordreset'])" >Forgot password?</button>


      </div>
    </div>
  </div>
</div>