<div class="nav-bar">
  <ul>
    <p>BASIC INFORMATION</p>
    <li [ngClass]="signupService.state === 0 ? 'active-nav' : 'unactive-nav'" (click)="jump(0)">Contact Information</li>
    <!-- <li [ngClass]="signupService.state === 1 ? 'active-nav' : 'unactive-nav'" (click)="jump(1)">University Information</li> -->
    <li [ngClass]="signupService.state === 1 ? 'active-nav' : 'unactive-nav'" (click)="jump(1)">Username &amp; Password</li>
    <!-- <li [ngClass]="signupService.state === 3 ? 'active-nav' : 'unactive-nav'" (click)="jump(3)">Skill set</li> -->
  </ul>
  <br>
  <!-- <ul>
    <p>SKILLS</p>
    <li [ngClass]="signupService.state === 3 ? 'active-nav' : 'unactive-nav'" (click)="jump(3)">Industry Sectors</li>
    <li [ngClass]="signupService.state === 4 ? 'active-nav' : 'unactive-nav'" (click)="jump(4)">Soft Skills</li>
    <li [ngClass]="signupService.state === 5 ? 'active-nav' : 'unactive-nav'" (click)="jump(5)">Hard Skills</li>
  </ul> -->
</div>