.nav-bar {
    font-family: "Colfax Regular";
    margin-top: 150px;
}


.nav-bar ul li {
    list-style: none;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 8px;
    cursor: pointer;
}

.nav-bar ul p {
    font-size: 11px;
    color: #97A1B2;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-left: 8px;
}

.active-nav {
    color: #2D18B0;
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.07);
    border-radius: 5px;
}

.unactive-nav {
    color: #203150;
}