<div class="container">

    <div class="left">
        <div class="nav">
            <div class="n-head">
                <div class="nh-title">Project creation</div>
                <div id="progress"><div id="progressAfter"></div></div>
            </div>
            <div class="nav-items">
                <div class="nt-1" [class.nt-current]="this.step == 0" (click)="goto(0)">1. Basic information</div>
                <div class="nt-1" [class.nt-current]="this.step == 1" (click)="goto(1)">2. Project description</div>
                <div class="nt-1" [class.nt-current]="this.step == 2" (click)="goto(2)">3. Hard skills</div>
                <div class="nt-1" [class.nt-current]="this.step == 3" (click)="goto(3)">4. Soft skills</div>
                <div class="nt-1" [class.nt-current]="this.step == 4" (click)="goto(4)">5. Location</div>
                <div class="nt-1" [class.nt-current]="this.step == 5" (click)="goto(5)">6. Summary</div>
            </div>
        </div>
    </div>
    <!-- <h2 *ngIf="this.editing==null">Create a Project</h2>
    <h2 *ngIf="this.editing!=null">{{this.editing.name}}</h2> -->
    <div class="right">
        <div class="p-name-top">{{projectname == "" ? "Create a Project" : projectname}}</div>

        <div id="s_0" [hidden]="this.step != 0">
            <div class="s-title">1. Basic Information</div>

            <div class="s1-form">

                <div class="f-name">
                    <p>Project name: <span class="inlineError" id="nameTaken">(already used!)</span></p>
                    <input id="name" type="text" placeholder="Web development" (input)="onChange($event.target)" class="required" [(ngModel)]="projectname">
                </div>

                <div class="l-name">
                    <p>Estimated hours per week:</p>
                    <input id="hours" type="text" placeholder="40" (input)="onChange($event.target)" class="required numberOnly">
                </div>

            </div>

            <br><br>

            <div class="s2-form">

                <div class="f-name">
                    <p>Reference previous interns:</p>
                    <div class="projects-dropdown ref-dd">
                        <select>
                            <option value="contact"> </option>
                            <option value="contact">Brahim Farhani</option>
                            <option value="contact">Mohammed El-Bialy</option>
                            <option value="contact">Patrick Zhong</option>
                            <option value="contact">Gowtham Sundar</option>
                            <option value="contact">Yousef Sammour</option>
                            <option value="contact">Abraham Shaheen</option>
                        </select>
                    </div>
                </div>

                <div class="l-name">
                    <p>Estimated weeks total:</p>
                    <input id="weeks" type="text" placeholder="12" (input)="onChange($event.target)" class="required numberOnly">
                </div>

            </div>

            <button class="submit" (click)="next()">Project Description →</button>
        </div>

        <div id="s_1" [hidden]="this.step != 1">
            <div class="s-title">2. Project Description</div>

            <div class="s1-form">

                <div class="full">
                    <p>*Project position:</p>

                    <div class="projects-dropdown">
                        <select id="primaryRole">
                            <option value="Software Engineer">Software Engineer</option>
                            <option value="Mobile Developer">&nbsp;&nbsp;&nbsp; Mobile Developer</option>
                            <option value="Frontend Developer">&nbsp;&nbsp;&nbsp; Frontend Developer</option>
                            <option value="Backend Developer">&nbsp;&nbsp;&nbsp; Backend Developer</option>
                            <option value="Full-Stack Developer">&nbsp;&nbsp;&nbsp; Full-Stack Developer</option>
                            <option value="Engineering Manager">&nbsp;&nbsp;&nbsp; Engineering Manager</option>
                            <option value="QA Engineer">&nbsp;&nbsp;&nbsp; QA Engineer</option>
                            <option value="Software Architect">&nbsp;&nbsp;&nbsp; Software Architect</option>
                            <option value="Designer">Designer</option>
                            <option value="UI/UX Designer">&nbsp;&nbsp;&nbsp; UI/UX Designer</option>
                            <option value="User Researcher">&nbsp;&nbsp;&nbsp; User Researcher</option>
                            <option value="Visual Designer">&nbsp;&nbsp;&nbsp; Visual Designer</option>
                            <option value="Creative Director">&nbsp;&nbsp;&nbsp; Creative Director</option>
                            <option value="Operations">Operations</option>
                            <option value="Finance">&nbsp;&nbsp;&nbsp; Finance/Accounting</option>
                            <option value="Human Resources">&nbsp;&nbsp;&nbsp; H.R.</option>
                            <option value="Office Manager">&nbsp;&nbsp;&nbsp; Office Manager</option>
                            <option value="Recruiter">&nbsp;&nbsp;&nbsp; Recruiter</option>
                            <option value="Customer Service">&nbsp;&nbsp;&nbsp; Customer Service</option>
                            <option value="Operations Manager">&nbsp;&nbsp;&nbsp; Operations Manager</option>
                            <option value="Sales">Sales</option>
                            <option value="Business Development">&nbsp;&nbsp;&nbsp; Business Development</option>
                            <option value="Account Executive">&nbsp;&nbsp;&nbsp; Account Executive</option>
                            <option value="Manager Business Development">&nbsp;&nbsp;&nbsp; BD Manager</option>
                            <option value="Account Manager">&nbsp;&nbsp;&nbsp; Account Manager</option>
                            <option value="Sales Manager">&nbsp;&nbsp;&nbsp; Sales Manager</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Growth Hacker">&nbsp;&nbsp;&nbsp; Growth Hacker</option>
                            <option value="Marketing Manager">&nbsp;&nbsp;&nbsp; Marketing Manager</option>
                            <option value="Content Creator">&nbsp;&nbsp;&nbsp; Content Creator</option>
                            <option value="Hardware Engineer">Hardware Engineer</option>
                            <option value="Mechanical Engineer">Mechanical Engineer</option>
                            <option value="Systems Engineer">Systems Engineer</option>
                            <option value="Business Analyst">Business Analyst</option>
                            <option value="Data Scientist">Data Scientist</option>
                            <option value="Product Manager">Product Manager</option>
                            <option value="Attorney">Attorney</option>
                        </select>
                    </div>
                    <br>
                    <p>Additional roles:</p>

                    <div class="projects-dropdown">
                        <select id="additional" (change)="selectAdditional($event.target.value)">
                            <option value="developer"> </option>
                            <option value="developer">Software Engineer</option>
                            <option value="mobile_developer">&nbsp;&nbsp;&nbsp; Mobile Developer</option>
                            <option value="frontend developer">&nbsp;&nbsp;&nbsp; Frontend Developer</option>
                            <option value="backend developer">&nbsp;&nbsp;&nbsp; Backend Developer</option>
                            <option value="full stack developer">&nbsp;&nbsp;&nbsp; Full-Stack Developer</option>
                            <option value="Engineering Manager">&nbsp;&nbsp;&nbsp; Engineering Manager</option>
                            <option value="QA Engineer">&nbsp;&nbsp;&nbsp; QA Engineer</option>
                            <option value="Software Architect">&nbsp;&nbsp;&nbsp; Software Architect</option>
                            <option value="designer">Designer</option>
                            <option value="UI/UX Designer">&nbsp;&nbsp;&nbsp; UI/UX Designer</option>
                            <option value="User Researcher">&nbsp;&nbsp;&nbsp; User Researcher</option>
                            <option value="Visual Designer">&nbsp;&nbsp;&nbsp; Visual Designer</option>
                            <option value="Creative Director">&nbsp;&nbsp;&nbsp; Creative Director</option>
                            <option value="operations">Operations</option>
                            <option value="finance">&nbsp;&nbsp;&nbsp; Finance/Accounting</option>
                            <option value="human_resources">&nbsp;&nbsp;&nbsp; H.R.</option>
                            <option value="office_manager">&nbsp;&nbsp;&nbsp; Office Manager</option>
                            <option value="recruiter">&nbsp;&nbsp;&nbsp; Recruiter</option>
                            <option value="customer service">&nbsp;&nbsp;&nbsp; Customer Service</option>
                            <option value="Operations manager">&nbsp;&nbsp;&nbsp; Operations Manager</option>
                            <option value="sales">Sales</option>
                            <option value="business development">&nbsp;&nbsp;&nbsp; Business Development</option>
                            <option value="business development">&nbsp;&nbsp;&nbsp; Business Development</option>
                            <option value="Account Executive">&nbsp;&nbsp;&nbsp; Account Executive</option>
                            <option value="Manager Business Development">&nbsp;&nbsp;&nbsp; BD Manager</option>
                            <option value="Account Manager">&nbsp;&nbsp;&nbsp; Account Manager</option>
                            <option value="Sales Manager">&nbsp;&nbsp;&nbsp; Sales Manager</option>
                            <option value="marketing">Marketing</option>
                            <option value="Growth Hacking">&nbsp;&nbsp;&nbsp; Growth Hacker</option>
                            <option value="Marketing Manager">&nbsp;&nbsp;&nbsp; Marketing Manager</option>
                            <option value="Content Creator">&nbsp;&nbsp;&nbsp; Content Creator</option>
                            <option value="hardware_engineer">Hardware Engineer</option>
                            <option value="mechanical engineer">Mechanical Engineer</option>
                            <option value="Systems Engineer">Systems Engineer</option>
                            <option value="business analyst">Business Analyst</option>
                            <option value="data scientist">Data Scientist</option>
                            <option value="product_manager">Product Manager</option>
                            <option value="Project Manager">Project Manager</option>
                            <option value="attorney">Attorney</option>
                        </select>
                    </div>
                    <br>

                    <div *ngFor="let role of this.additional" class="tag" (click)="remove(role)">{{role}}</div>
                    <br><br>
                </div>

            </div>


            <div class="s2z-form">
                <br>
                <div class="full">
                    <p>Description</p>
                    <textarea rows="10" id="description" type="text" placeholder="Develop an interactive web application.." (input)="onChange($event.target)" class="required"></textarea>
                </div>

            </div>

            <button class="submit" (click)="next()">Hard Skills →</button>
            <button class="previous" (click)="previous()" >Back</button>
        </div>

        <div id="s_2" [hidden]="this.step != 2">
            <div class="s-title">3. Hard Skills</div>

            <br>

            <p class="skillTitle">Select skills that are vital to the project:</p>


            <br>

            <!-- <div cdkDropListGroup>
                <div *ngFor="let intern of this.interns">
                    <p>Intern {{intern}}</p>
                    <app-hard-skills [company]=true #hardSkills [id]="intern" [editing]="this.editing"></app-hard-skills>
                    <br>
                </div>
            </div> -->
            <app-hard-skills [company]=true #hardSkills [id]="1" [editing]="this.editing"></app-hard-skills>
            <br>
            <br><br>
            <button class="submit" (click)="next()">Soft Skills →</button>
            <button class="previous" (click)="previous()" >Back</button>
        </div>

        <div id="s_3" [hidden]="this.step != 3">
            <div class="s-title">4. Soft Skills</div>

            <br>

            <p class="skillTitle">Drag &amp; drop the following soft skills from most to least important:</p>

            <br>
            <app-soft-skills [company]=true #softSkills></app-soft-skills>

            <button class="submit" (click)="next()">Location →</button>
            <button class="previous" (click)="previous()" >Back</button>
        </div>

        <div id="s_4" [hidden]="this.step != 4">
            <div class="s-title">5. Location</div>

            <br>
            <div class="full">
                <p>Location</p>
                <input rows="10" id="location" type="text" placeholder="College Station, Texas" (input)="onChange($event.target)" class="required">

                <br>
                <p class="policy-field">Remote Policy</p><br>
                <select class="policy-options">
                    <option value="office">Ideally in the office, but remote work is possible for the right person</option>
                    <option value="remote">Our team is most (or even fully) remote</option>
                </select>

            </div>




            <br><br>

            <button class="submit" (click)="next()">Summary  →</button>
            <button class="previous" (click)="previous()" >Back</button>
        </div>

        <div id="s_5" [hidden]="this.step != 5">
            <div class="s-title">6. Summary</div>
            <br>
            <div class="full">
                <p>Recruiting contact:</p>

                <div class="projects-dropdown">
                    <select>
                        <option value="contact">Brahim Farhani</option>
                        <option value="contact">Mohammed El-Bialy</option>
                        <option value="contact">Patrick Zhong</option>
                        <option value="contact">Gowtham Sundar</option>
                        <option value="contact">Yousef Sammour</option>
                        <option value="contact">Abraham Shaheen</option>
                    </select>
                </div>

                <br><br>
                <p>Estimated hours per week: <span id="summaryHours"></span> &nbsp;<span style="color: blue; cursor: pointer" (click)="goto(0)">(edit)</span></p>
                <p>Estimated weeks total: <span id="summaryWeeks"></span> &nbsp;<span style="color: blue; cursor: pointer" (click)="goto(0)">(edit)</span></p>
                <br>
                <p>Primary role: <span id="summaryRole"></span> &nbsp;<span style="color: blue; cursor: pointer" (click)="goto(1)">(edit)</span></p>
                <p>Description: <span id="summaryDesc"></span> &nbsp;<span style="color: blue; cursor: pointer" (click)="goto(1)">(edit)</span></p>
                <p>Hard Skills: </p> <div *ngFor="let entry of this.summarySkills" class = "tag" style="cursor:auto">{{entry}}</div> &nbsp;<span style="color: blue; cursor: pointer" (click)="goto(2)">(edit)</span>
                <br>
                <p>Location: <span id="summaryLocation"></span> &nbsp;<span style="color: blue; cursor: pointer" (click)="goto(4)">(edit)</span></p>

                <br><br><br>
            <div class="btnss-nav">
                <button class="submit" (click)="submit()">{{this.editing == null ? "Create" : "Update"}} Project →</button>
                <button class="previous" (click)="previous()" >Back</button>
            </div>
        </div>
        <br><br><br>

        <!-- <input class="s-0" id="name" placeholder="Project Name" type="text" [(ngModel)]="projectname">
        <textarea class="s-1" id="desc" placeholder="Description" type="text"></textarea>

        <p class="skillTitle">Select skills that are vital to the project:</p>
        <app-hard-skills [company]=true #hardSkills></app-hard-skills><br>

        <p class="skillTitle">Drag &amp; drop the following soft skills from most to least important:</p>
        <app-soft-skills [company]=true #softSkills></app-soft-skills>

        <button *ngIf="this.editing==null" class="next-step" (click)="submit()">Create Project</button>
        <button *ngIf="this.editing!=null" class="next-step" (click)="submit()">Update {{this.editing.name}}</button>
        <br><br><br><br><br><br> -->
    </div>

</div>
