.p-name-top {
    font-family: "Colfax medium";
    font-size: 25px;
    margin-bottom: 30px;
}

.left {
    width: 19%;
    float: left;
    text-align: left;
    padding-top: 20px;
}

.nav {
    margin-left: -95px;
}

.n-head {
    padding-left: 40px;
}

.nh-title {
    font-family: "Colfax medium";
    margin-bottom: 13px;
}

#progress {
    background: #E7E7E7;
    border-radius: 99px;
    height: 5px;
    width: 80%;
    padding: 0px;
}

#progressAfter {
    content: '';
    display: block;
    background: #0087FF;
    width: 16.666666667%;
    height: 100%;
    border-radius: 9px;
}

.nav-items {
    font-family: "Colfax Regular";
    margin-top: 30px;
    width: 103%;
}

.nt-current {
    background-color:#0087FF;
    color: white;
}

.nt-1 {
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 10px;
    cursor: pointer;
}

.right {
    padding-top: 25px;
    width: 70%;
    float: right;
    border-left: 1px solid #D3D3D3;
    padding-left: 10%;
}

.container {
    text-align: left;

}

.errorMsg {
  color: red;
  font-size: 14px;
  font-family: "Roboto";
  text-align: left;
}


.title {
    font-size: 40px;
    color: black;
    font-family: "Colfax Medium";
    max-width: 90%;
}

.sub-title {
    font-size: 17px;
    color: black;
    font-family: "Colfax regular";
    margin-top: 14px;
    max-width: 100%;
}

.section1 {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #CBCBCB;
}

.section2 {
    margin-top: 210px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section3 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section4 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section5 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section6 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.ine {
    margin-top: 10px;
}

.legal-cb {
    float: left;
    border-radius: 999px;
}

.legal-text {
    float: left;
    font-size: 14px;
    color: black;
    font-family: "Colfax regular";
    padding-top: 2px;
    margin-left: 6px;
}


.s1-form {
    margin-top: 30px;
}

.s2-form {
    margin-top: 65px;
}

.s2z-form {
    margin-top: 45px;
}

.s-title {
    font-size: 22px;
    color: black;
    font-family: "Colfax regular";
    margin-bottom: 10px;
}

.f-name {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.full {
    float: left;
    width: 125%;
    margin-right: 5%;
}

#types {
    margin-left: 0px;
}

#location {
    width: 76%;
}

.type {
    display: inline-block;
    background-color: #BFBFBF;
    color: white;
    font-weight: 200;
    margin: 5px;
    width: 102px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    padding-top: 12px;
    border-radius: 0px;
    font-family: "Colfax regular";
    font-size: 13px;
    border-radius: 3px;
}



.typeSelected {
    background-color: black;
    color:white;
}

.type:hover {
    color: white;
    opacity: 0.7;
}

p {
    font-size: 14px;
    color: black;
    font-family: "Colfax regular";
    margin: 0;
}

input {
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.tag {
    display: inline-block;
    background-color: #E5EBEF;
    color: #64696C;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    padding-top: 10px;
    border-radius: 3px;
    font-family: "Colfax regular";
    font-size: 15px;
    padding-right: 11px;
    padding-left: 11px;
}

.policy-field {
    margin-top: 20px;
}

.policy-options {
  width: 100%;
  height: 20px;
  font-family: "Colfax Regular";
  border: none;
  background-color: white;
  padding-top: 130px;
  font-size: 15px;
  text-indent: 5px;
  line-height: 2;
  outline: none;
}


.btns-nav {
    height: 120px;
}

.btnss-nav {
    width: 520px;
}

.ps {
    margin-left: -60px;
}

.submit  {
    float: right;
    margin-bottom: 40px;
    font-family: "Colfax Regular";
    cursor: pointer;
    width: 35%;
    margin-top: 40px;
    font-size: 14px;
    color: white;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 10px;
}


.previous {
    float: left;
    margin-bottom: 20px;
    font-family: "Colfax Regular";
    cursor: pointer;
    width: 20%;
    margin-top: 40px;
    font-size: 14px;
    color: black;
    border: 1px solid #C6C6C6;
    background-color: #F3F3F3;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 10px;
}

textarea {
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
    resize: none;
}

.l-name {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.inlineError {
    color: red;
    font-size: 14px;
    display: none;
    font-family: "Colfax Regular";
}

.errorMsg {
    margin-top: 15px;
    color: red;
    font-size: 12px;
    display: none;
    font-family: "Colfax Regular";
}

.invalid {
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 0px red;
    -moz-box-shadow: 0px 0px 5px 0px red;
    box-shadow: 0px 0px 5px 0px red;
}



.skillTitle {
    color: black;
    font-size: 16px;
    font-family: "Colfax Regular";
}

#description {
    width: 76%;
}

.projects-dropdown {
    margin-top: 7px;
    width: 50%;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 11px;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
}

.projects-dropdown select {
    width: 100%;
    height: 20px;
    font-family: "Colfax Regular";
    border: none;
    background-color: white;
    padding-top: 130px;
    font-size: 15px;
    text-indent: 5px;
    line-height: 2;
    outline: none;
}

.rw {
    margin-top: 30px;
}

.y-opt {
    width: 40%;
}

.ssc {
    margin-left: -7023px;
}



  .ref-dd {
    width: 99%;
}



