.container {
    height: 168vh;
    padding-top: 5vh;
}


.section {
    max-width: 75%;
    margin: 0 auto;
}

.ss {
    margin-bottom: 55vh;
}

.sl {
    margin-top: 107vh;
}

.right {
    float: right;
    width: 50%;
}

.right img {
    width: 65%;
    float: right;
    margin-top: -40px;
}

.left img {
    width: 65%;
    float: left;
    margin-top: -60px;
}

.img-t {
    width: 70%;
    margin-top: 10px;
}

.left {
    float: left;
    width: 50%;
}

.left h1 {
    font-family: "Colfax Regular";
    font-size: 43px;
}

.left p {
    font-family: "Colfax Regular";
    font-size: 16px;
    line-height: 1.8;
}

.right h1 {
    font-family: "Colfax Regular";
    font-size: 43px;
}

.right p {
    font-family: "Colfax Regular";
    font-size: 16px;
    line-height: 1.8;
}
