<div class="container">

  <div class="section ss">
    <div class="right">
      <img src="https://i.imgur.com/Y61r2Q8.png">
    </div>

    <div class="left">
      <h1>Talent Engagement</h1>
      <p>Thoughtspace allows for continuous talent engagement and development. Companies can build online courses for students to educate themselves on what they will be doing before they come to work full time. At the same time, companies can generate a talent pipeline while students put themselves in a more competitive position to get hired. </p>
    </div>
  </div>

  <div class="section ss">
    <div class="right">
      <h1>On-Demand Internships</h1>
      <p>Provide a platform that facilitates agile internships/project support in every market segment. Through the Thoughtspace talent pipeline, find vetted student talent to complete projects to meet your next deadline. Stop hiring expensive consulting and start using your future employees. </p>
    </div>
  
    <div class="left">
        <img class="img-t" src="https://i.imgur.com/vuQ82te.png">
    </div>
  </div>

  <div class="section sl">
      <div class="right">
        <img src="https://i.imgur.com/aiM0KGk.png">
      </div>
  
      <div class="left">
        <h1>Career Development</h1>
        <p>Thoughtspace provides professional development tools and real-world industry experience. We work with you throughout your educational journey! We offer free professional development training courses to get you to where you want to go in life.</p>
      </div>
    </div>

</div>