<div class="container">
  <div class="intro">
    <div class="intro-title">Evaluation Form</div>
  </div>
  <div>
    <br>
    <h2 class="txt-t">Please rate this student's <span class="r8-obj">Soft Skills</span>:</h2>
    <div class="grid-container">
        <div class="grid-item ss">Decision Making</div>
        <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
  
        <div class="grid-item ss">Communication</div>
        <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
  
        <div class="grid-item ss">Self-Management</div>
        <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
  
        <div class="grid-item ss">Teamwork</div>
        <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
  
        <div class="grid-item ss">Professionalism</div>
        <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
  
        <div class="grid-item ss">Experience</div>
        <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
      </div>
    <br><br>
    <h2 class="txt-t">Please rate your <span class="r8-obj">Overall Experience</span>:</h2>
    <div class="grid-container">
      <div class="grid-item ss">Thing A</div>
      <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>

      <div class="grid-item ss">Thing B</div>
      <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>

      <div class="grid-item ss">Thing C</div>
      <div class="grid-item" style="text-align: right;"><mat-slider id="softSkills_slider" class="hSlider" min="0" max="10" step="1" value="5" thumbLabel (input)="onSlide($event)"></mat-slider></div>
    </div>
    <br><br>
    <div>
      <h2 class="txt-t">Please rate this student's <span class="r8-obj">Culture Fit</span>:</h2>
      <div class="explainer">Please input your top 3 company values and rate the student </div>
      <br><br>
      <div class="grid-container">
          <div class="grid-item ss">
            <input class="value-form" placeholder="Company value 1">
          </div>
          <div class="grid-item" style="text-align: right;">
          <div class="hs-scale">
            <input type="radio" class="radio2">
            <input type="radio" class="radio2">
            <input type="radio" class="radio2">
          </div>
  
          <div class="hs-labels">
            <div class="hl hl12">Yes</div>
            <div class="hl hl22">Potential</div>
            <div class="hl hl32">No</div>
            
          </div>
        </div>
  
        <div class="grid-item ss">
          <input class="value-form" placeholder="Company value 2">
        </div>
        <div class="grid-item" style="text-align: right;">
        <div class="hs-scale">
          <input type="radio" class="radio2">
          <input type="radio" class="radio2">
          <input type="radio" class="radio2">
        </div>
  
        <div class="hs-labels">
          <div class="hl hl12">Yes</div>
          <div class="hl hl22">Potential</div>
          <div class="hl hl32">No</div>
          
        </div>
      </div>
  
      <div class="grid-item ss">
        <input class="value-form" placeholder="Company value 3">
      </div>
      <div class="grid-item" style="text-align: right;">
      <div class="hs-scale">
        <input type="radio" class="radio2">
        <input type="radio" class="radio2">
        <input type="radio" class="radio2">
      </div>
  
      <div class="hs-labels">
        <div class="hl hl12">Yes</div>
        <div class="hl hl22">Potential</div>
        <div class="hl hl32">No</div>
        
      </div>
    </div>
  
    
        </div>
    </div>
  
  
    <br><br>
    <h2 class="txt-t">Please write an overall <span class="r8-obj">comment</span> on this student:</h2>
    <input type="text" id = "comments" placeholder = "Comments" />
    
    <div class="btns-c">
      <div class="refreshx"(click) = "submit()">Submit feedback</div>
      <div class="refreshc" (click)="cancel()">Cancel evaluation</div> 
    </div>
  </div>
  </div>