<div class="container">
    <div class="tasks-container">
      <div class="title">Work history</div>
      <div class="subtitle">See all history</div>
      <br>
      <div class="tasks-list">
        <ul>
          <li class="item">
            <div class="item-left-title">Complete Thoughtspace profile</div><br><br>
            <div class="item-left-disc">Complete Thoughtspace profile</div>
            <div class="item-right">3:32:31</div>
          </li>
          
          <li class="item">
            <div class="item-left-title">Complete billing process</div><br><br>
            <div class="item-left-disc">Complete billing process</div>
            <div class="item-right">1:59:04</div>
          </li>

          <li class="item">
            <div class="item-left-title">Complete billing process</div><br><br>
            <div class="item-left-disc">Complete billing process</div>
            <div class="item-right">1:59:04</div>
          </li>

          <li class="item">
            <div class="item-left-title">Complete billing process</div><br><br>
            <div class="item-left-disc">Complete billing process</div>
            <div class="item-right">1:59:04</div>
          </li>

          <li class="item">
            <div class="item-left-title">Complete billing process</div><br><br>
            <div class="item-left-disc">Complete billing process</div>
            <div class="item-right">1:59:04</div>
          </li>

          <li class="last-item">
            <div class="item-left-title">Invite 4 friends</div><br><br>
            <div class="item-left-disc">Invite 4 friends</div>
            <div class="item-right">1:02:31</div>
          </li>
        </ul>
      </div>
    </div>
  </div>    