<div class="container">
    <div class="tasks-container">
      <div class="title">Tasks due soon</div>
      <div class="subtitle">See all my tasks</div>
      <br>
      <div class="tasks-list">
        <ul>
          <li class="item"><div class="item-left"><div class="btn"></div>Complete Thoughtspace profile</div><div class="item-right today">Today</div></li>
          <li class="item"><div class="item-left"><div class="btn"></div>Complete billing process</div><div class="item-right tmrw">Tomorrow</div></li>
          <li class="last-item"><div class="item-left"><div class="btn"></div>Invite 4 friends</div><div class="item-right other">Tuesday</div></li>
        </ul>
      </div>
    </div>
  </div>