.container {
    width: 100%;
    margin-top: 40px;
}

.tasks-container {
    font-family: "Roboto";
}

.title {
    float: left;
    font-size: 20px;
    color: black;
    font-family: "Colfax Regular";
}

.subtitle {
    float: right;
    font-size: 14px;
    margin-top: 6px;
    color: #146ffb;
}

.tasks-list {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.11);
    border-radius: 10px;
    margin-top: 25px;
}

.tasks-list ul  {
    padding: 0;
    font-size: 14px;
}

.item {
    padding: 15px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #E5E9EC;
}

.last-item {
    padding: 15px;
    padding-bottom: 30px;
    list-style: none;
}

.item-left {
    float: left;
}

.item-right {
    float: right;
}

.today {
    color: #35DABC;
}

.tmrw {
    color: #35DABC;
}

.other {
    color: #717273;
}

.btn {
    height: 15px;
    width: 15px;
    border: 1px solid #B4B8BB;
    border-radius: 6px;
    float: left;
    margin-right: 10px;
}