<div class="container">
<form>
    <!--<select [(ngModel)]="project" name ="projectname">
        <option  *ngFor="let project of projects" [value]="project">{{project}}</option>
      </select>--> <br>
      
    <h1>Append a task</h1>
    <p>Task:</p>
    <input class="task-in" [(ngModel)]="title" type="text" name="title"><br>
    <br>
    <p>description:</p>
    <input class="task-in" [(ngModel)]="description" type="text" name="description"><br>
    <br>
    <p>Due Date:</p>
    <input class="task-in" [(ngModel)]="dueDate" type="date" name="dueDate"><br>
    
    <button class="add-task" (click)="add()">Add task</button>
  </form> 
</div>