.container {
    max-width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    font-family: "colfax Medium";
    text-align: center;
    margin-bottom: 40px;
}

.task-in {
    width: 100%;
    padding: 10px;
    font-family: "colfax regular";
    margin-top: -20px;
    font-size: 17px;
}

.container p {
    font-family: "colfax regular";
}

.add-task {
    width: 106%;
    padding: 15px;
    border: 0 solid black;
    background-color: black;
    color: white;
    font-family: "colfax regular";
    font-size: 17px;
    margin-top: 35px;
    border-radius: 3px;
}