.container {
    max-width: 80%;
    margin: 0 auto;
}

.view {
    float: right;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

h2 {
    font-family: "Roboto";
    font-size: 40px;
}