<div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">
    <app-dashboard-nav *ngIf="this.currentUserService.currentUser.isIntern" class="nav" [fixed]="true"></app-dashboard-nav>
    <app-company-dashboard-nav *ngIf="!this.currentUserService.currentUser.isIntern" class="nav"></app-company-dashboard-nav>
</div>
  
<div class="container">
    <div class="view">
        <br><br>
        <!-- <h2>"REWARDS"</h2> -->
    </div>
</div>