<div class="card">
  <h2>Industry Sectors</h2>
  <p>Select all the sectors you are interested in working in:</p>
  <p id="error" style="color:red;display:none">Please select at least one industry!</p>

  <div class="sector" (click)="select($event)" *ngFor="let sector of sectors">
    {{sector}}
  </div>
  
  <button class="next-step" (click)="next()">Continue →</button>
  <button class="skip-step" (click)="next()" >Skip step →</button>
</div>