<div class="nav">
  <div class="logo-container">
    <img src="./assets/images/TS-LOGO.svg"> 
    <div class="logo">thoughtspace</div>
  </div>
  <div class="contact">
    +1 (832) 312-3930
  </div>
</div>
<div class="container">
  <div class="title">Welcome to the Thoughtspace Clariant internship</div>
  <div class="sub-title">* Please fill out everything to complete a full profile for this internship.</div>

  <div class="section1">
    <div class="s-title">1. Basic information</div>

    <div class="s1-form">

      <div class="f-name">
        <form>
          <p>First name</p>
          <input type="text" placeholder="John">
        </form>
      </div>

      <div class="l-name">
        <form>
          <p>Last name</p>
          <input type="text" placeholder="Doe">
        </form>
      </div>

    </div>
    <br><br>
    <div class="s2-form">
      
      <div class="f-name">
        <form>
          <p>Email address</p>
          <input type="text" placeholder="john.doe@example.com">
        </form>
      </div>

      <div class="l-name">
        <form>
          <p>Phone number</p>
          <input type="text" placeholder="+1 (123) 456-7890">
        </form>
      </div>

    </div>

  </div>

  <div class="section2">
    <div class="s-title">2. University information</div>

    <div class="s1-form">

      <div class="f-name">
        <form>
          <p>College/Department</p>
          <input type="text" placeholder="e.g. College of Engineering">
        </form>
      </div>

      <div class="l-name">
        <form>
          <p>Classification</p>
          <input type="text" placeholder="e.g. Sophomore">
        </form>
      </div>

    </div>
    <br><br>
    <div class="s2-form">
      
      <div class="f-name">
        <form>
          <p>Unique Identification Number</p>
          <input type="text" placeholder="9 digit UIN">
        </form>
      </div>

      <div class="l-name">
        <form>
          <p>Major</p>
          <input type="text" placeholder="e.g. Industrial Engineering">
        </form>
      </div>

    </div>

  </div>

  <div class="section3">
    <div class="s-title">3. Equal Employment Opportunity</div>

    <div class="s1-form">

      <input class="legal-cb" type="checkbox">
      <div class="legal-text">I am legally authorized to work in the United States</div>
      <br><br>
      <form class="ine">
        <p>If not, please explain</p>
        <input type="text" placeholder="e.g. International student etc...">
      </form>
    </div>

  </div>

  <div class="section4">
    <div class="s-title">4. Hard skills</div>

    <div class="s1-form">

      <input class="legal-cb" type="checkbox">
      <div class="legal-text">I am legally authorized to work in the United States</div>
      <br><br>
      <form class="ine">
        <p>If not, please explain</p>
        <input type="text" placeholder="e.g. International student etc...">
      </form>
    </div>

  </div>

  <div class="section5">
    <div class="s-title">5. Soft skills</div>

    <div class="s1-form">

      <input class="legal-cb" type="checkbox">
      <div class="legal-text">I am legally authorized to work in the United States</div>
      <br><br>
      <form class="ine">
        <p>If not, please explain</p>
        <input type="text" placeholder="e.g. International student etc...">
      </form>
    </div>

  </div>

  <div class="section6">
    <div class="s-title">6. Upload resume</div>

    <div class="s1-form">
      <form class="ine">
        <p>If not, please explain</p>
        <input type="text" placeholder="e.g. International student etc...">
      </form>
    </div>

  </div>

</div>