
.nav {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

.contact {
    float: right;
    font-size: 20px;
    padding-top: 5px;
    color: black;
    font-weight: 100;
    font-family: "Colfax Regular";
}

.logo-container {
    float: left;
}

.logo-container img {
    width: 30px;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}

.logo {
    float: left;
    font-size: 23px;
    color: black;
    font-family: "Colfax Regular";
}

.container {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 1230px;
}

.title {
    font-size: 40px;
    color: black;
    font-family: "Colfax Medium";
    max-width: 90%;
}

.sub-title {
    font-size: 17px;
    color: black;
    font-family: "Colfax regular";
    margin-top: 14px;
    max-width: 100%;
}

.section1 {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #CBCBCB;
}

.section2 {
    margin-top: 210px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section3 {
    margin-top: 210px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section4 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section5 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section6 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.ine {
    margin-top: 10px;
}

.legal-cb {
    float: left;
    border-radius: 999px;
}

.legal-text {
    float: left;
    font-size: 14px;
    color: black;
    font-family: "Colfax regular";
    padding-top: 2px;
    margin-left: 6px;
}


.s1-form {
    margin-top: 30px;
}

.s2-form {
    margin-top: 65px;
}


.s-title {
    font-size: 22px;
    color: black;
    font-family: "Colfax regular";
    margin-bottom: 10px;
}

.f-name {
    float: left;
    width: 45%;
    margin-right: 5%;
}

form p {
    font-size: 14px;
    color: black;
    font-family: "Colfax regular";
    margin: 0;
}

form input {
    border: 1px solid #C8C8C8;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.l-name {
    float: left;
    width: 45%;
    margin-left: 5%;
}