<div class="main-container">
    <div class="head">
      <h1>Login to ThoughtSpace</h1>
      <h3>Join a team of your brightest peers to complete a project over the course of a semester for big names in industry.</h3>
    </div>
  
    <div class="onboarding-container">
      <div class="card">
        <h2>Email Verification</h2>
        <p>Hold on... we're verifying your email!</p>
        <p style="display:none;color:red" id = "error">Whoops! Something went wrong. Please refresh the page.</p>
      </div>
    </div>
  </div>