<div class="container" *ngIf="this.viewing" (click)="containerClick($event.target)">
    <div class="header">
    <div class="header-info">
      <div class="header-title">Matches<span style="color: #0087FF">.</span></div>
      <div class="header-subtitle">View and select matches for <span class="p-name-top">{{this.viewing.name}}</span>.</div>
    </div>
    <div class="header-configure">
      <div class="h-add-project">Selected <span class="selected">0</span></div>
      <div class="h-help-project" (click)="this.router.navigate(['dashboard/edit/' + this.viewing.name])">Edit Project</div>
    </div>
  </div>

  <div class="nav">
    <div class="nav-item" [class.it-current] = "this.view === 'all'" (click)="this.view = 'all'">
      <div class="it-t" [class.current-tab] = "this.view==='all'">View all</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.view === 'created'" (click)="this.view = 'created'">
        <div class="it-t" [class.current-tab] = "this.view==='created'">Selected</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.view === 'starred'" (click)="this.view = 'starred'">
        <div class="it-t" [class.current-tab] = "this.view==='starred'">Starred ({{this.starred.length}})</div>
    </div>

  </div>

    <div *ngIf="this.hasMatches()">
        <div class="grid-container">
            <div class="grid-item" *ngFor="let intern of matchesShown()">
                <div *ngIf="this.matches[intern] !== undefined">
                    <div class="top">
                        <div class="left">
                            <div class="profile-pic pfp0">{{this.matches[intern]['data']['firstname'][0]+this.matches[intern]['data']['lastname'][0]}}</div>
                        </div>
                        <div class="right">
                            <div class="r-left">
                                <div class="intern-name">{{this.matches[intern]['shortname']}}</div>
                                <div class="intern-univ">{{this.matches[intern]['data']['university']}}</div>
                            </div>
                            <div class="r-right">
                                <div class="rr-ss">
                                  <div class="soft-skills">
                                    <div style="width: 55px;height: 55px;">
                                      <canvas baseChart width="500" height="500"
                                              [data]="[[this.matches[intern]['score'], 100-this.matches[intern]['score']]]"
                                              [labels]="ssLabels"
                                              [colors]="ssColors"
                                              [legend]="false"
                                              [options]="{tooltips: {enabled: false}}"
                                              [chartType]="'doughnut'"></canvas>
                                      <div class="pct">{{this.matches[intern]['score']}}%</div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="b-left" (click)="swapStar(intern)" [style.color]="this.starred.includes(intern) ? '#009BFF' : '#DBDBDB'">{{this.starred.includes(intern) ? '★' : '☆'}}</div>
                        <div class="b-right"><div class="add-br" (click)="moreinfo($event.target)">+
                          <div class="moreinfo">
                            <div class="card-top">
                                <div class="ct-left">
                                    <div class="match-icon"><div class="mi-in"></div></div>
                                </div>
                                <div class="ct-right">
                                    <div class="ctr-title">Strong Match</div>
                                    <div class="ctr-subtitle">Top 40% Computer Science</div>
                                </div>
                            </div>
                            Hard Skills:
                            <div class="hard-skills"><span *ngFor="let skill of this.matches[intern]['sharedskills']">{{skill}}</span></div>
                            <br>
                            Soft skills:
                            
                            <div class="ss-card">
                                <div class="ss-pct"><span class="pctN">{{this.matches[intern]['score']}}%</span> soft skills match.</div>
                                <div id="progressbar">
                                    <div></div>
                                </div>
                              </div>

                              <div class="map"><img src="./assets/images/map-demo.jpg"></div>
                              
                            Companies worked with:

                            <div class="company-icons">
                                <div class="c-icon"><img src="https://image.flaticon.com/icons/png/512/23/23656.png"></div>
                                <div class="c-icon"><img src="https://image.flaticon.com/icons/png/512/59/59439.png"></div>
                                <div class="c-icon"><img src="https://image.flaticon.com/icons/png/512/34/34227.png"></div>
                                <div class="c-icon"><img src="https://image.flaticon.com/icons/png/512/23/23700.png"></div>
                                <div class="c-icon"><img src="https://image.flaticon.com/icons/png/512/50/50825.png"></div>
                            </div>

                            <div class = "post" (click)="post()">Post a challenge</div>
                            <div class = "video" (click)="video()">Schedule a video interview</div>
                            <div class = "video" (click)="this.router.navigate(['dashboard/evaluate/' + this.viewing.name + '/' + intern])">Give evaluation</div>
                          </div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div *ngIf="this.viewing.selected && this.viewing.selected !== undefined && this.viewing.selected.length > 0 && this.view !== 'starred'">
        <br><br><br>
        <h2 class="intro">Selected:</h2>
        <div class="grid-container">
            <div class="grid-item" *ngFor="let intern of this.viewing.selected">
                <div class="profile-pic pfp0">{{this.matches[intern]['data']['firstname'][0] + this.matches[intern]['data']['lastname'][0]}}</div>
                <div class="info">
                    <h2>{{this.matches[intern]['shortname']}}</h2>
                    <h3>{{this.matches[intern]['data']['university']}}</h3>
                    <div class="soft-skills"><div class="pct">{{this.matches[intern]['score']}}%</div><div class="tsk">Soft Skills</div></div>
                </div>
                <div class="buttons2">
                    <div class="invite2" (click)="select(intern)">Remove</div>
                    <div class="evaluate" (click)="moreinfo($event.target)">More Info
                        <div class="moreinfo">
                            <br>
                            <p>Strong Match</p>
                            <br><br>
                            Hard Skills:
                            <div class="hard-skills"><span *ngFor="let skill of this.matches[intern]['sharedskills']">{{skill}}</span></div>
                            <br><br><br><br>
                            <div class = "post" (click)="post()">Post a challenge</div>
                            <div class = "video" (click)="video()">Schedule a video interview</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <br><br>
    <div class="feedbackx" (click)="this.router.navigate(['dashboard/student/' + this.viewing.name])">Student feedback</div>
    <br><br>
    <div class="feedbackx" (click)="this.router.navigate(['dashboard/'])">Finish matching</div>

    <div *ngIf="this.postOpen">
        <div class="backgroundShader" (click)="this.postOpen=false"></div>
        <div class="popupBox">
            <div class="popup-title">Post a challenge</div>
            <br>
            <div class = "post">Software Development Challenge</div>
            <div class = "post">Business Development Challenge</div>
            <div class = "post">Marketing Challenge</div>
            <div class = "post">Other Challenges</div>
        </div>
    </div>

    <div *ngIf="this.videoOpen">
        <div class="backgroundShader" (click)="this.videoOpen=false"></div>
        <div class="popupBox">
            <div class="popup-title">Schedule an interview</div>
            <div class="pp-title">Recruiting contact:</div>
            <div class="projects-dropdown">
                <select>
                    <option value="contact">Brahim Farhani</option>
                    <option value="contact">Mohammed El-Bialy</option>
                    <option value="contact">Patrick Zhong</option>
                    <option value="contact">Gowtham Sundar</option>
                    <option value="contact">Yousef Sammour</option>
                    <option value="contact">Abraham Shaheen</option>
                </select>
            </div>

            <div class="pp-title">Interview time:</div>
            <div class="projects-dropdown">
                <select>
                    <option value="contact">10:00 A.M. - 11:00 A.M.</option>
                    <option value="contact">12:00 P.M. - 1:00 P.M.</option> 
                    <option value="contact">1:00 P.M. - 2:00 P.M.</option>
                    <option value="contact">3:00 P.M. - 4:00 P.M.</option>
                    <option value="contact">5:00 P.M. - 6:00 P.M.</option>
                </select>
            </div>

            <div class = "postx">Schedule interview</div>
            
        </div>
    </div>
</div>
