.intro {
    font-family: "Colfax Regular";
    font-size: 24px;
    width: 60%;
    line-height: 1.6;
}

.selected {
    background-color: red;
    border: 1px solid darkred;
    color: white;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 999px;
    font-size: 11px;
    margin-left: 5px;
}

.container {
    width: 100%;
    padding-top: 90px;
}

.current-tab {
    border-bottom: 1px solid #0087FF;
    color: black;
}

.p-name-top {
    font-family: "colfax medium";
}

.header {
    text-align: left;
}

.header-info {
    float: left;
}

.header-title {
    font-family: "colfax medium";
    font-size: 25px;
}

.header-subtitle {
    font-family: "colfax regular";
    font-size: 14px;
    margin-top: 8px;
}

.header-configure {
    float: right;
}

.h-add-project {
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
}

.h-help-project {
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    margin-right: 9px;
    cursor: pointer;
}


.nav {
    margin-top: 100px;
    height: 30px;
}



.nav-item {
    float: left;
    margin-right: 30px;
    font-family: "colfax regular";
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}


.edit-page {
    color: #0087FF;
    border-bottom: 2px solid #0087FF;
    cursor: pointer;
}

.title-m {
    font-family: "Colfax Medium";
    font-size: 18px;
}

.matches-m {
    border: 1px solid #D6D6D6;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.container {
    text-align: left;
    margin-bottom: 150px;
    padding-top: 50px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  font-family: "Roboto";
  text-align: left;
}


.title {
    font-size: 40px;
    color: black;
    font-family: "Colfax Medium";
    max-width: 90%;
}

.sub-title {
    font-size: 17px;
    color: black;
    font-family: "Colfax regular";
    margin-top: 14px;
    max-width: 100%;
}

.section1 {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #CBCBCB;
}

.section2 {
    margin-top: 210px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section3 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section4 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section5 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.section6 {
    margin-top: 70px;
    padding-top:40px;
    border-top: 1px solid #CBCBCB;
}

.ine {
    margin-top: 10px;
}

.legal-cb {
    float: left;
    border-radius: 999px;
}

.legal-text {
    float: left;
    font-size: 14px;
    color: black;
    font-family: "Colfax regular";
    padding-top: 2px;
    margin-left: 6px;
}


.s1-form {
    margin-top: 30px;
}

.s2-form {
    margin-top: 65px;
}


.s-title {
    font-size: 22px;
    color: black;
    font-family: "Colfax regular";
    margin-bottom: 10px;
}

.f-name {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.full {
    float: left;
    width: 100%;
    margin-right: 5%;
}

#types {
    margin-left: 20px;
}

.type {
    display: inline-block;
    border:4px solid #2E1C89;
    color: #2E1C89;
    font-weight: 200;
    margin: 5px;
    width: 40px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    padding-top: 10px;
    border-radius: 0px;
    font-family: "Colfax medium";
}

.typeSelected {
    border:4px solid #891C2E;
    color: #891C2E;
}

.type:hover {
    border:4px solid #891C2E;
    color: #891C2E;
}

p {
    font-size: 18px;
    color: black;
    font-family: "Colfax regular";
    margin: 0;
}

input {
    border: 1px solid #C8C8C8;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.tag {
    display: inline-block;
    border:2px solid #2E1C89;
    color: #2E1C89;
    font-weight: 200;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    padding-top: 10px;
    border-radius: 0px;
    font-family: "Colfax medium";
}

.previous {
    float: left;
    margin-top: 16px;
    color: #2E1C89;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

textarea {
    border: 1px solid #C8C8C8;
    width: 92%;
    margin: 0;
    margin-top: 5px;
    padding: 12px;
    padding-top: 15px;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.l-name {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.inlineError {
    color: red;
    font-size: 14px;
    display: none;
    font-family: "Colfax Regular";
}

.errorMsg {
    margin-top: 15px;
    color: red;
    font-size: 12px;
    display: none;
    font-family: "Colfax Regular";
}

.invalid {
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 0px red;
    -moz-box-shadow: 0px 0px 5px 0px red;
    box-shadow: 0px 0px 5px 0px red;
}

.submit  {
    font-family: "Colfax Regular";
    cursor: pointer;
    width: 100%;
    padding: 18px;
    margin-top: 40px;
    font-size: 14px;
    color: white;
    background-color: #2E1C89;
    border: none;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    outline: none;
    -webkit-transition: width 1.4s ease-in-out;
    transition: width 1.4s ease-in-out;
}

.edit  {
    font-family: "Colfax Regular";
    cursor: pointer;
    width: 50%;
    margin-top: 40px;
    font-size: 14px;
    color: white;
    background-color: #2E1C89;
    border: none;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    outline: none;
    -webkit-transition: width 1.4s ease-in-out;
    transition: width 1.4s ease-in-out;
}

.skillTitle {
    color: black;
    font-size: 16px;
    font-family: "Colfax Regular";
}

.select {
    font-weight: 900;
    margin-left: 20px;
    cursor: pointer;
    float: right;
    background-color: #14DEA7;
    font-size: 15px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 6px;
    color: white;
    border-radius: 3px;
}

.confirm {
    font-weight: 900;
    margin-left: 20px;
    cursor: pointer;
    float: right;
    background-color: black;
    font-size: 15px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 6px;
    color: white;
    border-radius: 3px;
}


.sk {
    color: #2E1C89;
    font-family: "colfax medium";
}

.p-name {
    font-family: "Colfax Medium";
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-gap: 20px;
}

.grid-item {
    background-color:white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
}

.top {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 45px;
    border-top: 1px solid #E1E1E1;
}

.b-left {
    user-select: none;
    color: #BFBFBF;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    cursor: pointer;
    float: left;
    padding-top: 5px;
}

.b-right {
    user-select: none;
    cursor: pointer;
    float: right;
    margin-right: 25px;
    color: white;
    border-radius: 999px;
    background-color: #A5D9FA;
    padding: 5px;
}

.add-br {
    user-select: none;
    background-color: #009BFF;
    border-radius: 999px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 4px;
    cursor: pointer;
}

.left {
    width: 20%;
    height: 100%;
    float: left;
}

.right {
    width: 80%;
    height: 100%;

    float: left;
}

.intern-name {
    font-family: "colfax medium";
    font-size: 16px;
    color: black;
    text-align: left;
    margin-top: 10px;
}

.intern-univ {
    font-family: "colfax regular";
    font-size: 13px;
    color: black;
    text-align: left;
}

.r-left {
    max-width: 60%;
    float: left;
}

.r-right {
    max-width: 40%;
    float: right;
}




.profile-pic {
    width: 58px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 15px;
    background-size:cover;
    float: left;

}

.pfp0 {
    border: 1px solid #C0C0C0;
    background-color: #DBDBDB;
    color: black;
    font-family: "Colfax regular";
    text-align: center;
    font-size: 18px;
    border-radius: 999px;
}


.grid-item h2 {
    margin-top: 6px;
    margin-left: 30px;
    font-size: 17px;
    font-family: "Colfax Medium";
    float: left;
}

.grid-item h3 {
    margin-top: 30px;
    font-size: 14px;
    font-family: "Colfax Regular";
    float: left;
    margin-left: -50px;
}

.hard-skills {
    font-size: 14px;
    max-width: 80%;
    margin: 0 auto;
    font-family: "Colfax regular";
    line-height: 2;
    margin-top: 10px;
}

.hard-skills span {
    color: #0091ED;
    background-color: #EAF4FA; 
    border-radius: 2px;
    margin: 2px;
    padding: 3px;
    padding-top: 5px;
    
}

.soft-skills {
    font-family: "Colfax regular";
    border-radius: 999px;
    margin-left: -100px;
}

.buttons {
    max-width: 65%;
    margin: 0 auto;
    margin-bottom: 7px;
    margin-top: 30px;
}

.buttons2 {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 7px;
    margin-top: 30px;
}

.invite {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    float: left;
    cursor: pointer;
}

.feedbackx {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    margin: 0 auto;
    cursor: pointer;
}


.reject {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    float: right;
    cursor: pointer;
}

.evaluate {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: #00CB81;
    border: 1px solid #01A067;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    float: right;
    cursor: pointer;
}

.invite2 {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: #F30E0E;
    border: 1px solid #A80D0D;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 40%;
    float: left;
    cursor: pointer;
}

.buttons-top {
    height: 80px;
    max-width: 100%;
    margin: 0 auto;
}

.refresh {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    color: black;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    float: left;
    cursor: pointer;
    text-align: center;
    float: left;
}

.card-top {
    width: 100%;
    height: 60px;
    padding: 20px;
    
}

.ct-left {
    float: left;
    width: 20%;
    height: 100%;
    
}

.ct-right {
    float: left;
    width: 80%;
    height: 100%;
    text-align: left;

}

.ctr-title{
    user-select: none;
    font-size: 20px;
    color: rgb(0,114,255);
    color: linear-gradient(90deg, rgba(0,114,255,1) 0%, rgba(0,183,255,1) 100%);
}

.ctr-subtitle {
    color: #BCBCBC;
    font-size: 14px;
}

.match-icon {
    background: rgb(0,114,255);
    background: linear-gradient(90deg, rgba(0,114,255,1) 0%, rgba(0,183,255,1) 100%);
    border-radius: 999px;
    width: 30px;
    height: 30px;
    border: 10px solid #A5D9FA;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(127,210,255,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(127,210,255,1);
    box-shadow: inset 0px 0px 5px 1px rgba(127,210,255,1);
}



.send-survey {
    font-family: "Colfax regular";
    text-align: center;
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    padding-top: 12px;
    float: left;
    cursor: pointer;
    text-align: center;
    float: right;
}



.pct {
  font-size: 12px;
  position: absolute;
  margin-top: -34px;
  margin-left: 14px;
}

.pctx {
    font-size: 20px;
    position: absolute;
    margin-top: -55px;
    margin-left: 30px;
  }

.tsk {
    font-size: 12px;
}

.tag {
    display: inline-block;
    border:2px solid #2E1C89;
    color: #2E1C89;
    font-weight: 200;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
    padding-top: 10px;
    border-radius: 0px;
    font-family: "Colfax medium";
  }

  mat-slider {
    width: 300px;
  }

  .tagValue {
    display: inline-block;
    width: 150px;
    text-align: center;
  }

  .hSlider {
    float: right;
    margin-right: 200px;
  }

  .evaluate {
    margin-left: 50px;
  }

  .moreinfo {
      position: absolute;
      width: 300px;
      padding-bottom: 30px;
      background-color: white;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      margin-left: 70px;
      margin-top: -200px;
      color: black;
      display: none;
      cursor: auto;

      font-family: "Colfax Regular";
      text-align: center;
      font-size: 15px;
  }

  .post {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: #009CFF;
    border: 1px solid #0080D2;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.postx {
    font-family: "Colfax regular";
    padding: 14px;
    padding-top: 17px;
    text-align: center;
    background-color: #E0F3FF;
    border: 1px solid #019AFB;
    color: #019AFB;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}

.video {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: #E0F3FF;
    border: 1px solid #019AFB;
    color: #019AFB;
    font-size: 15px;
    border-radius: 3px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.backgroundShader {
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
}

.popupBox {
    position:fixed;
    z-index:11;
    left:510px;
    top:160px;
    text-align:center;
    align-items:center;
    justify-content:center;
    color: black;
    width: 300px;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #D8D8D8;
    background-color: white;
    font-size: 40px;
    font-family: "Colfax Regular";
}

.popup-title {
    font-family: "Colfax medium";
    text-align: center;
    font-size: 18px;
}

.projects-dropdown {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
}

.projects-dropdown select {
    width: 100%;
    font-family: "Colfax Regular";
    border: none;
    background-color: white;
    font-size: 15px;
    text-indent: 5px;
    line-height: 2;
    outline: none;
}

.pp-title {
    margin-top: 40px;
    margin-bottom: 8px;
    text-align: left;
    font-size: 16px;
    font-family: "Colfax Regular";
}

.map {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.map img {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ss-card {
    max-width: 75%;
    margin: 0 auto;
    background-color: #E0F3FF;
    border: 1px solid #019AFB;
    color: #019AFB;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.ss-pct {
    text-align: left;
}

.pctN {
    font-family: "colfax medium";
}

#progressbar {
  background-color: #019AFB;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 2px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 6px;
}

#progressbar>div {
    background: rgb(0,136,255);
    background: linear-gradient(90deg, rgba(0,136,255,1) 0%, rgba(0,255,121,1) 100%);
    width: 86%;
    /* Adjust with JavaScript */
    height: 6px;
    border-radius: 10px;
}

.company-icons {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.c-icon {

}

.c-icon img {
    max-width: 16px;
}

