
.pf-picture {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 160px;
  background: #E9ECF3;
  background-size: 40px;
  background-repeat: no-repeat;
  border-radius: 999px;
  margin: 10px;
}

.pf-picture:hover {
  color: white;
}

.pf-content {
  float: left;
}

.pf-s1 {
  width: 100%;
  margin-top: 10px;
  font-family: "Roboto";
}

.pf-name {
  font-size: 14px;
  color: #424956;
}

.pf-university {
  color: #AAAFB9;
  margin-top: -9px;
  font-weight: 300;
  font-size: 14px;
}