<div class="pf-picture" [style.backgroundImage]="'url(' + result.pfpPath + ')'"></div>

<div class="pf-content">
  <div class="pf-s1">
    <h2 class="pf-name">{{result.mainInfo['firstname']}} {{result.mainInfo['lastname']}}</h2>
    <p class="pf-university">{{result.university}} '{{result.mainInfo['year'].substr(2, 2)}}</p>
    <!-- <p *ngIf="result.company" class="pf-university">Recruiter at Company</p> -->
  </div>
</div>