.notify-bar {
    width: 100%;
    text-align: center;
    background-color: black;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
    font-family: "Colfax Regular";
    font-size: 14px;
}

.nav {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo-container img {
    width: 30px;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}
 
.logo {
    float: left;
    font-size: 23px;
    color: black;
    font-weight: 100;
    font-family: "Colfax regular";
}

.logo-icon {
    width: 16px;
    height: 20px;
    border-radius: 9px;
    border: 2px solid black;
    border-right: 6px solid black;  
    float: left;
    margin-right: 13px;
    margin-top: -1px;
}

.learn-more {
    float: right;
    font-size: 15px;
    padding: 10px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-family: "Colfax Regular";
}

.enterprise {
    border: 1px solid #ccc;
    border-top: 3px solid #2E1C89;
    color: black;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    margin-left: 20px;
    font-family: "Colfax Medium";
}

.get-started {
    font-family: "Colfax Regular";
    float: right;
    font-size: 15px;
    padding: 10px;
    padding-top: 12px;
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0px;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.get-started:hover {
    opacity: 0.9;
}

.notify {
    font-size: 13px;
    background-color: #2E1C89;
    color: white;
    padding: 4px;
    border-radius: 999px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 7px;
}
  
 