<div class="notify-bar">
    <span style="color: white;background-color: #FF0070; padding: 3px; padding-top: 5px; border-radius: 3px; margin-right: 6px;">new!</span> We would love your feedback on our <span style="border-bottom: 1px solid white; cursor: pointer;">beta here →</span>.
</div>

<div class="nav">
  <div class="logo-container">
    <div class="logo-icon"></div>
    <div class="logo">thoughtspace</div>
  </div>
  <div class="get-started" style="cursor: pointer;" (click)="this.router.navigate(['signup'])">Get started</div>
  <div class="learn-more" (click)="this.router.navigate(['login'])" style="cursor: pointer; margin-right: 30px;">Log in</div>
  <div class="learn-more" style="opacity: 0.5;">Pricing</div>
  <div class="learn-more" style="opacity: 0.5;">Resources</div>
  <div class="learn-more" style="opacity: 0.5;">Why Thoughtspace</div>
  <div class="learn-more" style="opacity: 0.5;">Solutions</div>
</div>   