.dropzone { 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 300px;
    width: 300%;
    border: 4px dashed whitesmoke;
    border-radius: 5px;
    background-color: black;
    margin: 10px 0;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Roboto";
}

.hovering {
    border: 2px solid #f16624;
    color: #6a7486 !important;
}

.file {
    text-align: center;
    margin-left: 17%;
}

.rando {
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}