<div *ngIf="open">

  <div style="position:absolute;z-index:10;background-color:rgba(0,0,0,0.5);height:100%;width:100%" (click)="this.open=false"></div>
    
  <div style="z-index:11;margin-left:500px;margin-top:300px;position:absolute;text-align:center;align-items: center;justify-content: center;">
    <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
      <h3>Upload a profile picture</h3>
    
      <span>Drop here or choose a file…</span><br>
      <div class="file">
        <input class="file-input" type="file" (change)="startUpload($event.target.files)">
      </div>

      <div class="rando" (click)="rando()">Random picture</div>
    </div>      
  </div>

</div>