<div class="container">
  <div class="header">
    <div class="header-info">
      <div class="header-title">Analytics<span style="color: #0087FF">.</span></div>
      <div class="header-subtitle">View all your project analytics.</div>
    </div>
    <div class="header-configure">
        <div class="h-add-project" (click)="this.router.navigate(['dashboard/create'])"><span class="pnp">+</span> New project</div>
      <div class="h-help-project"><span class="pnp">?</span> Help</div>
    </div>
  </div>

  <div class="nav" *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">
    <div class="nav-item" [class.it-current] = "this.view === 'all'" (click)="select('all')">
      <div class="it-t" [class.current-tab] = "this.view === 'all'">View all</div>
    </div>
    <div class="nav-item" *ngFor="let entry of this.currentUserService.currentUser.company.projects | keyvalue" [class.it-current] = "this.view === entry.value.name" (click)="select(entry.value.name)">
        <div class="it-t" [class.current-tab] = "this.view === entry.value.name">{{entry.value.name}}</div>
    </div>
  </div>

  <div class="grid-container">
    <div class="item1">
      <div class="card-hdr">
        <div class="card-title">Hours Worked</div>
        <div class="card-options">
          <div class="co1" (click)="setHoursDay()">Day</div>
          <div class="co1" (click)="setHoursWeek()">Week</div>
          <div class="co1" (click)="setHoursMonth()">Month</div>
        </div>
        <br><br><br>
        <div style="width: 300px;height: 300px;">
          <canvas baseChart width="500" height="500"
                  [datasets]="hoursWorkedData"
                  [labels]="hoursWorkedLabels"
                  [options]="hoursWorkedOptions"
                  [colors]="hoursWorkedColors"
                  [legend]="false"
                  [chartType]="'line'"></canvas>
        </div>

        <div class="warning">!<div class="warningPopup">Hours worked are tracked by...</div></div>
      </div>
    </div>
    <div class="item2">
      <div class="card-hdr">
        <div class="card-title">Student Engagement</div>
        <div class="card-options">
          <div class="co1" (click)="setEngageDay()">Day</div>
          <div class="co1" (click)="setEngageWeek()">Week</div>
          <div class="co1" (click)="setEngageMonth()">Month</div>
        </div>
        <br><br><br>
        <div style="width: 300px;height: 300px;">
          <canvas baseChart width="500" height="500"
                  [data]="engageData"
                  [labels]="engageLabels"
                  [colors]="engageColors"
                  [legend]="false"
                  [chartType]="'polarArea'"></canvas>
        </div>

        <div class="warning">!<div class="warningPopup">Student engagement is calculated by...</div></div>
      </div>
    </div>
    <div class="item3">
      <div class="card-hdr">
        <div class="card-title">Project Tasks </div>
        <div class="card-options">
          <div class="co1" (click)="setTasksDay()">Day</div>
          <div class="co1" (click)="setTasksWeek()">Week</div>
          <div class="co1" (click)="setTasksMonth()">Month</div>
        </div>
        <br><br><br>
        <div style="width: 300px;height: 300px;">
          <canvas baseChart width="500" height="500"
                  [datasets]="tasksData"
                  [labels]="tasksLabels"
                  [options]="tasksOptions"
                  [colors]="tasksColors"
                  [legend]="false"
                  [chartType]="'line'"></canvas>
        </div>

        <div class="warning">!<div class="warningPopup">Project tasks are tracked by...</div></div>
      </div>
    </div>
    
    <div class="item5">
      <div class="card-hdr">
        <div class="card-title">ROI</div>
        <br><br><br>
        <div style="width: 300px;height: 300px;">
          <canvas baseChart width="500" height="500"
                  [data]="roiData"
                  [labels]="roiLabels"
                  [colors]="roiColors"
                  [legend]="false"
                  [options]="{tooltips: {enabled: false}}"
                  [chartType]="'doughnut'"></canvas>
        </div>

        <div class="warning">!<div class="warningPopup">Custom</div></div>
      </div>
    </div>
    <div class="item6">
        <div class="card-hdr">
            <div class="card-title">Hard Skills</div>
            <div class="card-options">
              <div class="co1" (click)="setHardDay()">Day</div>
              <div class="co1" (click)="setHardWeek()">Week</div>
              <div class="co1" (click)="setHardMonth()">Month</div>
            </div>
            <br><br><br>
            <div style="width: 300px;height: 300px;">
              <canvas baseChart width="500" height="500"
                      [datasets]="hardData"
                      [labels]="hardLabels"
                      [options]="hardOptions"
                      [legend]="false"
                      [colors]="hardColors"
                      [chartType]="'bar'"></canvas>
            </div>

            <div class="warning">!<div class="warningPopup">Hard skill improvements are tracked by...</div></div>
          </div>
    </div>
    <div class="item7">
        <div class="card-hdr">
            <div class="card-title">Soft Skills</div>
            <div class="card-options">
              <div class="co1" (click)="setSoftDay()">Day</div>
              <div class="co1" (click)="setSoftWeek()">Week</div>
              <div class="co1" (click)="setSoftMonth()">Month</div>
            </div>
            <br><br><br>
            <div style="width: 300px;height: 300px;">
              <canvas baseChart width="500" height="500"
                      [datasets]="softData"
                      [labels]="softLabels"
                      [options]="softOptions"
                      [legend]="false"
                      [colors]="softColors"
                      [chartType]="'bar'"></canvas>
            </div>

            <div class="warning">!<div class="warningPopup">Soft skill improvements are tracked by...</div></div>
          </div>
    </div>
  </div>
</div>
