.container {
    width: 100%;
    padding-top: 90px;
}

.header {
    text-align: left;
}

.header-info {
    float: left;
}

.header-title {
    font-family: "colfax medium";
    font-size: 25px;
}

.header-subtitle {
    font-family: "colfax regular";
    font-size: 14px;
    margin-top: 8px;
}

.header-configure {
    float: right;
}

.h-add-project {
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.h-help-project {
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    margin-right: 9px;
}


.nav {
    margin-top: 100px;
    height: 30px;
}



.nav-item {
    float: left;
    margin-right: 30px;
    font-family: "colfax regular";
    font-size: 14px;
    color: #999999;
    cursor: pointer;
}

p {
    font-family: "colfax regular";
    font-size: 14px;
    color: black;
}

.it-current {
    font-family: "colfax medium";
}


.it-i {
    float: left;
    margin-top: -2px;
}

.it-t {
    float: right;
}

.current-tab {
    border-bottom: 1px solid #0087FF;
    color: black;
}


.item1 { grid-area: sec-1; }
.item2 { grid-area: sec-2; }
.item3 { grid-area: sec-3; }
.item5 { grid-area: sec-5; }
.item6 { grid-area: sec-6; }
.item7 { grid-area: sec-7; }

.grid-container {
  display: grid;
  grid-template-areas:
    'sec-1 sec-2 sec-2'
    'sec-3 sec-5 sec-5'
    'sec-6 sec-7 sec-7';
  grid-gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.grid-container > div {
    background-color:white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
}

.card-title {
    font-family: "colfax medium";
    font-size: 14px;
    float: left;
}

.card-options {
    float: right;
}

.co1 {
    float: left;
    font-family: "colfax Regular";
    font-size: 13px;
    padding-left: 6px;
    cursor: pointer;
}

.warning {
  font-size: 11px;
  border-radius: 999px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: "colfax medium";
  margin-top: 4px;
  display: inline-block;
  background-color: #E8F5FF;
  font-weight: 900;
  color: #4BADFF;
  float: right;
  cursor: pointer;
}

.warning:hover .warningPopup {
  display: block;
}

.warningPopup {
  position: absolute;
  margin-top: -150px;
  margin-left: -50px;
  background-color: #E8F5FF;
  color: #4BADFF;
  font-size: 12px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: "colfax regular";
  width: 100px;
  height: 100px;
  display: none;
}
