<!-- Contact Information -->
<div [hidden]="signupService.state!==0" class="card">
  <h2>Contact Information</h2>

  <form (keydown.enter)="$event.preventDefault();next()">
    
    <input class="s-0" id="email" placeholder="Email/Work Email" type="email" (input)="onChange($event.target)">
    <!-- <span id = "errEmail2" class = "errorMsg">Email must be an .edu email!</span> -->
    <span id = "errEmail2" class = "errorMsg">Email must be a valid email!</span>
    <span id = "errEmail" class = "errorMsg">Email is already in use!</span>
    <input class="s-0" id="firstname" placeholder="First Name" style="float:left; max-width: 48%;" type="text" (input)="onChange($event.target)">
    <input class="s-0" id="lastname" placeholder="Last Name" style="float:right; max-width: 48%;" type="text" (input)="onChange($event.target)">
    <input class="s-0" id="phone" placeholder="Mobile Number" type="tel" (input)="onChange($event.target)">
    
    <br><br>
    <input type="checkbox" id="checkbox" class="terms-cb s-0" name="terms" (input)="onChange($event.target)">
    <label class="terms" style="margin-left: 6px; color: black; font-size: 14px;" for="terms" (click)="toggleCB()">I accept the <a href="" style="color: #FF0070;">Terms of Use</a> &amp; <a href="" style="color: #FF0070;"logi>Privacy Policy</a>.</label>
    
  </form>
    
  <!-- <button class="next-step" (click)="next()">University Information →</button> -->
  <button class="next-step" (click)="next()">Username & Password →</button>
  <button class="skip-step" style="float:left; opacity: 1;"  (click)="this.router.navigate(['/login'])" ><u>Already have an account</u></button>
  <button class="skip-step" style="float:right; color: #FF0070;" (click)="this.router.navigate(['/signupBusiness'])" >Enterprise sign up →</button>
</div>

<!-- Address & Location -->
<!-- <div [hidden]="signupService.state!==1" class="card">
  <h2>Address &amp; Location</h2>
  <form (keydown.enter)="$event.preventDefault();next()">
    
    <input class="s-1" id="street" placeholder="Address" type="text" (input)="onChange($event.target)">
    <input class="s-1" id="city" placeholder="City" style="float:left; max-width: 32%;" type="text" (input)="onChange($event.target)">
    <input class="s-1" id="state" placeholder="State" style="float:middle; max-width: 32%;margin-left:10px" type="text" (input)="onChange($event.target)">
    <input class="s-1" id="country" placeholder="Country" style="float:right; max-width: 32%;" type="text" (input)="onChange($event.target)">
    <input class="s-1" id="zipcode" placeholder="Zip Code" type="text" (input)="onChange($event.target)">

  </form>
  <button class="next-step" (click)="next()">Username &amp; Password →</button>
</div> -->
<!-- <app-basic-info-university [hidden]="signupService.state !== 1"></app-basic-info-university> -->

<!-- Contact Information -->
<div [hidden]="signupService.state!==1" class="card">
  <h2>Username &amp; Password</h2>
  <form (keydown.enter)="$event.preventDefault();finish()">
    
    <input class="s-2" id="username" placeholder="Username" type="text" (input)="onChange($event.target)">
    <span id = "errUser" class = "errorMsg">Username is taken!</span>
    <input class="s-2" id = "password" placeholder="Password" type="password" (input)="onChange($event.target)">
    <span id = "errPass" class = "errorMsg">Password needs six characters!</span>
    <input class="s-2" id = "confirmPassword" placeholder="Confirm Password" type="password" (input)="onChange($event.target)">
    <span id = "errConfirm" class = "errorMsg">Passwords must match!</span>

  </form>
  <!-- <button class="next-step" (click)="next()">Career Path →</button> -->
  <button class="next-step" (click)="finish()">Create Account →</button>
</div>

<!-- <app-basic-info-career [hidden]="signupService.state !== 3"></app-basic-info-career> -->

<!-- Interests -->
<!-- <app-interests [hidden]="signupService.state!==3"></app-interests> -->
<!-- <div [hidden]="signupService.state!==3" class="card">
  <h2>Interests</h2>
  <form *ngIf="myForm" (keydown.enter)="$event.preventDefault();next()" [formGroup]="myForm">
    <mat-form-field>
      <input placeholder="Start typing here..." type="text" matInput formControlName="myControl" [matAutocomplete]="auto">
    </mat-form-field>
    
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>


  </form>
  <button class="next-step" (click)="next()">Continue →</button>
  <button class="skip-step" (click)="finish()" >Skip step →</button>
</div> -->

<!-- Soft Skills -->
<!-- <app-soft-skills [hidden]="signupService.state!==4"></app-soft-skills> -->
<!-- <div [hidden]="signupService.state!==4" class="card">
  <h2>Soft Skills</h2>
  <form (keydown.enter)="$event.preventDefault();next()">
    
    <input placeholder="Soft Skills" type="text">
  </form>
  <button class="next-step" (click)="next()">Continue →</button>
  <button class="skip-step" (click)="finish()" >Skip step →</button>
</div> -->

<!-- Hard Skills -->
<!-- <app-hard-skills [hidden]="signupService.state!==5"></app-hard-skills> -->
<!-- <div [hidden]="signupService.state!==5" class="card">
  <h2>Hard Skills</h2>
  <form (keydown.enter)="$event.preventDefault();finish()">
    
    <input placeholder="Hard Skills" type="text">

  </form>
  <button class="next-step" (click)="finish()">Create Account →</button>
  <button class="skip-step" (click)="finish()" >Skip step →</button>
</div> -->