.card {
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.card h2 {
    color: black;
    margin-bottom: 20px;
    font-family: "Colfax medium";
    text-align: center;
}

form p {
  color: black;
  font-size: 14px;
  font-family: "Colfax Regular";
}

.errorMsg {
  color: red;
  font-size: 14px;
  display: none;
  font-family: "Colfax regular";
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: -10px;
  background-repeat: no-repeat;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  margin-top: 5px;
  margin-bottom: 13px;
  color: black;
  font-family: "Colfax regular";
  padding-top: 17px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
}

.invalid {
  outline: none;
  font-family: "Colfax regular";
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: inset 0px 0px 5px 0px red;
}

.next-step {
  font-family: "Colfax regular";
  cursor: pointer;
  width: 100%;
  padding: 18px;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  outline: none;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
}

.next-step:hover {
  opacity: 0.9;
}




.skip-step {
  float: right;
  margin-top: 16px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

a {
  color: black;
}

.terms {
  font-family: "Colfax regular";
}