<h3>Pending Tasks</h3>
<ul>
    <li *ngFor="let task of tasks" >{{task.title}} <span (click)="del(task)"><b>Done</b></span>
    	<span>
    	<br> &nbsp; &nbsp; 
    		Description: {{task.description}} <br>&nbsp; &nbsp; 
    		Due Date: {{task.due_date.seconds*1000 | date}} <br>&nbsp; &nbsp; 
    		Feedback: {{task.feedback}}<br>&nbsp; &nbsp; 
    		Status: <span *ngIf="(task.completed == 0); else elseblock">Completed</span><br>&nbsp; &nbsp;
    	
    	<ng-template #elseblock>Not Completed </ng-template>
    	</span>

    </li>
</ul>
