.container {
    max-width: 100%;
    background-color: #0f1a26;
    height: 60vh;
}

.main {
    padding-top: 10vh;
    max-width: 80%;
    margin: 0 auto;
}

.left {
    float: left;
}

.left p {
    color: white;
    font-family: "Colfax Regular";
    font-size: 23px;
}

.right {
    float: right;
}