<div class="nav"> 
  <!--Top nav-->
  <div class="top-nav">
    <ul>
      <li class="tn-logo" (click)="this.router.navigate(['home'])"><span style="font-weight: 400;">thought</span>space </li>
      <li class="tn-search"><input type="text" placeholder="Search thoughtspace..."></li>
    </ul>
  </div> 
</div>

<div class="pf-container">
  <div class="pf-banner"> 
    <img src="https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
  </div>

  <div class="pf-content">
    <div class="pf-header">
      <div class="pf-logo"><img src="https://brandguide.tamu.edu/assets/img/logos/tam-logo.png"></div>
      <div class="pf-info">
        <div class="pf-name">Texas A&amp;M University</div>

        <div class="grid-container">
          <div class="grid-item grid-title">Location</div>
          <div class="grid-item grid-title">University Size</div>
          <div class="grid-item grid-title">Type</div>  
          <div class="grid-item grid-title">Founded</div>
          <div class="grid-item grid-title">Website</div>

          <div class="grid-item grid-content">College Station, TX</div>  
          <div class="grid-item grid-content">53,000+</div>
          <div class="grid-item grid-content">Education</div>
          <div class="grid-item grid-content">1871</div>  
          <div class="grid-item grid-content">www.tamu.edu</div>  
        </div>

      </div>

      <div class="pf-engage">
        <div class="pf-e-follower">12,394</div>
        <div class="pf-e-f-text">followers</div>
        <div class="pf-e-action">Follow</div>
      </div>
    </div>
  </div>
</div>

