.nav {
    width: 100%;
    padding-bottom: 40px;
    background-color: white;
    border-bottom: 1px solid #DEE2E5;
  }
  
  .top-nav {
    font-family: "roboto";
    padding: 10px;
    padding-left: 220px;
    padding-right: 250px;
    
  }
  
  .top-nav ul li {
    list-style: none;
  }
  
  .tn-logo {
    float: left;
    color: #203150;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
  }
  
  .tn-search {
    float: left;
    margin-left: 20px;
  }
  
  .tn-search input {
    border: none;
    font-family: "roboto";
    font-size: 17px;
    width: 350px;
    color: #78859D;
    font-weight: 300;
  }
  
  input:focus {
      outline: none;
  }
  
  .tn-search input::placeholder {
    color: #7B889E;
    font-weight: 300;
  }
  
  
 
  .pf-container {
    width: 100%;
  }

  .pf-banner {
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .pf-banner img {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }

  .pf-content {
    position: absolute;
    width: 80%;
    margin-top: -90px;
    z-index: 2;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
  }

  .pf-header {
    border-radius: 6px;
    max-width: 100%;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 160px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.08);
  }

  .pf-logo {
    float: left;
    padding: 0px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    color: #2C436E;
    font-size: 50px;

  }

  .pf-logo img {
    width: 120px;
  }

  .pf-info {
    margin-left: 40px;
    float: left;
    font-family: "Colfax regular";
  }

  .pf-name {
    font-size: 25px;
    color: #203150;
    font-weight: 500;
  }

  .grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .grid-item {
    font-size: 15px;
    padding-right: 30px;
  }

  .grid-title{
    color: #203150;
    opacity: 0.5;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .grid-content {
    color: #203150;
    font-weight: 400;
    font-size: 15px;
  }

  .pf-engage {
    text-align: center;
    font-family: "Roboto";
    float: right;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.07);
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    margin-top: -25px;
  }

  .pf-e-follower {
    font-size: 25px;
    color: #203150;
  }

  .pf-e-f-text {
    font-size: 15px;
    color: #203150;
    opacity: 0.5;
  }

  .pf-e-action {
    color: white;
    background-color:#146ffb;
    margin-top: 15px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;

  }