<!--<div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">-->
<!--  <app-dashboard-nav *ngIf="this.currentUserService.currentUser.isIntern" class="nav" [fixed]="true"></app-dashboard-nav>-->
<!--  <app-company-dashboard-nav *ngIf="!this.currentUserService.currentUser.isIntern" class="nav"></app-company-dashboard-nav>-->
<!--</div>-->

<!--<div class="container">-->
<div class="title">Thoughtspace</div>
<div class="sub-title">ENGAGE</div>

<div class="ct-title" style="color: #50506D;">Surveys</div>
<div class="ct-post" style="background-color: #50506D;" (click)="this.chooseProjOpen = true">Send a Survey</div>

<br><br><br><br>

<div class="grid-container">
  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Project Experience Survey </div>
    </div>
    <div class="card-info">
      <div class="ci-text">Please complete this survey to help us improve your experience through this project.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[65, 35]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">65%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Areas of Improvement Survey</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Let us know where you would like to improve through-out this process.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[85, 15]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">85%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Onboarding Survey</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Welcome onboard this project, please let us know your expectations and goals.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[30, 70]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">30%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Survey 4</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[45, 55]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">45%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Survey 5</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[70, 30]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">70%</div>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card-title">
      <div class="ct-text" style="color:#50506D;">Survey 6</div>
    </div>
    <div class="card-info">
      <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="progress">
      <div style="width: 55px;height: 55px;">
        <canvas baseChart width="500" height="500"
                [data]="[[90, 10]]"
                [labels]="ssLabels"
                [colors]="ssColors"
                [legend]="false"
                [options]="{tooltips: {enabled: false}}"
                [chartType]="'doughnut'"></canvas>
        <div class="pct">90%</div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->

<div *ngIf="this.chooseProjOpen && this.currentUserService.isReady && this.currentUserService.currentUser">
  <div class="backgroundShader" (click)="this.chooseProjOpen=false"></div>
  <div class="popupBox">
    Send a Survey
    <br><br>
    <div class = "post" *ngFor="let entry of this.currentUserService.currentUser.company.projects | keyvalue" (click)="this.router.navigate(['dashboard/survey/' + entry.value.name])">{{entry.value.name}}</div>
  </div>
</div>
