.container {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
}

.search {
    margin-bottom: 25px;
}

.search input {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
    border: none;
    background-color: #EFEFEF;
    font-family: "Colfax Regular";
    padding-top: 15px;
    width: 100%;
    color: #081835;
}

.search input:focus {
    outline: none;
}

.dvdr {
    height: 20px;
}

.container ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.overview-title {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    color: #B0B0B0;
    font-family: "Colfax Regular"
}

.content {
    margin-left: -6px;
}

.container ul li {
    font-weight: 400;
    font-size: 14px;
    color: black;
    line-height: 2.3;
    letter-spacing: 0.6px;
    padding: 3px;
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-family: "Colfax Regular"
    
}

.container ul li:hover {
    background-color: #EFEFEF;
    border-radius: 5px;
}

.create-ws {
    opacity: 0.5;
    font-size: 12px;
}

.notify {
    background-color: #FF3A00;
    color: white;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    border-radius: 6px;
    font-size: 12px;
}


.icon {
    font-family: "colfax regular";
    color: black;
}

.icon img {
    width: 13px;
    margin-right: 7px;
    -webkit-filter: grayscale(200%); /* Safari 6.0 - 9.0 */
    filter: grayscale(200%);
}

.wicon {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    background-color: #F2F2F2;
    border: 1px solid #DADADA;
    float: left;
    margin-right: 9px;
    margin-top: 2px;
    color: black;
}