<div class="container" *ngIf="this.currentUserService.currentUser">

  <div class="search">
    <input type="text" (keydown)="keydown($event)" (keyup)="keyup($event)" placeholder="Search companies or users...">
  </div>

  <div class="overview-title">WORK STATIONS</div>

  <ul class="content">
    <div *ngFor="let project of this.currentUserService.projects">
        <li *ngIf="project.accepted" (click)="this.router.navigate(['dashboard/project/'+project.name])"><div class="wicon">{{project.name.charAt(0)}}</div>{{project.name}} <span class="notify">3</span></li>
    </div>
    <!-- <li *ngFor="let project of this.currentUserService.projects" (click)="this.router.navigate(['dashboard/project/'+project.name])"><div class="icon">{{project.domain.charAt(0).toUpperCase()}}</div>{{project.name}} <span class="notify">3</span></li> -->
  </ul>
 
  <div class="dvdr"></div>
            
  <div class="overview-title">LEARNING &amp; RESOURCES</div>
  <ul>
      <li class="guide-icon icon" (click)="this.router.navigate(['dashboard/practice'])"><img src="https://i.imgur.com/QVKtDJl.png"> Practice</li>
      <li class="video-icon icon" (click)="this.router.navigate(['dashboard/evaluate'])"><img src="https://i.imgur.com/6yiyVlh.png"> Evaluate</li>
  </ul>


</div> 