<div class="page-title">Account overview</div>

<div class="pf-basic">

  <div class="pf-picture" (click)="editPFP()" [style.backgroundImage]="'url(' + this.data.pfpPath + ')'"></div>

  <div class="first-content">
    <div class="pf-name">{{this.data.mainInfo['firstname']}} {{this.data.mainInfo['lastname']}}</div>
    <div class="pf-email">{{this.data.mainInfo['email']}}</div>
    <div class="basic-changes">
      <div class="change-password" (click)="changePass()">Update password</div>
      <div class="two-factor">Set up two-factor authentication</div>
    </div>
  </div>

</div>

<div class="pf-detailed">
  <div class="pf-title">INFORMATION</div>

  <div class="detail-item">
    <div class="detail-title">Username</div>
    <span id = "errUser" class = "errorMsg">Username is taken!</span>
    <input type="text" id="username" value="{{this.data.mainInfo['username']}}" (input)="onChange($event.target)">
  </div>

  <div class="detail-item">
    <div class="detail-title">Mobile number</div>
    <input type="tel" id="phone" (input)="format($event.target, $event.target.value)" value="{{formatPhone(this.data.mainInfo['phone'])}}" (input)="onChange($event.target)">
  </div>

  <br><br>

  <div class="pf-title">ADDRESS & LOCATION</div>

  <div class="detail-item">
    <div class="detail-title">Address</div>
    <input type="text" id="street" value="{{this.data.mainInfo['street']}}" (input)="onChange($event.target)">
  </div>

  <div class="detail-item">
    <div class="detail-title">City</div>
    <input type="text" id="city" value="{{this.data.mainInfo['city']}}" (input)="onChange($event.target)">
  </div>

  <div class="detail-item">
      <div class="detail-title">State</div>
      <input type="text" id="state" value="{{this.data.mainInfo['state']}}" (input)="onChange($event.target)">
    </div>

  <div class="detail-item">
    <div class="detail-title">Country</div>
    <input type="text" id="country" value="{{this.data.mainInfo['country']}}" (input)="onChange($event.target)">
  </div>

  <div class="detail-item">
    <div class="detail-title">Zip Code</div>
    <input type="text" id="zipcode" value="{{this.data.mainInfo['zipcode']}}" (input)="onChange($event.target)">
  </div>

  <div class="save-btn" (click)="attemptSubmit()">Update profile</div>
  <br>
  <span id = "msg" class = "msg">Saving data...</span>
  <br><br><br><br>

</div>
