.page-title {
    font-family: "roboto";
    font-size: 28px;
    font-weight: 600;
    color: #203150;
}

.pf-basic {
    margin-top: 50px;
}

.pf-picture {
    float: left;
    margin-right: 25px;
    height: 80px;
    width: 80px;
    background-color: #203150;
    background-size: 80px;
    border-radius: 999px;
    cursor: pointer;
}

.first-content {
    float: left;
    font-family: "Roboto";
    line-height: 1.6;
}

.pf-name {
    font-size: 17px;
}

.pf-email {
    font-size: 14px;
    color: #203150;
    margin-bottom: 7px;
    font-weight: 300;
}

.basic-changes {
    color: #146ffb;
    font-size: 13px;
}

.change-password {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.two-factor {
    float: left;
    cursor: pointer;
}

.pf-detailed {
    margin-top: 180px;
    font-family: "Roboto";
    color: #203150;
}

.pf-title {
    font-weight: 400;
    font-size: 14px;
    color: #9DA3AF;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.detail-item {
    margin-bottom: 20px;
}

.detail-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.detail-item input {
    font-size: 14px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -10px;
    background-repeat: no-repeat;
    -webkit-transition: width 1.4s ease-in-out;
    transition: width 1.4s ease-in-out;
    margin-top: 5px;
    margin-bottom: 13px;
    color: #203150;
  }

  input {
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -10px;
    background-repeat: no-repeat;
    -webkit-transition: width 1.4s ease-in-out;
    transition: width 1.4s ease-in-out;
    margin-top: 5px;
    margin-bottom: 13px;
    color: #203150;
  }
  
  input:focus {
    outline: none;
      
    -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
    box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  }
  

  .save-btn {
    background-color: #146ffb;
    color: white;
    text-align: center;
    max-width: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .invalid {
    outline: none;
      
    -webkit-box-shadow: inset 0px 0px 5px 0px red;
    -moz-box-shadow: inset 0px 0px 5px 0px red;
    box-shadow: inset 0px 0px 5px 0px red;
  }

  .changed {
    outline: none;
      
    -webkit-box-shadow: inset 0px 0px 5px 0px goldenrod;
    -moz-box-shadow: inset 0px 0px 5px 0px goldenrod;
    box-shadow: inset 0px 0px 5px 0px goldenrod;
  }

  .errorMsg {
    color: red;
    font-size: 14px;
    display: none;
  }

  .msg {
    color: goldenrod;
    font-size: 14px;
    display: none;
  }