.main-container {
    padding-top: 17px;
    max-width: 90%;
    margin: 0 auto;
}

.onboarding-container {
    max-width: 50%;
    margin: 0 auto;
}

.app-nav {
    width: 15%;
    float: left;
    margin-left: 0px;
    position: fixed;
    
}

.app-basic-info {
    max-width: 300px;
    margin: 0 auto;   
}

.head {
  font-family: "Roboto";
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.head h1 {
  color: #203150;
}

.head h3 {
  color: #6B7587;
  font-weight: 300;
  line-height: 1.6;
  margin-top: -10px;
  font-size: 17px;
}

.card {
    background-color: white;
    border: 1px solid #EBEDF1;
    border-radius: 7px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: "roboto";
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.04);
}

.card h2 {
    color: #203150;
    margin-bottom: 20px;
}

form p {
    color: #6B7587;
    font-size: 14px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  display: none;
}

p {
    color: #6B7587;
    font-size: 14px;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: -10px;
  background-repeat: no-repeat;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  margin-top: 5px;
  margin-bottom: 13px;
  color: #203150;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
  box-shadow: inset 0px 0px 19px 0px rgba(0,0,0,0.07);
}

.invalid {
  outline: none;
    
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: inset 0px 0px 5px 0px red;
}

.next-step {
  cursor: pointer;
  width: 100%;
  padding: 18px;
  margin-top: 30px;
  font-size: 14px;
  color: white;
  background-color: #146ffb;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
  outline: none;
  -webkit-transition: width 1.4s ease-in-out;
  transition: width 1.4s ease-in-out;
  border-bottom: 3px solid #2260CC;
}

.next-step:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
  border-bottom: 1px solid #2260CC;
  border-top: 1px solid white;
}

.skip-step1 {
  color: #146ffb;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
}

.skip-step {
  float: right;
  margin-top: 12px;
  color: #146ffb;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
}


a {
  color: #203150;
}