<div class="main-container">
    <div class="head">
      <h1>Login to ThoughtSpace</h1>
      <h3>Join a team of your brightest peers to complete a project over the course of a semester for big names in industry.</h3>
    </div>
  
    <div class="onboarding-container">
      <div class="card">
        <h2>Email Verification</h2>
        <p>Oops! It looks like your email isn't verified. Verify your email to continue to the dashboard.</p>
        <p>Don't see an email? Check your spam folder, or <a class="skip-step1" (click)="resend()" >request another email</a>.</p>

        <p style="color:red;display:none" id="error">Please wait 30 seconds before sending another email.</p>

        <button class="skip-step" (click)="signout()" >Sign out →</button>
        <p id="sending" style="display:none;padding-top:10px; color:goldenrod">Sending verification email...</p>
        <p id="sent" style="display:none;padding-top:10px; color:green">Verification email resent.</p>
      </div>
    </div>
  </div>