<div class="container">
  <div class="sub-container">
    <div class="header">
      <div class="h-left">
        <div class="h-title">Good evening!</div>
        <div class="h-subtitle">You have <span class="notify-a">4</span> pending notifications.</div>
      </div>

      <div class="h-right">
        <div class="h-add-project" (click)="this.router.navigate(['dashboard/create'])"><span class="pnp">+</span> New project</div>
        <div class="h-help-project"><span class="pnp">?</span> Help</div>
      </div> 
    </div>

    <div class="overview-cards">
      <div class="grid-container">
        <div class="grid-item gi1" (click)="this.router.navigate(['dashboard/projects'])">
          <div class="oc-title">Projects<span style="color:#0087FF">.</span></div>
          <div class="oc-description">View and manage all your projects in one place.</div>
        </div>  

        <div class="grid-item gi2" (click)="this.router.navigate(['dashboard/analytics'])">
          <div class="oc-title">Analytics<span style="color:#0087FF">.</span></div>
          <div class="oc-description">View all your talent metrics and deploy feedback tools.</div>
        </div> 

        <div class="grid-item gi3" (click)="this.router.navigate(['dashboard/talent'])">
          <div class="oc-title">Talent<span style="color:#0087FF">.</span></div>
          <div class="oc-description">View your current talent pipeline and prospects.</div>
        </div> 
      </div>
    </div>

    <div class="analytics-card">
      <div class="a-title">Analytics<span style="color:#0087FF">.</span></div>
      <div class="graph-img-container">
        <img class="graph-img" src="./assets/images/graph.png">
      </div>
      <div class="graph-text">There are no analytics that have been recorded.</div>  
    </div>

    <div class="projects-card">
        <div class="p-title">Projects overview<span style="color:#0087FF">.</span></div>

        <table id="customers" *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">
          <tr>
            <th>Project title<span style="color:#0087FF">:</span></th>
            <th>Project role<span style="color:#0087FF">:</span></th>
            <th>engagement<span style="color:#0087FF">:</span></th>
          </tr>
          <tr *ngFor="let entry of this.currentUserService.currentUser.company.projects | keyvalue">
            <td>{{entry.value.name}}</td>
            <td><u>{{(entry.value.role !== undefined && entry.value.role !== null && entry.value.role !== '') ? entry.value.role : 'Software Developer'}}</u></td>
            <td><span class="n-students">5</span>&nbsp;&nbsp; <span style="color:#0DCB8F">▲</span><span style="color:#0DCB8F"> {{this.r(entry.value.name) + '.00%'}}</span></td>
          </tr>
        </table>          
    </div>

  </div>  
</div>