.container {
    text-align: left;
    position: relative;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 90px;
    z-index: 1;
}

.header {
    height: 80px;
}

.h-left {
    float: left;
}

.h-right {
    float: right;
}

.h-add-project {
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.h-help-project {
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    margin-right: 9px;
    cursor: pointer;
}

.pnp {
    margin-right: 7px;
}

.h-title {
    font-family: "colfax medium";
    font-size: 25px;
}

.h-subtitle {
    font-family: "colfax regular";
    font-size: 14px;
    margin-top: 8px;
    border-left: 2px solid #0087FF;
    padding-left: 10px;
    padding-top: 3px;
}

.notify-a {
    color: white;
    background-color:  #0087FF;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    padding-bottom: 0.5px;
    padding-top: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
} 

.overview-cards {
    margin-top: 40px;
    margin-bottom: 40px;
}

.overview-cards .grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
}
  
.overview-cards .grid-item {
    background-color:white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);

    cursor: pointer;
}


.gi1 {
    border-top: 1px solid #E1E1E1;
}

.gi2 {
    border-top: 1px solid #E1E1E1;
}

.gi3 {
    border-top: 1px solid #E1E1E1;
}

.oc-title {
    font-family: "colfax medium";
    font-size: 17px;
}

.oc-description {
    font-family: "colfax regular";
    font-size: 14px;
    margin-top: 7px;
}

.analytics-card {
    background-color:white;
    border: 1px solid #E1E1E1;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    margin-bottom: 40px;
}

.a-title {
    font-family: "colfax medium";
    font-size: 18px;
}

.graph-img-container {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
}


.graph-text {
    text-align: center;
    font-family: "colfax regular";
    color: #ACACAC;
    font-size: 13px;
    margin-top: 10px;
}

.projects-card {
    background-color:white;
    border: 1px solid #E1E1E1;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
}

.p-title {
    font-family: "colfax medium";
    font-size: 18px;
    padding-left: 20px;
}

#customers {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
  }
  
  #customers td, #customers th {
    border-top: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  
  

  
  #customers td {
    font-family: "colfax Regular";
    font-size: 14px;
  }

  #customers th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    color: black;
    font-family: "colfax Medium";
    font-size: 14px;
  }

.n-students {
    font-family: "colfax Medium";
}