<!--<div *ngIf="this.currentUserService && this.currentUserService.isReady && this.currentUserService.currentUser">-->
<!--  <app-dashboard-nav *ngIf="this.currentUserService.currentUser.isIntern" class="nav" [fixed]="true"></app-dashboard-nav>-->
<!--  <app-company-dashboard-nav *ngIf="!this.currentUserService.currentUser.isIntern" class="nav"></app-company-dashboard-nav>-->
<!--</div>-->

<!--<div class="container">-->
    <div class="title">Thoughtspace</div>
    <div class="sub-title">ENGAGE</div>
  
    <div class="ct-title" style="color: rgb(152, 112, 251);">Challenges</div>
    <div class="ct-post" style="background-color: rgb(152, 112, 251);" (click)="this.postOpen=true;this.state=0">Practice Challenge</div>
  
    <br><br><br><br> 
  
    <div class="grid-container">
      <div class="grid-item">
        <div class="card-title">
          <div class="ct-text" style="color:#50506D;">Javascript Challenge</div>
        </div>
        <div class="card-info">
          <div class="ci-text">Solve multiple algorithmic case studies.</div>
        </div>
        <div class="progress">
          <div style="width: 55px;height: 55px;">
            <canvas baseChart width="500" height="500"
                    [data]="[[65, 35]]"
                    [labels]="ssLabels"
                    [colors]="ssColors"
                    [legend]="false"
                    [options]="{tooltips: {enabled: false}}"
                    [chartType]="'doughnut'"></canvas>
            <div class="pct">65%</div>
          </div>
        </div>
      </div>
  
      <div class="grid-item">
        <div class="card-title">
          <div class="ct-text" style="color:#50506D;">Data Analytics Challenge</div>
        </div>
        <div class="card-info">
          <div class="ci-text">Manage and solve multiple architectural problems.</div>
        </div>
        <div class="progress">
          <div style="width: 55px;height: 55px;">
            <canvas baseChart width="500" height="500"
                    [data]="[[85, 15]]"
                    [labels]="ssLabels"
                    [colors]="ssColors"
                    [legend]="false"
                    [options]="{tooltips: {enabled: false}}"
                    [chartType]="'doughnut'"></canvas>
            <div class="pct">85%</div>
          </div>
        </div>
      </div>
  
      <div class="grid-item">
        <div class="card-title">
          <div class="ct-text" style="color:#50506D;">Quality Processing Challenge</div>
        </div>
        <div class="card-info">
          <div class="ci-text">Integrated approach that includes a communication network problems.</div>
        </div>
        <div class="progress">
          <div style="width: 55px;height: 55px;">
            <canvas baseChart width="500" height="500"
                    [data]="[[30, 70]]"
                    [labels]="ssLabels"
                    [colors]="ssColors"
                    [legend]="false"
                    [options]="{tooltips: {enabled: false}}"
                    [chartType]="'doughnut'"></canvas>
            <div class="pct">30%</div>
          </div>
        </div>
      </div>
  
      <div class="grid-item">
        <div class="card-title">
          <div class="ct-text" style="color:#50506D;">Challenge 4</div>
        </div>
        <div class="card-info">
          <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="progress">
          <div style="width: 55px;height: 55px;">
            <canvas baseChart width="500" height="500"
                    [data]="[[45, 55]]"
                    [labels]="ssLabels"
                    [colors]="ssColors"
                    [legend]="false"
                    [options]="{tooltips: {enabled: false}}"
                    [chartType]="'doughnut'"></canvas>
            <div class="pct">45%</div>
          </div>
        </div>
      </div>
  
      <div class="grid-item">
        <div class="card-title">
          <div class="ct-text" style="color:#50506D;">Challenge 5</div>
        </div>
        <div class="card-info">
          <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="progress">
          <div style="width: 55px;height: 55px;">
            <canvas baseChart width="500" height="500"
                    [data]="[[70, 30]]"
                    [labels]="ssLabels"
                    [colors]="ssColors"
                    [legend]="false"
                    [options]="{tooltips: {enabled: false}}"
                    [chartType]="'doughnut'"></canvas>
            <div class="pct">70%</div>
          </div>
        </div>
      </div>
  
      <div class="grid-item">
        <div class="card-title">
          <div class="ct-text" style="color:#50506D;">Challenge 6</div>
        </div>
        <div class="card-info">
          <div class="ci-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="progress">
          <div style="width: 55px;height: 55px;">
            <canvas baseChart width="500" height="500"
                    [data]="[[90, 10]]"
                    [labels]="ssLabels"
                    [colors]="ssColors"
                    [legend]="false"
                    [options]="{tooltips: {enabled: false}}"
                    [chartType]="'doughnut'"></canvas>
            <div class="pct">90%</div>
          </div>
        </div>
      </div>
    </div>
  <!--</div>-->
   
  <div *ngIf="this.postOpen">
    <div class="backgroundShader" (click)="this.postOpen=false;this.state=0"></div>
    <div class="popupBox" *ngIf="this.state < 2">
      Practice a Challenge
      <br><br>
      <div *ngIf="this.state==2">
        <div class = "post">Javascript Challenge</div>
      </div>
      <div *ngIf="this.state==1">
        <div class = "post" (click)="this.state=2">Javascript Challenge</div>
        <div class = "post">Data Analytics Challenge</div>
        <div class = "post">Quality Processing Challenge</div>
      </div>
      <div *ngIf="this.state==0">
        <div class = "post" (click)="this.state=1">Software Development Challenge</div>
        <div class = "post">Business Development Challenge</div>
        <div class = "post">Marketing Challenge</div>
        <div class = "post">Other Challenges</div>
      </div>
    </div>
  
    <div class="popupBoxChallenge" *ngIf="this.state == 2">
      <div class="c-title">Javascript Challenge</div>
      
      <p class="c-question">1. Which is not a primitive data type in Javascript?</p>
      
      <div class="mc">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="qstb" value="1"><p class="qst1">Number</p></mat-radio-button><br>
          <mat-radio-button class="qstb" value="2"><p class="qst1">String</p></mat-radio-button><br>
          <mat-radio-button class="qstb" value="3"><p class="qst1">List</p></mat-radio-button><br>
          <mat-radio-button class="qstb" value="4"><p class="qst1">Undefined</p></mat-radio-button>
        </mat-radio-group>
      </div>
    <br>
      <div>
        <p class="c-question">2. Explain the purpose of async/await.</p>
        <textarea class="txtar" placeholder="Free response area"></textarea>
      </div>
  
      <div>
        
        <p class="c-question">3. What is a closure in Javascript?</p>
        <textarea class="txtar" placeholder="Free response area"></textarea>
      </div>
  
      <div>
        
        <p class="c-question">4. How do you insert an element at the beginning of an array?</p>
        <textarea class="txtar" placeholder="Free response area"></textarea>
      </div>
  
      <div>
        
        <p class="c-question">5. What is the worst-case running time of bubble sort?</p>
        <textarea class="txtar" placeholder="Free response area"></textarea>
      </div>
  
      <br><br>
      <div class = "postC" (click)="this.postOpen=false;this.state=0">Submit Answers</div>
    </div>
  </div>
  