<div class="main-container">

  <div class="head">
    <h1>Thank you for choosing Thoughtspace!</h1>
    <div class="steps">
      <div class="step" [class.stepSel]="signupService.state === 0" (click)="jump(0)">Step 1</div>
      <div class="step"[class.stepSel]="signupService.state === 1" (click)="jump(1)">Step 2</div>
      <div class="step"[class.stepSel]="signupService.state === 2" (click)="jump(2)">Step 3</div>
    </div>
  </div>

  <div class="onboarding-container">
      <app-basic-info-business class="app-basic-info"></app-basic-info-business>
  </div>
</div>
