.main-container {
    padding-top: 17px;
    max-width: 90%;
    margin: 0 auto;
}

.onboarding-container {
    max-width: 50%;
    margin: 0 auto;
}

.app-nav {
    width: 15%;
    float: left;
    margin-left: 0px;
    position: fixed;

}

.app-basic-info {
    max-width: 300px;
    margin: 0 auto;

}

.head {
    font-family: "Roboto";
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.head h1 {
    color: #203150;
}

.head h3 {
    color: #6B7587;
    font-weight: 300;
    line-height: 1.6;
    margin-top: -10px;
    font-size: 17px;
}

.nav-bar {
    font-family: "roboto";
    margin-top: 50px;
}


.nav-bar ul li {
    list-style: none;
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    padding-left: 8px;
    cursor: pointer;
}

.nav-bar ul p {
    font-size: 11px;
    color: #97A1B2;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-left: 8px;
}

.active-nav {
    color: #0074FE;
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.07);
    border-radius: 5px;
}

.unactive-nav {
    color: #203150;
}

.steps {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.step {
  display: inline-block;
  font-family: "Colfax Regular";
  margin-left: 12.5px;
  margin-right: 12.5px;
  cursor: pointer;
}

.stepSel {
  border-bottom: 3px solid black;
}
