.main-container {
    padding-top: 17px;
    max-width: 90%;
    margin: 0 auto;
}

.onboarding-container {
    max-width: 50%;
    margin: 0 auto;
}

.app-nav {
    width: 15%;
    float: left;
    margin-left: 0px;
    position: fixed;
    
}

.app-basic-info {
    max-width: 300px;
    margin: 0 auto;
    
}