<div class="main-container">
    <app-head></app-head>
    <app-nav *ngIf="signupService.state===1 || signupService.showNav" class="app-nav"></app-nav>
    <div class="onboarding-container">
        <app-basic-info class="app-basic-info"></app-basic-info>
    </div>
</div>