<ul>
	<li *ngFor="let item of projectsdict | keyvalue">{{item.key}} 
		<ul>
			<li *ngFor="let enrolled of item.value"> {{uidtousername[enrolled]}} <br>
				<ul >
					<li *ngFor="let task of tasksbyuid[enrolled]">
						{{task.title}} <br/>
						<input type="text" name="feedback" [(ngModel)]="task.feedback">
						<button (click)="addFeedback(task,enrolled)">Add</button>
					</li>

				</ul>
			</li>

		</ul>


	</li>


</ul>
