<app-dashboard-nav class="nav" [fixed]="true"></app-dashboard-nav>
  
<div class="container">
    <div class="view">
        <br><br><br><br><br><br><br>
        
        <div id="timer"><p>{{getTime()}}</p></div>
        <br><br><br>
        
        <h2>Start your tasks!</h2>
        <br><br>
        <p *ngIf="this.state < 2">{{number}} tasks left.</p>
        <p *ngIf="this.state == 2">You completed 50 tasks in {{getTime()}}.</p>
        <button (click) = "begin()" *ngIf="this.state == 0">Begin Task</button>
        <div *ngIf="this.state == 1">
            <div *ngFor = "let i of getArray(5)">
                <button (click)="click($event)" class="btc" *ngFor="let j of getArray(10)">Task</button>
            </div>
        </div>
    </div>
</div>