.container {
    max-width: 80%;
    margin: 0 auto;
}

.view {
    float: right;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

h2 {
    font-family: "Roboto";
    font-size: 40px;
}

p {
    font-family: "Roboto";
    font-size: 20px;
}

button {
    
    cursor: pointer;
    width: 100%;
    padding: 18px;
    margin-top: 30px;
    font-size: 14px;
    color: white;
    background-color: #146ffb;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.17);
    outline: none;
    -webkit-transition: width 1.4s ease-in-out;
    transition: width 1.4s ease-in-out;
    border-bottom: 3px solid #2260CC;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button:hover {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.24);
    border-bottom: 1px solid #2260CC;
    border-top: 1px solid white;
}

.btc {
    width: 5%;
    margin: 10px;
}

#timer {
    float: right;
}

#timer p {
    font-family: "Roboto";
    font-size: 25px;
}