<div style="height: 100vh">
    <app-lp-nav></app-lp-nav>
    <app-lp-head></app-lp-head>
    <div class="btm-arrow">↓</div>
</div>
<app-lp-why-ts></app-lp-why-ts>
<app-lp-taketour></app-lp-taketour>
<app-lp-services></app-lp-services>
<app-lp-footer></app-lp-footer>

<br><br>