.btm-arrow {
    max-width: 20px;
    margin: 0 auto;
    font-family: "Colfax regular";
    margin-top: 78vh;
    border: 1px solid #BBBBBB;
    text-align: center;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 99px;
    color: #4F4F4F;
}