

.greeting {
    font-size: 20px;
    font-family: "Colfax Regular";
    color: black;
    margin-bottom: 10px;
}

.title {
    font-size: 30px;
    font-family: "Colfax Medium";
    color: black;
    margin-bottom: 19px;
    float: left;
    height: 20px;
} 

.actions {
    float: left;
    font-family: "Colfax Regular";
    background-color: black;
    padding: 8px;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 4px;
    margin-left: 15px;
    font-size: 14px;
    margin-top: -2px;
    cursor: pointer;
}
 
.stats {
    font-size: 14px;
    font-family: "Colfax Regular";
    color: black;
    margin-top: 60px;
}

.taskN {
    color: white;
    background-color: black;
    font-family: "Colfax Medium";
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 3px;
}

.menu-name {
    color: #2E1C89;
    border-bottom: 1px solid #2E1C89;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: "Colfax Medium";
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-item {
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 9px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Colfax Regular";
  }
  
  .menu-item:hover {
    background-color: #EFEFEF;
  }
  
  .actions-menu {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #DEE2E5;
    padding-right: 19px;
    margin-top:10px;
    margin-left:-10px;
    font-size: 14px;
    position: absolute;
    display: none;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  li {
    padding: none;
    list-style: none;
  }