<div *ngIf="this.project">
        <div class="dvdr"></div>

        <div class="greeting">Good evening, {{this.currentUserService.currentUser.mainInfo['firstname']}}!</div>
        <div class="title">Welcome to {{this.project.name}}.</div>
        <div class="actions"><span id="tools" (click)="toggleMenu()">Project tools +</span>
                <div id="actions-menu" class="actions-menu">
                        <ul>
                                <li class="menu-item" (click)="hideMenu()">Time Tracker</li>
                                <li class="menu-item" ><a routerLink="/dashboard/project/{{this.project.name}}/viewtasks" >View Tasks</a></li>

                                <li class="menu-item" ><a routerLink="/dashboard/project/{{this.project.name}}/addtask" >Add Task</a></li>

                                <li class="menu-item" (click)="hideMenu()">Billing</li>
                                <li class="menu-item" (click)="hideMenu()">File Submission</li>
                                <li class="menu-item" (click)="hideMenu()">Scheduling</li>
                        </ul>
                </div>
        </div>

        <div class="stats">This week you have completed <span class="taskN">14</span> tasks, with <span class="taskN">3</span> uncompleted.</div>
        <br><br>
        
        <router-outlet></router-outlet>
        <app-workspace-stats></app-workspace-stats>
        <app-dashboard-tasks></app-dashboard-tasks>
        <app-workspace-workhistory></app-workspace-workhistory>      
</div>