<div id="nav" class="nav"> 
  <!--Top nav-->
  <div class="top-nav">
    <ul>
        <div class="logo-container" (click)="this.router.navigate(['dashboard'])">
          <div class="logo-icon"></div>
          <div class="logo">thoughtspace</div>
        </div> 
        <li class="tn-search" *ngIf="this.hasSearch">
        <input type="text" (keydown)="searchBarDown($event)" (focus)="onFocus()" (keyup)="searchBarUp($event)" (blur)="blur()" placeholder="Search thoughtspace...">
        <div id="searchPrompts" *ngIf="prompts && prompts.length > 0">
            <div class="prompt" *ngFor="let result of prompts" (click)="switch(result.username)">

              <app-search-prompt [result]="result"></app-search-prompt>
 
            </div>
        </div> 
      </li>

      <div class="choices">
        <ul>
          <li [class.current-choice]="this.getCurrentView() === 'dashboard'" (click)="this.router.navigate(['dashboard'])">Internships</li>
          <li [class.current-choice]="this.getCurrentView() === 'engage'" class="mid-choice" (click)="this.router.navigate(['engage'])">Engage</li>
          
        </ul>
      </div>

      <div id="pf-picture" (click)="toggleMenu()" class="tn-pf-picture" [style.backgroundImage]="'url(' + this.currentUserService.currentUser.pfpPath + ')'"></div>
      <div id="profile-menu" class="profile-menu">
        <ul>
          <li class="menu-name" (click)="hideMenu();this.router.navigate(['dashboard'])">{{this.currentUserService.currentUser.mainInfo['firstname']}} {{this.currentUserService.currentUser.mainInfo['lastname']}}</li>
          <li class="menu-item" (click)="account()">Account</li>
          <li class="menu-item" (click)="hideMenu();this.router.navigate(['dashboard'], {fragment: 'notifications'})">Notification preferences</li>
          <li class="menu-item" (click)="hideMenu();this.router.navigate(['tasks'])">Tasks</li>
          <li class="menu-item">Upgrade</li>
          <li class="menu-item">Tell a friend</li>
          <li class="menu-item" (click)="hideMenu();this.router.navigate(['dashboard/ballofyarn'])">Ball of Yarn</li>
          <li class="menu-item" (click)="logout()">Log out</li>
        </ul>
      </div>
    </ul>
  </div>
</div>

