.nav {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #DEE2E5;
  position: fixed;
  background-color: white;
  z-index: 5;
}


.top-nav {
  padding: 1px;
  max-width: 90%;
  margin: 0 auto;

}

.top-nav ul {
  padding: 0;
}

.top-nav ul li {
  list-style: none;
}

.imgLogo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

}


.logo-container {
padding-right: 25px;
}

.logo {
  float: left;
  font-size: 19px;
  color: black;
  font-weight: 100;
  font-family: "Colfax Medium";
  padding-top: 1px;
  margin-right: 40px;
  cursor: pointer;
}

.logo-icon {
  width: 16px;
  height: 20px;
  border-radius: 9px;
  border: 2px solid black;
  border-right: 6px solid black;
  float: left;
  margin-right: 13px;
  margin-top: -1px;
  cursor: pointer;
}

.tn-logo {
  font-family: "Colfax regular";
  color: black;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  vertical-align: middle;
  display: table-cell;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 2px;
}

.tn-pf-picture {
  float: right;
  margin-left: 16px;
  background-color: #E9ECF3;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 999px;
  margin-top: -35px;
  cursor: pointer;
}

.profile-menu {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #DEE2E5;
  padding: 20px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 14px;
  position:fixed;
  right:140px;
  top:75px;
  display: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-div {
  display: table;
  float: left;
  cursor: pointer;
  margin-top: -7px;
}

.logo-div img {
  vertical-align: middle;
  display: table-cell;
  margin-right: 10px;
}

.menu-name {
color: #2E1C89;
border-bottom: 1px solid #2E1C89;
padding-bottom: 10px;
margin-bottom: 10px;
font-family: "Colfax Medium";
font-size: 16px;
cursor: pointer;
}

.menu-item {
color: black;
padding-top: 7px;
padding-bottom: 7px;
padding-left: 9px;
padding-right: 9px;
border-radius: 5px;
cursor: pointer;
font-family: "Colfax Regular";
}

.menu-item:hover {
  background-color: #EFEFEF;
}



.tn-search {
  float: left;
  margin-left: 60px;
  margin-top: 1px;
}

.tn-search input {
  border: none;
  font-family: "roboto";
  font-size: 18px;
  width: 350px;
  color: #78859D;
  font-weight: 300;
}

input:focus {
    outline: none;
}

.tn-search input::placeholder {
  color: #7B889E;
  font-weight: 300;
}

.prompt {
  background-color: white;
  height: 60px;
  width: 900px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #EEF3FC;
  cursor: pointer;
}

.prompt:hover {
  background-color: rgb(250, 250, 250);
}

#searchPrompts {
  position: absolute;
  margin-top: 10px;
}

.choices {
  margin-top: 22px;
  color: black;
  font-size: 14px;
  padding-top: 3px;
  font-family: "colfax regular";

}

.choices li {
  cursor: pointer;
}

.choices li:hover {
  opacity: 0.6;
}

.current-choice {
  color: black;
  font-family: "Colfax Medium";
  cursor: pointer;
  border-bottom: 2px solid black;
}

.choices ul li{
  display: inline-block;
}

.mid-choice {
  margin-left: 35px;
  margin-right: 35px;
}
