<!-- Contact Information -->
<div [hidden]="signupService.state!==0" class="card">
  <h2>Contact Information</h2>

  <form (keydown.enter)="$event.preventDefault();next()">

    <input class="s-0" id="firstname" placeholder="First Name" style="float:left; max-width: 48%;" type="text" (input)="onChange($event.target)">
    <input class="s-0" id="lastname" placeholder="Last Name" style="float:right; max-width: 48%;" type="text" (input)="onChange($event.target)">
    <input class="s-0" id="email" placeholder="Work Email" type="email" (input)="onChange($event.target)">
    <span id = "errEmail2" class = "errorMsg">Email must be a valid email!</span>
    <span id = "errEmail" class = "errorMsg">Email is already in use!</span>
    <input class="s-0" id="phone" placeholder="Work Mobile Number" type="tel" (input)="onChange($event.target)">
    <input id="jobtitle" placeholder="Job Title" type="text">

    <br><br>
    <input type="checkbox" id="checkbox" class="terms-cb s-0" name="terms" (input)="onChange($event.target)">
    <label class="terms" style="margin-left: 6px; color: black; font-size: 14px;" for="terms" (click)="toggleCB()">I accept the <a href="" style="color: #FF0070;">Terms of Use</a> &amp; <a href="" style="color: #FF0070;"logi>Privacy Policy</a>.</label>

  </form>

  <button class="next-step" (click)="next()">Company Information →</button>
  <button class="skip-step" style="float:left" (click)="this.router.navigate(['/signup'])" >Student signup</button>
  <button class="skip-step" (click)="this.router.navigate(['/login'])" >Already have an account? Log in here!</button>
</div>

<!-- Address & Location -->
<div [hidden]="signupService.state!==1" class="card">
  <h2>Company Information</h2>
  <form (keydown.enter)="$event.preventDefault();next()">

    <div [hidden]="this.registeredCompanyName === null">
      <h2>{{this.registeredCompanyName}}</h2>
      <p>Looks like {{this.registeredCompanyName}} is already a registered company. Would you like to request to join the page?</p>
      <input type="checkbox" id="requestJoin" class="terms-cb">
      <label class="terms" style="margin-left: 6px; color: black; font-size: 14px;" (click)="toggleCB4()">Request to join {{this.registeredCompanyName}} company page</label><br>
    </div>
    <div [hidden]="this.registeredCompanyName !== null">
      <input class="s-1" id="company" placeholder="{{this.companyName}}" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="website" placeholder="Company Website" type="text" (input)="onChange($event.target)">
      <br><br><br>
      <input class="s-1" id="street" placeholder="Company Address" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="city" placeholder="City" style="float:left; max-width: 32%;" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="state" placeholder="State" style="float:middle; max-width: 32%;margin-left:10px" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="country" placeholder="Country" style="float:right; max-width: 32%;" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="zipcode" placeholder="Zip Code" type="text" (input)="onChange($event.target)">
      <br><br><br>
      <input class="s-1" id="description" placeholder="Description" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="industry" placeholder="Industry" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="size" placeholder="Company Size" type="text" (input)="onChange($event.target)">
      <input class="s-1" id="companyEmail" placeholder="Company Contact Email" type="email" (input)="onChange($event.target)">
      <br><br><br>
      <input type="checkbox" id="autoApprove" class="terms-cb">
      <label class="terms" style="margin-left: 6px; color: black; font-size: 14px;" (click)="toggleCB2()">Auto approve recruiters with same email</label><br>
      <input type="checkbox" id="allowMsg" class="terms-cb">
      <label class="terms" style="margin-left: 6px; color: black; font-size: 14px;" (click)="toggleCB3()">Allow students to message</label>
    </div>

  </form>
  <button class="next-step" (click)="next()">Username &amp; Password →</button>
</div>

<!-- Contact Information -->
<div [hidden]="signupService.state!==2" class="card">
  <h2>Username &amp; Password</h2>
  <form (keydown.enter)="$event.preventDefault();finish()">

    <input class="s-2" id="username" placeholder="Username" type="text" (input)="onChange($event.target)">
    <input class="s-2" id = "password" placeholder="Password" type="password" (input)="onChange($event.target)">
    <span id = "errPass" class = "errorMsg">Password needs six characters!</span>
    <input class="s-2" id = "confirmPassword" placeholder="Confirm Password" type="password" (input)="onChange($event.target)">
    <span id = "errConfirm" class = "errorMsg">Passwords must match!</span>
  </form>
  <button class="next-step" (click)="finish()">Finish →</button>
</div>
