.container {
  max-width: 80%;
  margin: 0 auto;
}

.view {
  float: right;
  width: 100%;
  margin-top: 40px;
}


  .tn-search {
    float: left;
    margin-left: 20px;
  }
  
  .tn-search input {
    border: none;
    font-family: "roboto";
    font-size: 18px;
    width: 350px;
    color: #78859D;
    font-weight: 300;
  }
  
  input:focus {
      outline: none;
  }
  
  .tn-search input::placeholder {
    color: #7B889E;
    font-weight: 300;
  }

  h2 {
      font-family: "Roboto";
      font-size: 40px;
  }
  
  .main-nav {
    margin-top: 80px;
    padding-left: 260px;
    padding-right: 80px;
  }
  
  .main-nav-s1 {
    height: 160px;
  }
  
  .pf-picture {
    float: left;
    width: 160px;
    height: 160px;
    line-height: 160px;
    background: #E9ECF3;
    background-size: 160px;
    background-repeat: no-repeat;
    border-radius: 999px;
    margin-right: 36px;
    color: rgba(0, 0, 0, 0);
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
  }
  
  .pf-picture:hover {
    color: white;
  }
  
  #editoverlay {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 160px;
    height: 160px;
  }
  
  .pf-content {
    float: left;
  }
  
  .pf-s1 {
    width: 100%;
    margin-top: -10px;
  }
  
  .pf-s1 {
    font-family: "roboto";
  }
  
  .pf-name {
    font-size: 20px;
    color: #424956;
  }
  
  .pf-university {
    color: #AAAFB9;
    margin-top: -9px;
    font-weight: 300;
  }
  
  .s1-p2 {
    margin-top: 24px;
  }
  
  .s1-p2 ul {
    padding: 0;
    margin-top: -8px;
  }
  
  .s1-p2 ul li {
    list-style: none;
    display: inline;
    background-color: #EEF3FC;
    color: #4F535B;
    font-size: 14px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 7px;
  }
  
  .s1-p3 {
    width: 700px;
    margin-top: 20px;
  }
  
  .s1-p3 p {
    font-size: 14px;
    line-height: 1.5;
    color: #70757D;
  }
  
  .pf-options {
    margin-top: 25px;
  }
  
  
  .pf-edit {
    float: left;
    border: 1px solid #146ffb;
    background-color: #146ffb;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin-right: 14px;
    cursor: pointer;
  }
  
  .pf-view-resume {
    float: left;
    border: 1px solid #9EA6AC;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #606468;
    margin-right: 14px;
  }
  
  #descEdit {
    font-family: "roboto";
    font-size: 14px;
    color: #70757D;
    width: 102%;
    padding: 12px 10px 0px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 13px;
    overflow: hidden;
  }
  
  #descEdit:focus {
    outline: none;
      
    -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.07);
    box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.07);
  }

  .prompt {
    background-color: white;
    height: 60px;
    width: 900px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #EEF3FC;
    cursor: pointer;
  }

  .prompt:hover {
    background-color: rgb(250, 250, 250);
  }

  #searchPrompts {
    position: absolute;
    margin-top: 10px;
  }