<app-dashboard-nav class="nav" [fixed]="true"></app-dashboard-nav>
  
<div class="container">
    <div class="view">
        <div class="nav"> 
            <div class="main-nav" *ngIf="this.done">
              <h2 id="notfound" style="display:none"><br>User not found.</h2>
              <div *ngIf="this.intern" class="main-nav-s1">
                <div class="pf-picture" id="pf-picture" [style.backgroundImage]="'url(' + this.intern.pfpPath + ')'"></div>
          
                <div class="pf-content">
                  <div class="pf-s1">
                    <div class="s1-p1">
                      <h2 class="pf-name">{{this.intern.mainInfo['firstname']}} {{this.intern.mainInfo['lastname']}}</h2>
                      <p *ngIf="this.intern.university" class="pf-university">{{this.intern.university}} '{{this.intern.mainInfo['year'].substr(2, 2)}}</p>
                    </div>
                    <div class="s1-p2">
                      <ul>
                        <li *ngIf="this.intern.mainInfo['careerPath']">{{this.intern.mainInfo['careerPath']}}</li>
                        <li *ngIf="this.intern.mainInfo['major']">{{this.intern.mainInfo['major']}}</li>
                      </ul>
                    </div>
                    <div class="s1-p3">
                      <p id="descShow">{{this.intern.skillsInfo['description']}}</p>
                    </div>
                    <div class="pf-options">
                      <div class="pf-btns">
                        <div class="pf-view-resume">View resume</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
    </div>
</div>



<!-- <app-dashboard-nav [fixed]="false" [hasSearch]="true"></app-dashboard-nav>
<div class="nav"> 
  <div class="main-nav" *ngIf="this.done">
    <h2 id="notfound" style="display:none"><br>User not found.</h2>
    <div *ngIf="this.intern" class="main-nav-s1">
      <div class="pf-picture" id="pf-picture" [style.backgroundImage]="'url(' + this.intern.pfpPath + ')'"></div>

      <div class="pf-content">
        <div class="pf-s1">
          <div class="s1-p1">
            <h2 class="pf-name">{{this.intern.mainInfo['firstname']}} {{this.intern.mainInfo['lastname']}}</h2>
            <p *ngIf="this.intern.university" class="pf-university">{{this.intern.university}} '{{this.intern.mainInfo['year'].substr(2, 2)}}</p>
          </div>
          <div class="s1-p2">
            <ul>
              <li *ngIf="this.intern.mainInfo['careerPath']">{{this.intern.mainInfo['careerPath']}}</li>
              <li *ngIf="this.intern.mainInfo['major']">{{this.intern.mainInfo['major']}}</li>
            </ul>
          </div>
          <div class="s1-p3">
            <p id="descShow">{{this.intern.skillsInfo['description']}}</p>
          </div>
          <div class="pf-options">
            <div class="pf-btns">
              <div class="pf-view-resume">View resume</div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div> -->