<div *ngIf = "this.currentUserService.currentUser.isIntern">
    <app-profile-pic-upload #profilePicUpload [dAccount]="main.dView.dAccount"></app-profile-pic-upload>
    <app-dashboard-nav class="nav" [fixed]="true"></app-dashboard-nav>
    <app-dashboard-main class="rest" #main></app-dashboard-main>
</div>

<div *ngIf = "!this.currentUserService.currentUser.isIntern">
    <app-company-dashboard></app-company-dashboard>
</div>