<div class="container" *ngIf="this.currentUserService.currentUser">
  <div class="view-title">
    <!-- <div class="view-title">Internships</div> -->
    <app-search #search [hidden]="this.view !== 'search'"></app-search>
    <app-dashboard-account #account [hidden]="this.view !== 'account'"></app-dashboard-account>
    <app-dashboard-notify-settings [hidden]="this.view !== 'notifications'"></app-dashboard-notify-settings>
    <!--<app-dashboard-notify [hidden]="this.view !== ''"></app-dashboard-notify>-->
    <app-dashboard-workspace [hidden]="this.view !== 'workspace'"></app-dashboard-workspace>
    <app-dashboard-practice [hidden]="this.view !== 'practice'"></app-dashboard-practice>
    <app-dashboard-evaluate [hidden]="this.view !== 'evaluate'"></app-dashboard-evaluate>
    <div [hidden]="this.view !== 'ballofyarn'">
      <img style="width:1000px;height:1000px;" src = "https://i.imgur.com/7cGnBjg.jpg" />
    </div>
    <!-- <app-dashboard-completeprofile [hidden]="this.view !== ''"></app-dashboard-completeprofile> -->
    <!-- <app-dashboard-internships [hidden]="this.view !== 'internships'"></app-dashboard-internships>
    <app-dashboard-engage [hidden]="this.view !== 'engage'"></app-dashboard-engage>
    <app-dashboard-rewards [hidden]="this.view !== 'rewards'"></app-dashboard-rewards> -->
    <div class="container2">
      <div *ngIf = "this.view === ''">
        <div *ngFor="let project of this.currentUserService.projects">
            <div class="card" *ngIf="!project.accepted">
                <h2>You were invited to join the <span class="p-name">{{project.name}}</span> project!</h2>
                <button class="decline" (click)="accept(project)">Decline</button>
                <button class="accept" (click)="accept(project)">Accept offer</button>
                
                <br><br><br>
                <p><span class="p-name">Role:</span> {{project.role}}</p>
                <p><span class="p-name">Description:</span> {{project.description}}</p>
                <div *ngFor="let entry of project.hardSkills[0] | keyvalue" class = "tag">
                  {{entry.key}}
                </div>
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div> 