h2 {
    font-family: "Colfax Regular";
    font-size: 20px;
    float: left;
    max-width: 70%;
}

p {
    font-family: "Colfax Regular";
    font-size: 18px;
}

.card {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px;
    height: 200px;
}


.accept  {
    font-family: "Colfax Regular";
    cursor: pointer;
    padding: 10px;
    padding-top: 12px;
    font-size: 14px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    max-width: 30%;
    float: right;
}

.decline  {
    font-family: "Colfax Regular";
    cursor: pointer;
    padding: 10px;
    padding-top: 12px;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    max-width: 30%;
    float: right;
    margin-left: 9px;
}

.p-name {
    font-family: "Colfax medium";
}


.tag {
    display: inline-block;
    background-color: #E5EBEF;
    color: #64696C;
    margin: 5px;
    padding: 8px;
    padding-top: 10px;
    border-radius: 3px;
    font-family: "Colfax regular";
    font-size: 15px;
    padding-right: 11px;
    padding-left: 11px;
}