.container {
    width: 100%;
    padding-top: 90px;
}

.header {
    text-align: left;
}

.header-info {
    float: left;
}

.header-title {
    font-family: "colfax medium";
    font-size: 25px;
}

.header-subtitle {
    font-family: "colfax regular";
    font-size: 14px;
    margin-top: 8px;
}

.header-configure {
    float: right;
}

.h-add-project {
    border: 1px solid #006DCE;
    background-color: #0087FF;
    color: white;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.h-help-project {
    border: 1px solid #D3D3D3;
    background-color: white;
    color: black;
    font-family: "Colfax Regular";
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 9px;
    border-radius: 4px;
    float: right;
    margin-right: 9px;
}

.nav {
    margin-top: 100px;
    border-bottom: 1px solid #E5E5E5;
    height: 30px;
}



.nav-item {
    float: left;
    margin-right: 30px;
    font-family: "colfax regular";
    font-size: 14px;
    color: black;
    cursor: pointer;
}

p {
    font-family: "colfax regular";
    font-size: 14px;
    color: black;
}

.it-current {
    font-family: "colfax medium";
}

.it-i img {
    width: 18px;
    margin-right: 8px;

}

.it-i {
    float: left;
    margin-top: -2px;
}

.it-t {
    float: right;
}

.p-card {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 27%;
    float: left;
    background-color:white;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-top: 4px solid #00AEFF;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.06);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.top-left {
    float: left;
    width: 70%;
}

.top-right {
    float: right;
    width: 20%;
}

.pc-title {
    font-family: "colfax medium";
    font-size: 11px;
    text-align: left;
    margin-bottom: 3px;
}

.pc-name {
    font-family: "colfax regular";
    font-size: 15px;
    text-align: left;
    height: 30px;
}

.pc-pct {
    font-family: "colfax regular";
    font-size: 15px;
    text-align: center;
}

.post {
    font-family: "Colfax regular";
    padding: 7px;
    padding-top: 9px;
    text-align: center;
    background-color: rgb(152, 112, 251);
    color: white;
    font-size: 15px;
    border-radius: 3px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
  }

  .backgroundShader {
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
  }

  .popupBox {
    position:fixed;
    z-index:11;
    top:200px;
    text-align:center;
    align-items:center;
    justify-content:center;
    color: black;

    width: 500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #D8D8D8;
    background-color: white;
    font-size: 40px;
    font-family: "Colfax Regular";
  }


.pop-title {
    font-family: "colfax medium";
    font-size: 30px;
    text-align: left;
    margin-bottom: 3px;
    text-align: center;
}

.pop-name {
    font-family: "colfax regular";
    font-size: 20px;
    text-align: center;
}

.pc-uni {
    font-family: "colfax regular";
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    height: 30px;
}
.pc-hs {
  font-family: "colfax regular";
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}

.hard-skills {
    font-size: 14px;
    max-width: 80%;
    margin: 0 auto;
    font-family: "Colfax regular";
    line-height: 2;
    margin-top: 10px;
}

.hard-skills span {
    color: #0091ED;
    background-color: #EAF4FA;
    border-radius: 2px;
    margin: 2px;
    padding: 3px;
    padding-top: 5px;

}
