<div class="container">

  <div class="header">
    <div class="header-info">
      <div class="header-title">Talent<span style="color: #0087FF">.</span></div>
      <div class="header-subtitle">View and manage all your talent.</div>
    </div>
    <div class="header-configure">
        <div class="h-add-project" (click)="this.router.navigate(['dashboard/create'])"><span class="pnp">+</span> New project</div>
      <div class="h-help-project"><span class="pnp">?</span> Help</div>
    </div>
  </div>

  <div class="nav">
    <div class="nav-item" [class.it-current] = "this.filter === 'all'" (click)="this.filter = 'all'">
      <div class="it-i"><img src="https://image.flaticon.com/icons/svg/179/179979.svg"></div>
      <div class="it-t">View All</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.filter === 'software'" (click)="this.filter = 'software'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/179/179996.svg"></div>
        <div class="it-t">Software Development</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.filter === 'business'" (click)="this.filter = 'business'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/179/179972.svg"></div>
        <div class="it-t">Business Development</div>
    </div>
    <div class="nav-item" [class.it-current] = "this.filter === 'marketing'" (click)="this.filter = 'marketing'">
        <div class="it-i"><img src="https://image.flaticon.com/icons/svg/180/180002.svg"></div>
        <div class="it-t">Marketing</div>
    </div>
  </div>

  <br>

  <div *ngFor="let entry of this.getShown()">
    <div class="p-card" (click)="this.viewing = entry[0]">
      <div class="top-left">
        <div class="pc-title">{{entry[0].mainInfo['firstname'] + ' ' + entry[0].mainInfo['lastname']}}</div>
        <div class="pc-name">{{entry[0].mainInfo['major']}}</div>
        <br>
        <div class="pc-uni">{{entry[0].university}}</div>
        <br>
        <div class="pc-hs" style="color: #0091ED">{{entry[1].length + ' relevant skill' + (entry[1].length === 1 ? '' : 's')}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="this.view === 'created'">
    <br><p>Created</p>
  </div>

  <div *ngIf="this.view === 'starred'">
    <br><p>Starred</p>
  </div>

  <div *ngIf="this.view === 'team'">
    <br><p>Team</p>
  </div>

  <div *ngIf="this.view === 'manage'">
    <br><p>Manage</p>
  </div>

  <br><br><br><br>
  <br><br><br><br>

</div>

<div *ngIf="this.viewing !== null">
  <div class="backgroundShader" (click)="this.viewing=null"></div>
  <div class="popupBox">
    <div class="pop-title">{{this.viewing.mainInfo['firstname'] + ' ' + this.viewing.mainInfo['lastname']}}</div>
    <div class="pop-name">{{this.viewing.mainInfo['major']}}</div>
    <br>
    <div class="pop-name">{{this.viewing.university}}</div>
    <br>
    <div class="hard-skills"><span *ngFor="let skill of this.viewing.mainInfo['hardSkills']">{{skill}}</span></div>
  </div>
</div>
