<div class="nav">
  <div [hidden]="!results" class="container">
    <h2>Search results:</h2>
    <div class="result" *ngFor="let result of results" (click)="this.router.navigate(['profiles/' + result.username])">
        <div class="pf-picture" id="pf-picture-{{result.uid}}" [style.backgroundImage]="'url(' + result.pfpPath + ')'"></div>
  
        <div class="pf-content">
          <div class="pf-s1">
            <div class="s1-p1">
              <h2 class="pf-name">{{result.mainInfo['firstname']}} {{result.mainInfo['lastname']}}</h2>
              <p *ngIf="result.university" class="pf-university">{{result.university}} '{{result.mainInfo['year'].substr(2, 2)}}</p>
              <p *ngIf="result.company" class="pf-university">Recruiter at {{result.company}}</p>
            </div>
            <div class="s1-p2">
              <ul>
                <li *ngIf="result.mainInfo['careerPath']">{{result.mainInfo['careerPath']}}</li>
                <li *ngIf="result.mainInfo['major']">{{result.mainInfo['major']}}</li>
              </ul>
            </div>
    
          </div>
        </div>
    </div>
  </div>
</div>