  .nav {
    width: 100%;
    font-weight: normal;
    margin-left: -60px;
  }
  
  .pf-picture {
    float: left;
    width: 100px;
    height: 100px;
    background: #E9ECF3;
    background-size: 100px;
    background-repeat: no-repeat;
    border-radius: 999px;
    margin-right: 18px;
  }
  
  .pf-picture:hover {
    color: white;
  }

  .pf-content {
    float: left;
    margin-top: 5px;
  }
  
  .pf-s1 {
    width: 100%;
    margin-top: -10px;
  }
  
  .pf-s1 {
    font-family: "roboto";
  }
  
  .pf-name {
    font-size:16px;
    color: #424956;
  }

  h2 {
    font-size: 20px;
    font-family: "roboto";
    color: #424956;
  }
  
  .pf-university {
    color: #AAAFB9;
    margin-top: -9px;
    font-weight: 300;
    font-size: 12px;
  }
  
  .s1-p2 {
    margin-top: 24px;
  }
  
  .s1-p2 ul {
    padding: 0;
    margin-top: -8px;
  }
  
  .s1-p2 ul li {
    list-style: none;
    display: inline;
    background-color: #EEF3FC;
    color: #4F535B;
    font-size: 12px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 7px;
  }
  
  .s1-p3 {
    margin-top: -20px;
  }
  
  .s1-p3 p {
    font-size: 12px;
    line-height: 1.5;
    color: #70757D;
  }

  .result {
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 20px;
    margin-top: 11px;
    border: 1px solid #E6E6E6;
    cursor: pointer;
    border-radius: 8px;
  }

  .result:hover {
    background-color: rgb(250, 250, 250);
  }