.container {
    height: 90vh;
    background-color: #f5f7fa;
}

.main {
    max-width: 80%;
    margin: 0 auto;
}

.left {
    margin-top: 17vh;
    float: left;
    width: 50%;
}

.left img {
    width: 70%;
}

.right {
    float: right;
    width: 50%;
    margin-top: 17vh;
}

.right h1 {
    font-family: "Colfax Regular";
    font-size: 43px;
    width: 100%;
}

.right p {
    font-family: "Colfax Regular";
    font-size: 18px;
    line-height: 1.8;
}

.bold-t {
    font-family: "Colfax Medium";
}