<div class="container">
  <div class="main">
    <div class="right">
      <h1>Your Modern Solution to an Evolving Workplace.</h1>
      <p>The Thoughtspace platform was designed to <span class="bold-t">connect</span> students with industry for the purpose of <span class="bold-t">building</span> the workforce of the future the way it should have been done all along. 
        <br><br>
        With the click of a few buttons, source, train, develop, and hire <span class="bold-t">quality talent</span> year round. On demand today, on demand tomorrow, on demand forever, Thoughtspace.</p>
    </div>

    <div class="left">
      <img src="https://i.imgur.com/Av6bwp6.png">
    </div>
  </div>
</div>