<div class="head">
  <div class="head-left"> 
    <h1>The Future of Engagement, Talent &amp; <span class="highlight"><span>Internships</span></span>.</h1>
    <h2>Engage with the future of workforces with challenges and engagment pipelines form diverse companies.</h2>

    <div class="hl-btns">
      <div class="slider">Tap!</div>
      <input class="slider-in" placeholder="Enter your email &amp; dare to tap..">
    </div>
    <p>Create an account for free</p>
  </div>
  <div class="head-right">
    <img src="./assets/illustrations/11_collaboration2.svg">
  </div> 
</div>