.head {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 120px;
}


.head-left { 
    width: 50%;
    float: left;
}

.head-left h1 {
    color: black;
    font-size: 35px;
    font-family: "Colfax medium";
    width: 80%;
}

.head-left h2 {
    color: black;
    font-size: 18px;
    font-family: "Colfax regular";
    line-height: 1.5;
    width: 70%;
    margin-top: 15px;
    border-left: 4px solid #FF0070;
    padding-left: 15px;
}


.head-left a {
    color: black;
}

.head-left p {
    font-family: "Colfax regular";
    color: #FF0070;
}

.hl-btns {
    margin-top: 60px;
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 422px;
    padding: 6px;
    border-radius: 5px;
    background-color: black;
}




.slider {
    float: left;
    background-color: #FF0070;
    border: 1px solid #AF024E;
    color: white;
    padding-bottom: 11px;
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "colfax regular";
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.slider-in {
    float: left;
    font-family: "colfax regular";
    font-size: 20px;
    padding: 11px;
    padding-top: 13px;
    border: none;
    width: 310px;
    background-color: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-left: 5px;
}

.slider-in::placeholder {
    color: white;
    opacity: 0.8;
}

.slider-in:focus {
    outline: none;
}

.hlb-create {
    float: left;
    color: white;
    font-size: 17px;
    background-color: #2E1C89;
    border: 1px solid #2E1C89;
    padding: 17px;
    font-family: "Colfax light";
}

.hlb-explore {
    float: left;
    color: black;
    font-size: 17px;
    background-color: white;
    border: 1px solid #797A7A;
    padding: 18px;
    font-family: "Colfax light";
    margin-left: 10px;
}

.head-right {
    width: 50%;
    float: right;
    height: 40px;
    padding-top: 0px;
}

.head-right img {
    width: 90%;
    margin-top: -60px;
}
