.container {
    max-width: 90%;
    margin: 0 auto;
}

.space {
    height: 70px;
}

.menu {
    float: left;
    width: 16%;
    position: fixed;
    margin-top: 40px;
}

.view {
    float: right;
    width: 75%;
    margin-top: 40px;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.view1 {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}