<div class="dashboard-main">
    <div class="space"></div>
    <div class="container">
        <app-dashboard-menu [dView]="dView" class="menu"></app-dashboard-menu>
        <div class="view">
            <div class="view1">
                <app-dashboard-view #dView></app-dashboard-view>
            </div>
        </div>
    </div>
</div>